{% extends 'government/base.html' %}
{% block extra_css %}
    <style>

        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-create {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-create-module {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
            z-index: 1;
        }

        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .individual-create-module p {
            margin: 0.3rem 2rem 1rem;
            z-index: 1;
        }

        .individual-create-module b, .individual-create-module i {
            font-size: 1.2rem;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/echarts.min.js"></script>
    <script type="text/javascript">

    </script>
{% endblock %}
{% block title %}
    gov-forecast
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header1.html' %}
    <section class="individual-create">
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/dataicon/zhexian.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Duration forcast") }}</h2>
                <div class="pico" style="display: inline-block; margin-left: 5rem">
                    <label for="durationSelect"> </label>
                    <select id="durationSelect" style="font-family: Sunflower-Medium, sans-serif">
                        {% for wt in wasteTypes %}
                            <option value="{{ wt.name }}">{{ wt | enum_to_string }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p>This 3D chart displays the <b>predicted average values</b> for all types of waste. These calculations are
                based
                on the <b>weight and duration time</b> of all orders for each type of waste. To avoid the
                influence of
                <i>outliers and extreme values</i>, relevant machine learning algorithms have been used for
                <i>centralization calculations</i>.
            </p>
            <div id="chart1"
                 style="width: 92%; height: 30rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;
border-radius: 0.6rem; z-index: 1">
            </div>

        </div>
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/dataicon/zhexian.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Weight forcast") }}</h2>
                <div class="pico" style="display: inline-block; margin-left: 5rem">
                    <label for="weightSelect"> </label>
                    <select id="weightSelect" style="font-family: Sunflower-Medium, sans-serif">
                        {% for wt in wasteTypes %}
                            <option value="{{ wt.name }}">{{ wt | enum_to_string }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p>The chart below shows the total weight distribution of <b>21 types of waste in a year.</b> (include
                today)<br>
                You can dynamically display the data intensity by pulling the <i>time bar</i> below
            </p>
            <div id="chart2"
                 style="width: 92%; height: 30rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;">
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer1.html' %}
    <script>
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/government/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });

            const rootStyle = getComputedStyle(document.documentElement);
            let color1 = rootStyle.getPropertyValue('--sky1').trim();
            let color2 = rootStyle.getPropertyValue('--land3').trim();
            let color3 = rootStyle.getPropertyValue('--skin2').trim();
            let color4 = rootStyle.getPropertyValue('--land1').trim();

            let c1 = rootStyle.getPropertyValue('--luotianyi1').trim();
            let c2 = rootStyle.getPropertyValue('--luotianyi2').trim();
            let c3 = rootStyle.getPropertyValue('--luotianyi3').trim();
            let c4 = rootStyle.getPropertyValue('--luotianyi4').trim();
            let c5 = rootStyle.getPropertyValue('--luotianyi5').trim();
            let text = rootStyle.getPropertyValue('--dark-orange').trim();

        });
    </script>
{% endblock %}