{% extends 'government/base.html' %}
{% block extra_css %}
    <style>

        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-create {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-create-module {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
            z-index: 1;
        }

        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .individual-create-module p {
            margin: 0.3rem 2rem 1rem;
            z-index: 1;
        }

        .individual-create-module b, .individual-create-module i {
            font-size: 1.2rem;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/echarts.min.js"></script>
    <script type="text/javascript">
        let durationDataset = {{ durationDataset | tojson }};
        let weightDataset = {{ weightDataset | tojson }};
        let durationTrend = {{ durationTrend | tojson }};
        let weightTrend = {{ weightTrend | tojson }};
    </script>
{% endblock %}
{% block title %}
    {{ _("gov-forecast") }}
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header1.html' %}
    <section class="individual-create">
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/dataicon/zhexian.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Duration forcast") }}</h2>
                <div class="pico" style="display: inline-block; margin-left: 5rem">
                    <label for="durationSelect"> </label>
                    <select id="durationSelect" style="font-family: Sunflower-Medium, sans-serif">
                        {% for wt in wasteTypes %}
                            <option value="{{ wt.name }}">{{ wt | enum_to_string }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p>{{ _("The chart below is for ") }}<i>{{ _("reference only") }}</i>. {{ _("The") }} <i>{{ _("average completion
                    duration") }}</i> {{ _("of a certain waste") }}
                {{ _("in") }} <b>{{ _("30 days") }}</b> {{ _("is calculated and the completion period in the next") }}
                <b>{{ _("5 days") }}</b> {{ _("is predicted") }}
            </p>
            <div id="chart1"
                 style="width: 92%; height: 30rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;
border-radius: 0.6rem; z-index: 1">
            </div>
        </div>
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/dataicon/zhexian.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Weight forcast") }}</h2>
                <div class="pico" style="display: inline-block; margin-left: 5rem">
                    <label for="weightSelect"> </label>
                    <select id="weightSelect" style="font-family: Sunflower-Medium, sans-serif">
                        {% for wt in wasteTypes %}
                            <option value="{{ wt.name }}">{{ wt | enum_to_string }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p>{{ _("The chart below is for ") }}<i>{{ _("reference only") }}</i>. {{ _("The") }} <i>{{ _("average completion
                    weight")}}</i>
                {{ _("of a certain waste in")}}
                <b>{{ _("30 days")}}</b> {{_("is calculated and the completion period in the next")}} <b>{{ _("5 days")}}</b>
                {{_("is predicted")}}
            </p>
            <div id="chart2"
                 style="width: 92%; height: 30rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;">
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer1.html' %}
    <script>
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/government/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });

            const chart1 = echarts.init(document.getElementById('chart1'), null, {renderer: 'canvas'});
            const chart2 = echarts.init(document.getElementById('chart2'), null, {renderer: 'canvas'});

            const select1 = $('#durationSelect');
            const select2 = $('#weightSelect');

            const rootStyle = getComputedStyle(document.documentElement);
            let color1 = rootStyle.getPropertyValue('--sky4').trim();
            let color2 = rootStyle.getPropertyValue('--todoback').trim();
            let panel = rootStyle.getPropertyValue('--panel2-color').trim();
            let text = rootStyle.getPropertyValue('--dark-orange').trim();

            console.log(durationDataset)
            console.log(weightDataset)
            console.log(durationTrend)
            console.log(weightTrend)

            function setupChart(chart, dataset, trend, color, title, x, y, key) {
                // 根据 key 提取对应的数据
                const selectedData = dataset[key] || [];
                const selectedTrend = trend[key] || [];
                const allDates = [...selectedData.map(item => item[0]), ...selectedTrend.map(item => item[0])];

                const words = key.split('_');
                title = words.map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ');

                const options = {
                    animationDuration: 3000,
                    animationEasing: 'linear',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        },
                        position: function (pt) {
                            return [pt[0], '10%'];
                        }
                    },
                    title: {
                        left: 'center',
                        text: title,
                        textStyle: {
                            color: text,  // 假设你想要标题颜色是黑色
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            fontFamily: 'Arial'
                        }
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: allDates, // 时间轴数据
                        name: x
                    },
                    yAxis: {
                        type: 'value',
                        name: y
                    },
                    series: [
                        {
                            data: allDates.map(date => {
                                let item = selectedData.find(item => item[0] === date);
                                return item ? [date, item[1]] : [date, null]; // 保证数据与日期对齐
                            }),
                            type: 'line',
                            symbol: 'circle',
                            name: 'Dataset'
                        },
                        {
                            data: allDates.map(date => {
                                let item = selectedTrend.find(item => item[0] === date);
                                return item ? [date, item[1]] : [date, null]; // 保证数据与日期对齐
                            }),
                            type: 'line',
                            itemStyle: {color: color}, // 突出显示的颜色
                            symbol: 'circle',
                            name: 'Forecast'
                        }
                    ]
                };
                chart.setOption(options, {notMerge: true});
            }

            setupChart(chart1, durationDataset, durationTrend, color1, 'Duration condition', 'Date', 'Duration', 'HEAVY_METAL_WASTEWATER');
            setupChart(chart2, weightDataset, weightTrend, color2, 'Weight condition', 'Date', 'Weight', 'HEAVY_METAL_WASTEWATER');


            select1.change(function () {
                const key = select1.val();
                if (durationDataset[key] !== undefined) {
                    setupChart(chart1, durationDataset, durationTrend, color1, 'Duration condition', 'Date', 'Duration', key);
                } else {
                    Swal.fire({
                        title: '{{_("No duration")}}',
                        text: '{{_("No data for this type of waste")}}',
                        icon: 'warning',
                        confirmButtonColor: swalcolor,
                        confirmButtonText: '{{_("OK")}}'
                    });
                }
            });

            select2.change(function () {
                const key = select2.val();
                if (weightDataset[key] !== undefined) {
                    setupChart(chart2, weightDataset, weightTrend, color2, 'Duration condition', 'Date', 'Weight', key);
                } else {
                    Swal.fire({
                        title: '{{_("No weight")}}',
                        text: '{{_("No data for this type of waste")}}',
                        icon: 'warning',
                        confirmButtonColor: swalcolor,
                        confirmButtonText: '{{_("OK")}}'
                    });
                }
            });
        });
    </script>
{% endblock %}