{% extends 'government/base.html' %}
{% block extra_css %}
    <style>

        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-create {
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-create-module {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
        }

        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .individual-create-module p {
            margin: 0.3rem 2rem 1rem;
        }

        .individual-create-module b, .individual-create-module i {
            font-size: 1.2rem;
        }

        .free-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0.5rem;
            margin: 0.3rem 2rem 3rem;
        }

        .free-range-container {
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 1rem 2rem;
        }

        .free-range-container div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .free-range-container div input[type="number"] {
            width: 6rem;
        }

        .free-range-container input[type="range"] {
            flex-grow: 1;
        }

        .free-range-container label:hover {
            color: var(--primary-color);
        }

        .free-range-container label i {
            font-size: 1.2rem;
            margin-right: 1rem;
        }

    </style>
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}
    gov-portion
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header1.html' %}
    <section class="individual-create">
        <div class="individual-create-module">

            <div class="title-top">
                <img src="../../static/image/alink/pic8.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Change proportion") }}</h2>
                <div class="pico" style="display: inline-block; margin-left: 5rem">
                    <button class="outline" id="upload-button">upload proportion</button>
                </div>
            </div>
            <p>Below is a list of <b>21 types of waste</b> that our system offers, and you can help us adjust the amount
                of
                <b>free proportion</b> we offer to the public, expressed as a <i>percentage</i>. The maximum acceptable
                free level for each
                type of waste is <i>half</i></p>
            <div class="free-container">
                {% for free in free_list %}
                    <div class="free-range-container pico">
                        <div>
                            <label>
                                <i class="iconfont icon-{{ free.wasteType.name }}"></i>{{ free.wasteType | enum_to_string }}
                            </label>
                            <label>
                                <input type="number" id="{{ free.wasteType.name }}-value" min="0" max="50"
                                       oninput="updateRange(this, this.value, '{{ free.wasteType.name }}')"/>
                            </label>
                        </div>
                        <label>
                            <input id="{{ free.wasteType.name }}" type="range" max="50"
                                   value="{{ free.freeProportion }}"
                                   oninput="updateValue(this.value, '{{ free.wasteType.name }}-value')"/>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer1.html' %}
    <script>
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/government/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        function updateValue(value, id) {
            $('#' + id).val(value); // 使用 jQuery 的 val() 方法来更新输入框的值
        }

        function updateRange(i, value, id) {
            let validValue = parseInt(value);
            if (value < 0) {
                validValue = 0
                $(i).val(0);
            } else if (value > 50) {
                validValue = 50
                $(i).val(50);
            }
            $('#' + id).val(validValue); // 使用 jQuery 来设置滑块的值
        }


        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });
            $('input[type="range"]').each(function () {
                let id = $(this).attr('id'); // 获取滑块的id
                let value = $(this).val(); // 获取当前滑块的值
                $('#' + id + '-value').val(value); // 设置对应的数字输入框的值
            });
            const uploadButton = $('#upload-button');

            uploadButton.click(function () {
                let freeList = [];
                $('input[type="range"]').each(function () {
                    let id = $(this).attr('id'); // 获取滑块的id
                    let value = $(this).val(); // 获取当前滑块的值
                    freeList.push({
                        wasteType: id,
                        freeProportion: parseInt(value)
                    });
                });
                $.ajax({
                    url: "/government/adjust_free_proportion",
                    type: "POST",
                    data: JSON.stringify({freeList: freeList}),
                    contentType: "application/json",
                    success: function (response) {
                        if (response.message === "successful") {
                            Swal.fire({
                                toast: true,
                                text: "Update successful",
                                icon: "success",
                                position: 'top-start',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        } else {
                            Swal.fire({
                                text: response.message,
                                icon: "error",
                                timer: 3000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}