{% extends 'base.html' %}
{% block title %} Individual{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block navbar %}
    <nav>
        <div class="logo-name">
            <div class="logo-img">
                <img src="../../static/image/icon/skyline.png" alt="logo">
            </div>
            <span class="logo-text">Management System</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/home.svg" alt="home" class="icons icon-nav" title="Home"
                         data-placement="right">
                    <span class="link-name">Home</span>
                </a></li>
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/analyze.svg" alt="home" class="icons icon-nav" title="Analyze">
                    <span class="link-name">Analyze</span>
                </a></li>
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/scene.svg" alt="home" class="icons icon-nav" title="Scene">
                    <span class="link-name">Scene</span>
                </a></li>
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/details.svg" alt="home" class="icons icon-nav" title="Details">
                    <span class="link-name">Details</span>
                </a></li>
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/resource.svg" alt="home" class="icons icon-nav" title="Resource">
                    <span class="link-name">Resource</span>
                </a></li>
                <li class="underline"><a href="#">
                    <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                         title="Structure">
                    <span class="link-name">Structure</span>
                </a></li>
            </ul>
            <ul class="logout-mod">
                <li><a href="#" id="logoutButton">
                    <img src="../../static/image/icon/exit.svg" alt="exit" class="icons icon-nav">
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
            {% include 'switch.html' %}
        </div>
    </nav>
{% endblock %}