<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WasteManger{% endblock %}</title>
    <link href="https://fonts.googlefonts.cn/css?family=Do+Hyeon|Libre+Baskerville|Merriweather|Modern+Antiqua|Roboto+Slab|Slabo+27px|Ubuntu"
          rel="stylesheet">
    <link rel="shortcut icon" href="../../static/image/icon/skyline.png">
    <link rel="stylesheet" href="../../static/css/pico.conditional.min.css">

    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <script src="../../static/js/jquery-3.7.1.min.js"></script>
    <script src="../../static/js/switch.js"></script>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
    </script>

</head>
<body>
<h1> government</h1>
</body>
</html>