{% extends 'government/base.html' %}
{% block extra_css %}
    <style>

        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-create {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-create-module {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
            z-index: 1;
        }

        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .individual-create-module p {
            margin: 0.3rem 2rem 1rem;
            z-index: 1;
        }

        .individual-create-module b, .individual-create-module i {
            font-size: 1.2rem;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/echarts.min.js"></script>
    <script src="../../static/js/utils/echarts-gl.min.js"></script>
    <script type="text/javascript">
        let dw = [
            {% for k, v in daily_weight.items() %}
                {
                    "date": "{{ k }}",
                    "weight": {{ v }},
                },
            {% endfor %}
        ]
        let categories = {{ categories_string | tojson }};
        let data = {{ scatter_data | tojson }};
    </script>
{% endblock %}
{% block title %}
{{ _("gov-statistics") }}
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header1.html' %}
    <section class="individual-create">
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/dataicon/databack.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("3D AI Prediction") }}</h2>
                {#                <div class="pico" style="display: inline-block; margin-left: 5rem">#}
                {#                    <button class="outline" id="upload-button">upload proportion</button>#}
                {#                </div>#}
            </div>
            <p>{{ _("This 3D chart displays the")}} <b>{{ _("predicted average values")}}</b> {{ _("for all types of waste.
                    These calculations are based on the")}}
                <b>{{ _("weight and duration time")}}</b>
                {{ _("of all orders for each type of waste. To avoid the influence of")}}
                <i>{{ _("outliers and extreme values")}}</i>, {{ _("relevant machine learning algorithms have been used for")}}
                <i>{{ _("centralization calculations")}}</i>.
            </p>
            <div id="ai-pre"
                 style="width: 92%; height: 40rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;
border-radius: 0.6rem; z-index: 1">
            </div>

        </div>
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/alink/pic6.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Annual treatment result") }}</h2>
                {#                <div class="pico" style="display: inline-block; margin-left: 5rem">#}
                {#                    <button class="outline" id="upload-button">upload proportion</button>#}
                {#                </div>#}
            </div>
            <p>T{{ _("he chart below shows the total weight distribution of")}} <b>2{{ _("1 types of waste in a year")}}.</b>
                {{ _("include today")}}<br>
                {{ _("You can dynamically display the data intensity by pulling the ")}}
                <i>{{ _("time bar")}}</i> {{ _("below") }}
            </p>
            <div id="daily-weight"
                 style="width: 92%; height: 40rem; margin-bottom: 2rem;margin-left: auto;margin-right: auto;">
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer1.html' %}
    <script>
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/government/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });
            const chart = echarts.init(document.getElementById('daily-weight'), null, {renderer: 'canvas'});
            const chart2 = echarts.init(document.getElementById('ai-pre'), null, {renderer: 'canvas'});


            const dates = dw.map(item => item.date);
            const weights = dw.map(item => item.weight);
            const rootStyle = getComputedStyle(document.documentElement);

            let color1 = rootStyle.getPropertyValue('--sky1').trim();
            let color2 = rootStyle.getPropertyValue('--land3').trim();
            let color3 = rootStyle.getPropertyValue('--skin2').trim();
            let color4 = rootStyle.getPropertyValue('--land1').trim();

            let c1 = rootStyle.getPropertyValue('--luotianyi1').trim();
            let c2 = rootStyle.getPropertyValue('--luotianyi2').trim();
            let c3 = rootStyle.getPropertyValue('--luotianyi3').trim();
            let c4 = rootStyle.getPropertyValue('--luotianyi4').trim();
            let c5 = rootStyle.getPropertyValue('--luotianyi5').trim();
            let text = rootStyle.getPropertyValue('--dark-orange').trim();
            const option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    },
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: '{{_("Annual Waste Weight Distribution")}}',
                    textStyle: {
                        color: text,  // 标题颜色
                        fontStyle: 'normal',
                        fontWeight: 'bold',
                        fontFamily: 'Arial'
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    containLabel: true  // 确保标签不被剪切
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: dates
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [
                    {
                        type: 'inside',
                        start: 0,
                        end: 10
                    },
                    {
                        start: 0,
                        end: 10
                    }
                ],
                series: [
                    {
                        name: 'Waste Weight',
                        type: 'line',
                        symbol: 'circle',
                        sampling: 'lttb',
                        itemStyle: {
                            color: c5
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: c2
                                },
                                {
                                    offset: 1,
                                    color: c1
                                }
                            ])
                        },
                        animationEasing: 'elasticOut',
                        animationDelay: function (idx) {
                            return Math.random() * 200;
                        },
                        data: weights
                    }
                ]
            };

            const option2 = {
                tooltip: {
                    formatter: function (params) {
                        var data = params.data || [0, 0, 0];
                        var category = categories[data[0]];
                        return category + '<br>Weight: ' + data[1] + '<br>Duration: ' + data[2];
                    }
                },
                xAxis3D: {
                    type: 'category',
                    data: categories,
                    name: 'wasteType',
                    axisLabel: {
                        interval: 0,  // 强制显示所有标签
                        rotate: 45,  // 轴标签旋转45度
                        textStyle: {
                            fontSize: 10  // 可调整字体大小适应显示
                        }
                    },
                },
                yAxis3D: {
                    type: 'value',
                    name: 'Weight'
                },
                zAxis3D: {
                    type: 'value',
                    name: 'Duration'
                },
                grid3D: {
                    boxWidth: 200,
                    boxDepth: 90,
                    viewControl: {
                        rotateSensitivity: 1,
                        autoRotate: true, // 自动旋转
                        autoRotateAfterStill: 10, // 静止一段时间后自动开始旋转
                        distance: 300 // 视角距离
                    },
                    light: {
                        main: {
                            intensity: 1.2,
                            shadow: true
                        },
                        ambient: {
                            intensity: 0.3
                        }
                    }
                },
                series: [{
                    type: 'scatter3D',
                    symbolSize: 12,
                    dimensions: ['Category Index', 'Weight', 'Duration'],
                    data: data,
                    itemStyle: {
                        opacity: 0.8
                    }
                }]
            };
            chart.setOption(option);
            chart2.setOption(option2);
        });
    </script>
{% endblock %}