{% extends 'waste/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/edit_order.css">
    <link rel="stylesheet" href="../../static/css/department/view_order.css">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}Approval Order{% endblock %}

{% block mainBody %}
    <dialog class="pico" id="view-order-dialog">
        <article>
            <form method="dialog" class="form-edit">
                <label for="order-name">{{ _("Name:") }}
                    <input type="text" id="order-name" name="order-name" aria-label="Read-only input"
                           readonly></label>
                <label for="order-date">{{ _("Date:") }}
                    <input type="date" id="order-date" name="order-date" aria-label="Read-only input"
                           readonly></label>
                <label for="order-weight">{{ _("Weight:") }}
                    <input type="number" id="order-weight" name="order-weight" aria-label="Read-only input"
                           readonly></label>
                <label for="order-attribution">{{ _("Attribution:") }}
                    <input type="text" id="order-attribution" name="order-attribution" aria-label="Read-only input"
                           readonly></label>
                <label for="order-comment">{{ _("Comment:") }}
                    <textarea rows="3" cols="30" id="order-comment" name="order-comment" aria-label="Read-only input"
                              readonly></textarea></label>
                <input type="hidden" id="order-id" name="order-id">
            </form>
            <footer style="display: flex; justify-content: flex-end;">
                <button id="cancel-edit" class="outline secondary"> {{ _("Cancel") }}</button>
            </footer>
        </article>
    </dialog>
    <section class="dashboard">
        {% include "top.html" %}

        <div class="content">
            <div class="content1">
                <div class="title-top">
                    <img src="../../static/image/icon/datasave.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Total statistics") }}</h2>
                </div>
                <div class="boxes">
                    <div class="box box1 selected-box" id="unconfirmed-box">
                        <img src="../../static/image/icon/unconfirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Unconfirmed") }}</b>
                        <span class="box-number">{{ unconfirmed_count }}</span>
                    </div>
                    <div class="box box2" id="confirmed-box">
                        <img src="../../static/image/icon/confirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Confirmed") }}</b>
                        <span class="box-number">{{ confirmed_count }}</span>
                    </div>
                    <div class="box box3" id="processing-box">
                        <img src="../../static/image/icon/diliver.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Processing") }}</b>
                        <span class="box-number">{{ processing_count }}</span>
                    </div>
                    <div class="box box4" id="finished-box">
                        <img src="../../static/image/icon/qianbao.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Finished") }}</b>
                        <span class="box-number">{{ finished_count }}</span>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="title-top">
                    <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Tables") }}</h2>
                </div>
                <div class="tables" id="table1">
                    <div>
                        <table class="table row-border stripe order-column compact" id="view-table1"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                                <th scope="col" class="no-sort">{{ _("Dept-Name") }}</th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Dept-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Waste-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Date") }}
                                </th>
                                <th scope="col"  class="no-sort">
                                    {{ _("Operation") }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders1 %}
                                <tr>
                                    <td></td>
                                    <td> {{ order.department.departmentName }}</td>
                                    <td>{{ order.department.departmentType | enum_to_string }}</td>
                                    <td>{{ order.wasteType | enum_to_string }}</td>
                                    <td>{{ order.date }}</td>
                                    <td><i class="iconfont icon-chakan view-order"
                                           data-id="{{ order.OID }}"
                                           data-comment="{{ order.comment }}"
                                           data-attribution="{{ order.attribution }}"></i>
                                        <i class="iconfont icon-gouxuan confirm-order"
                                           data-id="{{ order.OID }}"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tables" id="table2" style="display: none">
                    <div>
                        <table class="table row-border stripe order-column compact" id="view-table2"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                                <th scope="col" class="no-sort">{{ _("Dept-Name") }}</th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Dept-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Waste-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Date") }}
                                </th>
                                <th scope="col"  class="no-sort">
                                    {{ _("Operation") }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders2 %}
                                <tr>
                                    <td></td>
                                    <td> {{ order.department.departmentName }}</td>
                                    <td>{{ order.department.departmentType | enum_to_string }}</td>
                                    <td>{{ order.wasteType | enum_to_string }}</td>
                                    <td>{{ order.date }}</td>
                                    <td><i class="iconfont icon-chakan view-order"
                                           data-id="{{ order.OID }}"
                                           data-comment="{{ order.comment }}"
                                           data-attribution="{{ order.attribution }}"></i>
                                        <i class="iconfont icon-gouxuan confirm-order"
                                           data-id="{{ order.OID }}"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tables" id="table3" style="display: none">
                    <div>
                        <table class="table row-border stripe order-column compact" id="view-table3"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                                <th scope="col" class="no-sort">{{ _("Dept-Name") }}</th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Dept-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Waste-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Date") }}
                                </th>
                                <th scope="col"  class="no-sort">
                                    {{ _("Operation") }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders3 %}
                                <tr>
                                    <td></td>
                                    <td> {{ order.department.departmentName }}</td>
                                    <td>{{ order.department.departmentType | enum_to_string }}</td>
                                    <td>{{ order.wasteType | enum_to_string }}</td>
                                    <td>{{ order.date }}</td>
                                    <td><i class="iconfont icon-chakan view-order"
                                           data-id="{{ order.OID }}"
                                           data-comment="{{ order.comment }}"
                                           data-attribution="{{ order.attribution }}"></i>
                                        <i class="iconfont icon-gouxuan confirm-order"
                                           data-id="{{ order.OID }}"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tables" id="table4" style="display: none">
                    <div>
                        <table class="table row-border stripe order-column compact" id="view-table4"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                                <th scope="col" class="no-sort">{{ _("Dept-Name") }}</th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Dept-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Waste-Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Date") }}
                                </th>
                                <th scope="col"  class="no-sort">
                                    {{ _("Operation") }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders4 %}
                                <tr>
                                    <td></td>
                                    <td> {{ order.department.departmentName }}</td>
                                    <td>{{ order.department.departmentType | enum_to_string }}</td>
                                    <td>{{ order.wasteType | enum_to_string }}</td>
                                    <td>{{ order.date }}</td>
                                    <td><i class="iconfont icon-chakan view-order"
                                           data-id="{{ order.OID }}"
                                           data-comment="{{ order.comment }}"
                                           data-attribution="{{ order.attribution }}"></i>
                                        <i class="iconfont icon-gouxuan confirm-order"
                                           data-id="{{ order.OID }}"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            const dialog = document.querySelector('#view-order-dialog');
            // 当任何一个 box 被点击时
            $(".box").click(function () {
                // 获取被点击的 box 的 ID，并转换为对应的 table ID
                const boxId = $(this).attr('id'); // e.g., 'unconfirmed-box'
                $(".box").removeClass('selected-box');
                $('#' + boxId).addClass('selected-box');
                let tableId = "#table"; // Converts to '#table1', '#table2', etc.
                if (boxId === 'unconfirmed-box') {
                    tableId += "1";
                } else if (boxId === 'confirmed-box') {
                    tableId += "2";
                } else if (boxId === 'processing-box') {
                    tableId += "3";
                } else {
                    tableId += "4";
                }
                // 隐藏所有表格
                $(".tables").hide();
                // 显示对应的表格
                $(tableId).show();
            });
            $('#view-table1, #view-table2, #view-table3, #view-table4').DataTable({
                paging: true, // Enable pagination
                searching: true, // Enable search bar
                ordering: true, // Enable sorting
                info: true, // Show information about the table
                lengthMenu: [6, 12, 24], // Set the page length options
                pageLength: 6,
                responsive: true, // Enable responsive layout
                autoWidth: true,
                columnDefs: [
                    {
                        targets: [0, 1, 2, 3, 4, 5],
                        className: 'dt-head-center'
                    },
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-body-left'
                    },
                    {
                        targets: [0, 5],
                        className: 'dt-body-center'
                    },
                    {
                        targets: 'no-sort',
                        orderable: false
                    },
                    {
                        targets: 0,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }
                ],
            });
            $('.view-order').click(function () {
                const orderId = $(this).data('id');
                const orderComment = $(this).data('comment');
                const orderAttribute = $(this).data('attribution');
                const orderRow = $(this).closest('tr'); // 找到包含被点击图标的行
                const orderName = orderRow.find('td:nth-child(2)').text(); // 假设订单名称在第二列
                const orderDate = orderRow.find('td:nth-child(3)').text(); // 假设订单日期在第三列
                const orderWeight = orderRow.find('td:nth-child(5)').text(); // 假设订单重量在第五列
                $('#order-id').val(orderId);
                $('#order-name').val(orderName);
                $('#order-date').val(orderDate);
                $('#order-weight').val(orderWeight);
                $('#order-attribution').val(orderAttribute);
                $('#order-comment').val(orderComment);
                dialog.showModal();
            });
            $('#cancel-edit').click(function () {
                dialog.close();
            });
        });
    </script>
{% endblock %}