{% extends 'base.html' %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block title %}Waste{% endblock %}
{% block navbar %}
    <nav>
        <div class="logo-name">
            <div class="logo-img">
                <img src="../../static/image/icon/skyline.png" alt="logo">
            </div>
            <span class="logo-text">Management System</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li class="{{ 'current-page' if request.path == url_for('waste.index') else 'underline' }}">
                    <a href="{{ url_for('waste.index') }}">
                        <img src="../../static/image/icon/home.svg" alt="home" class="icons icon-nav" title="Home"
                             data-placement="right">
                        <span class="link-name">{{ _("Capacity") }}</span>
                    </a></li>
                <li class="{{ 'current-page' if request.path == url_for('waste.approval') else 'underline' }}">
                    <a href="{{ url_for('waste.approval') }}">
                        <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                             title="Analyze">
                        <span class="link-name">{{ _("Approval") }}</span>
                    </a></li>
                <li class="{{ 'current-page' if request.path == url_for('waste.ratio') else 'underline' }}">
                    <a href="{{ url_for('waste.ratio') }}">
                        <img src="../../static/image/icon/bbb.svg" alt="home" class="icons icon-nav" title="Analyze">
                        <span class="link-name">{{ _("Ratio") }}</span>
                    </a></li>
            </ul>
            <ul class="logout-mod">
                <li><a href="#" id="logoutButton">
                    <img src="../../static/image/icon/exit.svg" alt="exit" class="icons icon-nav">
                    <span class="link-name">{{ _("Logout") }}</span>
                </a></li>
            </ul>
            {% include 'switch.html' %}
        </div>
    </nav>
    <div class="loader-container">
        <div class="loader2">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <dialog class="pico" id="createdept" style="height: 400px;">
        <article>
            <form method="dialog" class="form-edit">
                <label for="dept-name">{{ _("Dept-Name:") }}
                    <input type="text" id="dept-name" name="dept-name" required></label>
            </form>
            <footer style="display: flex; justify-content: flex-end;">
                <button id="cancel-dept" class="outline secondary"> {{ _("Cancel") }}</button>
                <button id="confirm-dept" class="outline" style="margin-left: 10px;">{{ _("Confirm") }}</button>
            </footer>
        </article>
    </dialog>

    <dialog class="pico" id="createwaste" style="overflow-x: hidden;">
        <article>
            <form method="dialog" class="form-edit">
                <details class="pico dropdown" data-value="">
                    <summary>{{ _("Please choose dept: ") }}</summary>
                    <ul>
                        {% for dept in all_departments %}
                            <li data-value="{{ dept }}">
                                <a href="#">
                                    <i class="iconfont icon-{{ dept.name }}"></i>
                                    <span>{{ dept|enum_to_string }}</span></a></li>
                        {% endfor %}
                    </ul>
                </details>
                <label for="waste-name">{{ _("Waste-Type:") }}
                    <input type="text" id="waste-name" name="waste-name" required></label>
                <label for="waste-storage">{{ _("Waste Storage:") }}
                    <input type="number" id="waste-storage" name="waste-storage" required></label>
                <label for="waste-process">{{ _("Process Capacity:") }}
                    <input type="number" id="waste-process" name="waste-process" required></label>
            </form>
            <footer style="display: flex; justify-content: flex-end;">
                <button id="cancel-waste" class="outline secondary"> {{ _("Cancel") }}</button>
                <button id="confirm-waste" class="outline" style="margin-left: 10px;">{{ _("Confirm") }}</button>
            </footer>
        </article>
    </dialog>

    <script>
        $(document).ready(function () {
            const dialogDept = document.querySelector('#createdept');
            const dialogWaste = document.querySelector('#createwaste');
            const cancelDept = document.querySelector('#cancel-dept');
            const confirmDept = document.querySelector('#confirm-dept');
            const cancelWaste = document.querySelector('#cancel-waste');
            const confirmWaste = document.querySelector('#confirm-waste');

            const createDeptButton = document.querySelector('#create-dept');
            const createWasteButton = document.querySelector('#create-waste');

            createDeptButton.addEventListener('click', () => {
                dialogDept.showModal();
                console.log('create dept');
            });

            createWasteButton.addEventListener('click', () => {
                dialogWaste.showModal();
            });

            cancelDept.addEventListener('click', () => {
                dialogDept.close();
            });

            cancelWaste.addEventListener('click', () => {
                dialogWaste.close();
            });
            $('.dropdown li').click(function () {
                const spanText = $(this).find('span').text();
                const details = $(this).closest('.dropdown');
                details.find('summary').text(spanText);
                details.data('value', spanText);
            });

        });

        document.querySelectorAll('.nav-links a').forEach(link => {
            const loaderContainer = document.querySelector('.loader-container');
            link.addEventListener('click', function (event) {
                event.preventDefault(); // 阻止默认的链接跳转行为
                const rect = this.getBoundingClientRect();
                const linkTop = rect.top + window.scrollY;
                sessionStorage.setItem('loaderTop', `${linkTop}`); // 存储点击位置到sessionStorage
                loaderContainer.style.top = `${linkTop}px`; // 设置加载器的位置
                loaderContainer.offsetTop; // 触发重绘
                loaderContainer.style.top = 0;
                loaderContainer.classList.remove('loader-container-out'); // 显示加载器

                setTimeout(() => {
                    window.location.href = this.getAttribute('href'); // 跳转页面
                }, 1500); // 动画持续时间
            });
        });

        window.addEventListener("load", () => {
            const loaderContainer = document.querySelector('.loader-container');
            const loaderTop = sessionStorage.getItem('loaderTop') || 0; // 从sessionStorage获取位置

            loaderContainer.style.transition = 'none'; // 移除过渡效果以设置初始位置
            loaderContainer.style.top = '0px'; // 初始top设置为0
            loaderContainer.offsetWidth; // 触发重绘
            loaderContainer.style.transition = 'all 1.2s ease'; // 重新添加过渡效果
            loaderContainer.style.top = `${loaderTop}px`; // 设置加载器的目标位置
            loaderContainer.classList.add('loader-container-out'); // 隐藏加载器
        });
    </script>
{% endblock %}

