{% extends 'base.html' %}
{% block title %}Waste{% endblock %}
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block navbar %}
    <nav>
        <div class="logo-name">
            <div class="logo-img">
                <img src="../../static/image/icon/skyline.png" alt="logo">
            </div>
            <span class="logo-text">Management System</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li class="underline"><a href="{{ url_for('waste.index') }}">
                    <img src="../../static/image/icon/home.svg" alt="home" class="icons icon-nav" title="Home"
                         data-placement="right">
                    <span class="link-name">{{ _("Capacity") }}</span>
                </a></li>
                <li class="underline"><a href="{{ url_for('waste.approval') }}">
                    <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav" title="Analyze">
                    <span class="link-name">{{ _("Approval") }}</span>
                </a></li>
                <li class="underline"><a href="{{ url_for('waste.ratio') }}">
                    <img src="../../static/image/icon/bbb.svg" alt="home" class="icons icon-nav" title="Analyze">
                    <span class="link-name">{{ _("Ratio") }}</span>
                </a></li>
            </ul>
            <ul class="logout-mod">
                <li><a href="#" id="logoutButton">
                    <img src="../../static/image/icon/exit.svg" alt="exit" class="icons icon-nav">
                    <span class="link-name">{{ _("Logout") }}</span>
                </a></li>
            </ul>
            {% include 'switch.html' %}
        </div>
    </nav>
{% endblock %}