{% extends 'waste/index.html' %}
{% block extra_css %}
    <style>
        .dashboard .content {
            grid-area: content;
        }

        .chart-title {
            text-align: center;
            margin-top: 20px;
        }

        .canchange:hover {
            cursor: pointer;
        }

        .cannotchange {
            color: var(--black-light-color);
        }

        .cannotchange:hover {
            cursor: not-allowed;
        }

        .ratio-container {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            display: flex;
            justify-content: space-around; /* 调整为 space-around 更好地分布空间 */
            flex-wrap: wrap; /* 允许容器内的元素换行 */
            box-shadow: 0.4px 0px 1.9px rgba(0, 0, 0, 0.06),
            0.9px 0px 4.3px rgba(0, 0, 0, 0.045),
            1.5px 0px 7.7px rgba(0, 0, 0, 0.038),
            2.5px 0px 12.8px rgba(0, 0, 0, 0.032),
            4.1px 0px 21.2px rgba(0, 0, 0, 0.028),
            7.6px 0px 37px rgba(0, 0, 0, 0.022),
            20px 0px 80px rgba(0, 0, 0, 0.015);
            padding: 10px;
            border-radius: 10px;
        }

        .chart-container {
            flex: 1 1 300px; /* 修改这里的 300px 为你希望的最大宽度 */
            margin: 10px; /* 保持外边距，避免图表相互挤压 */
            max-width: 100%; /* 确保在小屏幕上能自适应 */
            display: flex; /* 添加 flex 布局 */
            flex-direction: column; /* 子元素垂直排列 */
            align-items: center; /* 水平居中对齐子元素 */
            justify-content: center; /* 垂直居中对齐子元素 */
        }

        canvas {
            width: 100% !important; /* 使 canvas 元素填满容器 */
            height: auto !important; /* 高度自适应 */
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        let order_nums = [
            {% for key, value in nums.items() %}
                {
                    "status": "{{ key }}",
                    "count": {{ value }}
                },
            {% endfor %}
        ];
        let waste_weights = [
            {% for key, value in waste_weights.items() %}
                {
                    "type": "{{ key }}",
                    "weight": {{ value }}
                },
            {% endfor %}
        ];
    </script>
    <script src="../../static/js/utils/chart.js"></script>
{% endblock %}
{% block title %}{{ _("Ratio Dashboard")}}{% endblock %}

{% block mainBody %}

    <section class="dashboard">

        <div class="ratio-container">
            <div class="chart-container">
                <div class="chart-title canchange underline" id="change3"><h2>{{ _("Status Ratio") }}</h2></div>
                <canvas id="chart3"></canvas>
            </div>
            <div class="chart-container">
                <div class="chart-title canchange underline" id=change4><h2>{{ _("Waste Weight Ratio") }}</h2></div>
                <canvas id="chart4"></canvas>
            </div>
        </div>


        {% include "top.html" %}
        <div class="content">
            <div class="title-top">
                <img src="../../static/image/dataicon/bing.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Ratio Dashboard") }}</h2>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            function toggleChartType(chart, currentType, data, doughnutOptions, barOptions) {
                let newType = currentType === 'doughnut' ? 'bar' : 'doughnut';
                let newOptions = currentType === 'doughnut' ? barOptions : doughnutOptions;
                chart.config.type = newType;
                chart.options = newOptions;
                chart.update();
            }


            const rootStyle = getComputedStyle(document.documentElement);

            let color1 = rootStyle.getPropertyValue('--sky1').trim();
            let color2 = rootStyle.getPropertyValue('--land3').trim();
            let color3 = rootStyle.getPropertyValue('--skin2').trim();
            let color4 = rootStyle.getPropertyValue('--land1').trim();

            let c1 = rootStyle.getPropertyValue('--dept1').trim();
            let c2 = rootStyle.getPropertyValue('--dept2').trim();
            let c3 = rootStyle.getPropertyValue('--dept3').trim();
            let c4 = rootStyle.getPropertyValue('--dept4').trim();
            let c5 = rootStyle.getPropertyValue('--dept5').trim();
            let c6 = rootStyle.getPropertyValue('--dept6').trim();
            let c7 = rootStyle.getPropertyValue('--dept7').trim();
            let c8 = rootStyle.getPropertyValue('--dept8').trim();
            let c9 = rootStyle.getPropertyValue('--dept9').trim();
            let c10 = rootStyle.getPropertyValue('--dept10').trim();
            let c11 = rootStyle.getPropertyValue('--dept11').trim();
            let c12 = rootStyle.getPropertyValue('--dept12').trim();

            let ctx3 = document.getElementById('chart3').getContext('2d');
            let ctx4 = document.getElementById('chart4').getContext('2d');

            let doughnutOptions = {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                let data = tooltipItem.dataset.data;
                                let total = data.reduce((acc, value) => acc + value, 0);
                                let label = data[tooltipItem.dataIndex];
                                return ((label / total) * 100).toFixed(2) + '%';
                            }
                        }
                    },
                },
                animation: {
                    duration: 1000,
                    easing: 'easeOutQuart'
                },
                cutout: '60%'
            }

            let barOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                responsive: true,
                animation: {
                    duration: 1000,
                    easing: 'easeOutQuart'
                }
            }

            let data3 = {
                datasets: [{
                    data: order_nums.map(item => item.count),
                    backgroundColor: [color1, color2, color3, color4],
                }],
                labels: order_nums.map(item => item.status)
            }
            let chart3 = new Chart(ctx3, {
                type: 'doughnut',
                data: data3,
                options: doughnutOptions
            });

            let data4 = {
                datasets: [{
                    data: waste_weights.map(item => item.weight),
                    backgroundColor: [c1, c2, c3, c4, c5, c6, c7, c8, c9],
                }],
                labels: waste_weights.map(item => item.type)
            }

            let chart4 = new Chart(ctx4, {
                type: 'doughnut',
                data: data4,
                options: doughnutOptions
            });

            document.getElementById('change3').addEventListener('click', function () {
                toggleChartType(chart3, chart3.config.type, data3, doughnutOptions, barOptions);
            });

            document.getElementById('change4').addEventListener('click', function () {
                toggleChartType(chart4, chart4.config.type, data4, doughnutOptions, barOptions);
            });

        });
    </script>
{% endblock %}