{% extends 'individual/base.html' %}
{% block extra_css %}
    <style>
        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-orders {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-orders-module1, .individual-orders-module2 {
            width: 100%;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .individual-orders-module1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.8rem;
        }

        .individual-orders-module2 {
            display: flex;
            flex-direction: column;
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
        }

        .title-top-left {
            display: flex;
            align-items: center;
        }

        .title-top-right {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 1.5rem;
            position: absolute;
            align-items: center;
            right: 3.2rem;
        }

        .title-top-right div {
            display: flex;
            align-items: center;
        }

        .title-top-right-icon {
            width: 1.5em;
        }

        .title-top-right span {
            font-family: 'Roboto Slab', sans-serif;
            font-size: 0.8em;
        }


        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .form-container {
            padding: 1rem 2rem;
        }

        .pico label.no-pico-label {
            display: flex;
            align-items: center;
        }

        .pico input[type="number"] {
            width: 12rem;
            margin-left: 1rem;
        }

        .order-attributes {
            display: flex;
            flex-direction: row;
            gap: 0.6rem;
            align-items: center;
            flex-wrap: wrap;
        }

        .order-choose {
            display: flex;
            align-items: center;
            gap: 5rem;
        }

        .dropdown {
            width: 25rem;
        }

        .dropdown li a {
            display: flex;
            flex-direction: row;
        }

        .dropdown li a i {
            display: inline;
            margin-left: 1rem;
            margin-right: 1.5rem;
            font-size: 1.2rem;
        }

        .dropdown li:hover i,
        .dropdown li:hover span {
            color: var(--primary-color);
        }

        .pico .no-pico-label input[type="text"] {
            width: 10rem;
            margin-left: 1rem;
        }

        .pico label.no-pico-label i {
            font-size: 1.5em;
        }

        .pico label.no-pico-label span {
            margin-left: 0.5rem;
        }

        .pico label.no-pico-label:hover i, .pico label.no-pico-label:hover span {
            color: var(--primary-color);
        }

        .pico input[type="number"].attr {
            width: 6rem;
        }

        .status-dot {
            height: 1.5rem;
            width: 4rem;
            border-radius: 0.6rem;
            display: inline-block;
            transform: translateX(-25%);
            font-family: "Gen Jyuu Gothic Monospace Heavy", sans-serif;
        }

        .status-blue {
            background-color: var(--luotianyi4);
        }

        .status-green {
            background-color: var(--chuyinweilai);
        }

        .heatmap-container {
            display: flex;
            margin: 0.6rem;
            justify-content: center;

        }

        #cal-heatmap {
            margin-left: auto;
            margin-right: auto;
        }

        .heatmap-change {
            display: inline-block;
            margin: 1rem;
        }

        .heatmap-change:hover {
            color: var(--dark-orange);
        }

        .heatmap-change i {
            font-size: 1.5rem;
        }

        .contribution-container {
            height: inherit;
            box-shadow: 0 1.2px 5.3px rgba(0, 0, 0, 0.02), 0 4.4px 17.9px rgba(0, 0, 0, 0.034);
            border-radius: 0.6rem;
            overflow: hidden; /* Prevents any child elements from overflowing */
        }

        .contribution-description div {
            display: flex;
            align-items: center;
            height: 15rem;
            position: relative;
            margin: 1rem;
            animation-duration: 3s;
            text-align: center;
        }

        .notneed {
            display: none;
        }

        .contribution-description img {
            position: absolute;
            height: 4rem;
            width: 4rem;
        }


        @media screen and (max-width: 1000px) {
            .individual-orders-module1 {
                grid-template-columns: 1fr;
            }
        }
    </style>
    <link rel="stylesheet" href="../../static/css/utils/cal-heatmap.min.css"/>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/d3.v7.min.js"></script>
    <script src="../../static/js/utils/cal-heatmap.min.js"></script>
    <script src="../../static/js/utils/popper.min.js"></script>
    <script src="../../static/js/utils/Tooltip.min.js"></script>
    <script src="../../static/js/utils/LegendLite.min.js"></script>
    <script>
        let orders_by_day = [
            {% for key, value in orders_by_day.items() %}
                {"date": "{{ key }}", "num": {{ value }}},
            {% endfor %}
        ];

    </script>
{% endblock %}
{% block title %}
    indi-contribution
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header2.html' %}
    <section class="individual-orders">
        <div class="individual-orders-module1">
            <div class="contribution-container" style="box-shadow: 0 1.2px 5.3px rgba(0, 0, 0, 0.02),
0 4.4px 17.9px rgba(0, 0, 0, 0.034); border-radius: 0.6rem;">
                <div class="title-top">
                    <img src="../../static/image/alink/pic10.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Frequency chart") }}</h2>
                </div>
                <div class="heatmap-container">
                    <div id="cal-heatmap"></div>
                </div>
                <div style="padding-left: 1rem;padding-right: 1rem;">
                    <a class="heatmap-change" href="#" id="previous-button">
                        <i class="iconfont icon-shangyige"></i></a>
                    <a class="heatmap-change" href="#" id="next-button">
                        <i class="iconfont icon-xiayige"></i></a>
                    <div style="float: right; font-size: 0.9rem;margin: 1rem">
                        <span style="color: #768390">Less</span>
                        <div id="ex-ghDay-legend" style="display:inline-block;"></div>
                        <span style="color: #768390">More</span>
                    </div>
                </div>

            </div>
            <div class="contribution-container" style="box-shadow: 0 1.2px 5.3px rgba(0, 0, 0, 0.02),
0 4.4px 17.9px rgba(0, 0, 0, 0.034); border-radius: 0.6rem;">
                <div class="title-top">
                    <img src="../../static/image/alink/pic2.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Contribution") }}</h2>
                </div>
                <div class="contribution-description">
                    <div class="div1">
                        <img alt="" src="../../static/image/contribution/tree1.svg"
                             style="z-index: 1;left: 1rem;top: 1rem;">
                        <img alt="" src="../../static/image/contribution/tree2.svg"
                             style="z-index: 1;left: 6rem;top: 4rem;height: 5rem;width: 5rem">
                        <img alt="" src="../../static/image/contribution/tree3.svg"
                             style="z-index: 1;left: 3rem;top: 10rem;height: 3rem;width: 3rem">
                        <p style="z-index: 1;font-weight: 600;margin-left:16rem;font-size: 4rem; font-family: IndieFlower,sans-serif">
                            You are planting
                            <br><b
                                style="z-index: 1;font-size: 4.5rem; font-family: HanaleiFill,sans-serif;color: var(--sky4)">{{ waste_dict.normal.tree }}</b>
                            trees!</p>
                    </div>
                    <div class="div2">
                        <img alt="" src="../../static/image/contribution/water1.png"
                             style="z-index: 1;left: 8rem;top: 1.2rem;height: 3rem;width: 3rem;">
                        <img alt="" src="../../static/image/contribution/water2.svg"
                             style="z-index: 1;right: 5rem;top: 4rem;height: 6rem;width: 6rem">
                        <img alt="" src="../../static/image/contribution/water3.svg"
                             style="z-index: 1;left: 3rem;top: 10rem;">
                        <p style="z-index: 1;font-weight: 500;margin-left:14rem;font-size: 3.5rem; font-family: Lobster-Regular,sans-serif">
                            You are protecting
                            <br><b
                                style="z-index: 1;font-size: 4.5rem; font-family: Merienda-Regular,sans-serif;color: var(--luotianyi4)">{{ waste_dict.normal.water }}</b>
                            kg water!</p>
                    </div>
                    <div class="div3">
                        <img alt="" src="../../static/image/contribution/o21.png"
                             style="z-index: 1;left: 1rem;top: 1rem;">
                        <img alt="" src="../../static/image/contribution/o22.png"
                             style="z-index: 1;left: 30rem;top: 4rem;height: 10rem;width: 10rem">
                        <img alt="" src="../../static/image/contribution/o23.png"
                             style="z-index: 1;left: 3rem;top: 10rem;height: 3rem;width: 3rem">
                        <p style="z-index: 2;font-weight: 600;margin-left:10rem;font-size: 4rem; font-family: GloriaHallelujah,sans-serif">
                            You are purifying
                            <br><b
                                style="font-size: 5rem; font-family: RuslanDisplay,sans-serif;color: var(--done1)">{{ waste_dict.normal.air }}</b>
                        </p>
                    </div>
                    <div class="div4">
                        <img alt="" src="../../static/image/contribution/soil1.png"
                             style="z-index: 1;left: 2rem;top: 1rem;">
                        <img alt="" src="../../static/image/contribution/soil2.png"
                             style="height: 120%; width: 100%">
                        <img alt="" src="../../static/image/contribution/soil3.png"
                             style="z-index: 1;left: 4rem;top: 10rem;height: 3rem;width: 3rem">
                        <p style="z-index: 1;font-weight: 400;margin-left:16rem;font-size: 3rem; font-family: Monoton-Regular,sans-serif">
                            You&nbsp;&nbsp;&nbsp;are&nbsp;&nbsp;&nbsp;saving
                            <br><b
                                style="z-index: 1;font-size: 4.5rem; font-family: GloriaHallelujah,sans-serif;color: var(--skin1)">{{ waste_dict.normal.soil }}</b>
                            &nbsp;&nbsp;&nbsp;kg&nbsp;&nbsp;&nbsp;soils!</p>
                    </div>
                    <div class="div5" style="overflow: hidden">
                        <img alt="" src="../../static/image/contribution/energy1.svg"
                             style="left: 1rem;top: 1rem;">
                        <img alt="" src="../../static/image/contribution/energy2.svg"
                             style="left: 4rem;top: 10rem;height: 2.5rem;width: 2.5rem">
                        <img alt="" src="../../static/image/contribution/energy3.svg"
                             style="left: 9rem;top: 2rem;height: 5rem;width: 5rem">
                        <img alt="" src="../../static/image/contribution/energy4.svg"
                             style="right: 2rem;top: 3rem;height: 3rem;width: 3rem">
                        <img alt="" src="../../static/image/contribution/energy5.png"
                             style="right: 6rem;top: 7rem;">
                        <p style="font-weight: 500;margin-left:15rem;font-size: 3rem; font-family: Merienda-Regular,sans-serif">
                            You are retrenching
                            <br><b
                                style="font-size: 4rem; font-family: Merriweather,sans-serif;color: var(--sky4)">{{ waste_dict.normal.energy }}</b>
                            J energy!</p>
                    </div>
                    <div class="div6">
                        <img alt="" src="../../static/image/contribution/co21.png"
                             style="left: 1rem;top: 1rem;">
                        <img alt="" src="../../static/image/contribution/co22.png"
                             style="left: 2rem;top: 8rem;height: 5rem;width: 5rem">
                        <p style="font-weight: 300;margin-left:10rem;font-size: 2rem; font-family: Sunflower-Medium,sans-serif">
                            {% for att in waste_dict.a %}
                                <span>{{ att.attr }}: </span>
                                <b style="font-size: 2.5rem; font-family: KirangHaerang-Regular,sans-serif;color: var(--dark-orange)">{{ att.v }}</b>
                            {% endfor %}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="individual-orders-module2">
            <div class="title-top">
                <div class="title-top-left">
                    <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Orders") }}</h2>
                </div>
                <div class="title-top-right">
                    <div>
                        <img src="../../static/image/icon/s1.svg" alt="home"
                             class="icons icon-nav title-top-right-icon"
                             title="Scene">
                        <span>{{ _("Unconfirmed") }}</span></div>
                    <div>
                        <img src="../../static/image/icon/s2.svg" alt="home"
                             class="icons icon-nav title-top-right-icon"
                             title="Scene">
                        <span>{{ _("Confirmed") }}</span></div>
                    <div>
                        <img src="../../static/image/icon/s3.svg" alt="home"
                             class="icons icon-nav title-top-right-icon"
                             title="Scene">
                        <span>{{ _("Processing") }}</span></div>
                    <div>
                        <img src="../../static/image/icon/s4.svg" alt="home"
                             class="icons icon-nav title-top-right-icon"
                             title="Scene">
                        <span>{{ _("Finished") }}</span></div>
                </div>

            </div>
            <div class="tables" style="box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
43px 35px 80px rgba(0, 0, 0, 0.07); padding: 10px; border-radius: 10px; margin-left: 0.8rem;margin-right: 0.8rem;margin-bottom: 0.8rem;">
                <div>
                    <table class="table row-border stripe order-column compact" id="view-order-table"
                           style="width: 100%;">
                        <thead>
                        <tr>
                            <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                            <th scope="col" class="no-sort">{{ _("Name") }}</th>
                            <th scope="col" class="underline sortable">
                                {{ _("Date") }}
                            </th>
                            <th scope="col" class="underline sortable">
                                {{ _("Type") }}
                            </th>
                            <th scope="col" class="underline sortable">
                                {{ _("Weight") }}
                            </th>
                            <th scope="col" class="underline sortable">
                                {{ _("Source") }}
                            </th>
                            <th scope="col" class="underline sortable">
                                {{ _("Status") }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in all_orders %}
                            {% set source_str = order.wasteSource | enum_to_string %}
                            <tr>
                                <td></td>
                                <td> {{ order.orderName }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.wasteType|enum_to_string }}</td>
                                <td>{{ order.weight }}</td>
                                <td>
                                    {% if source_str == "External" %}
                                        <span class="status-dot status-blue" title="Paid">Paid</span>
                                    {% elif source_str == "External Free" %}
                                        <span class="status-dot status-green" title="Free">Free</span>
                                    {% endif %}
                                </td>
                                {% if order.orderStatus.name == "UNCONFIRMED" %}
                                    <td><img src="../../static/image/icon/s1.svg" alt="home"
                                             class="icons icon-nav"></td>
                                {% elif order.orderStatus.name == "CONFIRM" %}
                                    <td><img src="../../static/image/icon/s2.svg" alt="home"
                                             class="icons icon-nav"></td>
                                {% elif order.orderStatus.name == "PROCESSING" %}
                                    <td><img src="../../static/image/icon/s3.svg" alt="home"
                                             class="icons icon-nav"></td>
                                {% elif order.orderStatus.name == "FINISHED" %}
                                    <td><img src="../../static/image/icon/s4.svg" alt="home"
                                             class="icons icon-nav "></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer2.html' %}
    <script>

        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/individual/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });


            $('.dropdown li').click(function () {
                const spanText = $(this).find('span').text();
                const details = $(this).closest('.dropdown');
                details.find('summary').text(spanText);
                details.data('value', spanText);
            });


            $('#view-order-table').DataTable({
                paging: true, // Enable pagination
                searching: true, // Enable search bar
                ordering: true, // Enable sorting
                info: true, // Show information about the table
                lengthMenu: [8, 16, 32], // Set the page length options
                pageLength: 8,
                responsive: true, // Enable responsive layout
                autoWidth: true,
                columnDefs: [
                    {
                        targets: [0, 1, 2, 3, 4, 5],
                        className: 'dt-head-center'
                    },
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-body-left'
                    },
                    {
                        targets: [0, 5],
                        className: 'dt-body-center'
                    },
                    {
                        targets: 'no-sort',
                        orderable: false
                    },
                    {
                        targets: 0,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }
                ],
            });

            // 计算当前日期的年份和月份
            const currentDate = new Date();
            const currentYear = currentDate.getFullYear();
            const currentMonth = currentDate.getMonth() + 1;

            // 设置每页展示的月份数量
            const monthsPerPage = 4;

            // 计算当前页的起始日期和结束日期
            const startDate = new Date(currentYear, currentMonth - 3, 1); // 月份从 0 开始，因此要减 1
            const minDate = new Date(currentYear - 1, currentMonth, 1)
            const maxDate = new Date(currentYear, currentMonth, 1);
            console.log(minDate, maxDate)


            const cal = new CalHeatmap();
            cal.paint(
                {
                    data: {
                        source: orders_by_day,
                        type: 'json',
                        x: "date",
                        y: d => d["num"],
                        groupY: 'max',
                    },
                    date: {start: startDate, min: minDate, max: maxDate},
                    range: monthsPerPage,
                    scale: {
                        color: {
                            type: 'threshold',
                            range: ['#4dd05a', '#37a446', '#166b34', '#14432a'],
                            domain: [1, 5, 10, 20],
                        },
                    },
                    domain: {
                        type: 'month',
                        gutter: 10,
                        label: {text: 'MMM', position: 'bottom'},
                    },
                    subDomain: {
                        type: 'day', radius: 5, width: 20, height: 20, gutter: 4,
                    },
                    itemSelector: "#cal-heatmap",
                },
                [
                    [
                        Tooltip,
                        {
                            text: function (date, value, dayjsDate) {
                                return (
                                    (value ? value : 'No') +
                                    ' orders on ' +
                                    dayjsDate.format('dddd, MMMM D, YYYY')
                                );
                            },
                        },
                    ],
                    [
                        LegendLite,
                        {
                            includeBlank: true,
                            itemSelector: '#ex-ghDay-legend',
                            radius: 2,
                            width: 11,
                            height: 11,
                            gutter: 4,
                        },
                    ],
                ]
            );

            document.getElementById('previous-button').addEventListener('click', function (e) {
                e.preventDefault();
                cal.previous(3);
            });

            document.getElementById('next-button').addEventListener('click', function (e) {
                e.preventDefault();
                cal.next(3);
            });

            {#以下是贡献度的内容#}
            const contributionContainer = $('.contribution-description');
            const allDivs = $('.div1, .div2, .div3, .div4, .div5, .div6');
            const totalDivs = allDivs.length;

            const div1 = $('.div1');
            const imgList1 = div1.find('img');
            const div2 = $('.div2');
            const imgList2 = div2.find('img');
            const div3 = $('.div3');
            const imgList3 = div3.find('img');
            const div4 = $('.div4');
            const imgList4 = div4.find('img');
            const div5 = $('.div5');
            const imgList5 = div5.find('img');
            const div6 = $('.div6');
            const imgList6 = div6.find('img');

            gsap.set(allDivs, {autoAlpha: 0, display: 'none'});
            gsap.set(div1, {autoAlpha: 1, display: 'flex'});

            function animateDivs() {
                let currentDivIndex = 0;
                let divTimelines = []; // 存储每个div的独立时间线
                allDivs.each(function (index) {
                    const div = $(this);
                    // 创建时间线并添加显示和隐藏动画
                    const tl = gsap.timeline({
                        paused: true,
                        onComplete: function () {
                            // 当动画完成后，隐藏div并准备显示下一个div
                            gsap.set(div, {autoAlpha: 0, display: 'none'});
                            showNextDiv(); // 切换到下一个div
                        }
                    })
                        .to(div, {duration: 1, autoAlpha: 1, display: 'flex', ease: 'power1.in'})
                        .to(div, {duration: 1, autoAlpha: 0, delay: 4}); // 移除了display: 'none'，因为它会在onComplete中设置
                    divTimelines.push(tl); // 将时间线添加到数组
                });

                function showNextDiv() {
                    divTimelines[currentDivIndex].kill();
                    currentDivIndex = (currentDivIndex + 1) % totalDivs;
                    runOneTimeAnimation(currentDivIndex);
                    divTimelines[currentDivIndex].restart();
                }

                function runOneTimeAnimation(index) {
                    switch (index) {
                        case 0:
                            div1onetime();
                            break;
                        case 1:
                            div2onetime();
                            break;
                        case 2:
                            div3onetime();
                            break;
                        case 3:
                            div4onetime();
                            break;
                        case 4:
                            div5onetime();
                            break;
                        case 5:
                            div6onetime();
                            break;
                    }
                }

                runOneTimeAnimation(currentDivIndex);
                divTimelines[currentDivIndex].restart();
            }

            animateDivs();

            imgList1.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaY, duration;
                switch (index) {
                    case 0:
                        deltaY = -15; // 第一个图片上下移动15单位
                        duration = 1; // 持续时间为1秒
                        break;
                    case 1:
                        deltaY = -20; // 第二个图片上下移动20单位
                        duration = 1.5; // 持续时间为1.5秒
                        break;
                    case 2:
                        deltaY = -10; // 第三个图片上下移动10单位
                        duration = 0.8; // 持续时间为0.8秒
                        break;
                    default:
                        deltaY = -12; // 其他图片默认上下移动12单位
                        duration = 1.2; // 持续时间为1.2秒
                }
                // 应用动画
                gsap.fromTo(this, {y: 0}, {
                    y: deltaY, // 上下移动的距离，根据索引变化
                    duration: duration, // 动画持续时间，根据索引变化
                    repeat: -1, // 无限循环
                    yoyo: true, // 恢复原位
                    ease: 'power1.out' // 缓动函数，使动画更平滑
                });
            });

            $('.div1 p').each(function () {
                // 先淡入文本
                gsap.from(this, {
                    autoAlpha: 0, // 开始时的透明度
                    duration: 3, // 渐变持续时间
                    ease: 'power1.out' // 缓动函数
                });
                gsap.set(this, {rotationX: -15, rotationY: -30});
                // 添加往复旋转动画
                gsap.to(this, {
                    rotationX: 15,
                    rotationY: 30,
                    duration: 3,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power2.inOut'
                });
            });

            function div1onetime() {
                $('.div1 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseInt($(this).text()), // 假定xxx是目标值
                                roundProps: "val",
                                onUpdate: () => {
                                    document.querySelector(".div1 b").textContent = counter.val;
                                }
                            });
                        }
                    });
                });
            }

            imgList2.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaX, deltaY, opacity, scale, rotation, duration;
                switch (index) {
                    case 0:
                        deltaX = -5;
                        deltaY = -15;
                        opacity = 0.5;
                        scale = 1.1;
                        rotation = 10;
                        duration = 1;
                        break;
                    case 1:
                        deltaX = 10;
                        deltaY = -20;
                        opacity = 0.8;
                        scale = 1.2;
                        rotation = -10;
                        duration = 1.5;
                        break;
                    case 2:
                        deltaX = 0;
                        deltaY = -10;
                        opacity = 1;
                        scale = 1;
                        rotation = 5;
                        duration = 0.8;
                        break;
                    default:
                        deltaX = 0;
                        deltaY = -12;
                        opacity = 0.7;
                        scale = 1.1;
                        rotation = 0;
                        duration = 1.2;
                        break;
                }
                // 应用动画
                gsap.fromTo(this, {x: 0, y: 0, opacity: 1, scale: 1, rotation: 0}, {
                    x: deltaX,
                    y: deltaY,
                    opacity: opacity,
                    scale: scale,
                    rotation: rotation,
                    duration: duration,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power1.out'
                });
            });


            $('.div2 p').each(function () {
                // 应用动画到整个段落
                gsap.fromTo(this, {
                    opacity: 0.5, // 开始的透明度
                    scale: 0.9 // 开始的缩放大小
                }, {
                    opacity: 1, // 结束的透明度
                    scale: 1, // 结束的缩放大小
                    duration: 2, // 动画持续时间
                    repeat: -1, // 无限重复
                    yoyo: true, // 往返动作
                    ease: 'power1.inOut' // 缓动函数，使动画平滑进行
                });
            });

            function div2onetime() {
                $('.div2 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseInt($(this).text()), // 假定xxx是目标值
                                roundProps: "val",
                                onUpdate: () => {
                                    document.querySelector(".div2 b").textContent = counter.val;
                                }
                            });
                        }
                    });
                });

            }

            imgList3.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaX, deltaY, opacity, scale, rotation, duration;
                switch (index) {
                    case 0:
                        deltaX = -10;
                        opacity = 0.5;
                        scale = 0.9;
                        duration = 1;
                        break;
                    case 1:
                        deltaX = 10;
                        deltaY = -20;
                        opacity = 0.8;
                        scale = 1.1;
                        rotation = -10;
                        duration = 1.5;
                        break;
                    case 2:
                        deltaX = 0;
                        deltaY = -10;
                        opacity = 1;
                        scale = 1;
                        duration = 0.8;
                        break;
                    default:
                        deltaX = 0;
                        deltaY = -12;
                        opacity = 0.7;
                        scale = 1.1;
                        rotation = 0;
                        duration = 1.2;
                        break;
                }
                // 应用动画
                gsap.fromTo(this, {x: 0, y: 0, opacity: 1, scale: 1, rotation: 0}, {
                    x: deltaX,
                    y: deltaY,
                    opacity: opacity,
                    scale: scale,
                    rotation: rotation,
                    duration: duration,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power1.inOut'
                });
            });

            function div3onetime() {
                $('.div3 p').each(function () {
                    gsap.from(this, {
                        duration: 2,
                        x: -100,
                        opacity: 0,
                        ease: "power1.out"
                    });
                });
                $('.div3 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseInt($(this).text()), // 假定xxx是目标值
                                roundProps: "val",
                                onUpdate: () => {
                                    document.querySelector(".div3 b").textContent = counter.val;
                                }
                            });
                        }
                    });
                });
            }

            imgList4.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaX, deltaY, opacity, scale, rotation, duration;
                switch (index) {
                    case 0:
                        deltaX = -10;
                        duration = 1;
                        rotation = 5;
                        break;
                    case 2:
                        deltaX = 10;
                        deltaY = -20;
                        opacity = 0.8;
                        scale = 1.1;
                        rotation = -10;
                        duration = 1.5;
                        break;
                }
                // 应用动画
                gsap.fromTo(this, {x: 0, y: 0, opacity: 1, scale: 1, rotation: 0}, {
                    x: deltaX,
                    y: deltaY,
                    opacity: opacity,
                    scale: scale,
                    rotation: rotation,
                    duration: duration,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power1.inOut'
                });
            });

            imgList5.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaX, deltaY, opacity, scale, rotation, duration;
                switch (index) {
                    case 0:
                        deltaX = -10;
                        duration = 1;
                        rotation = 5;
                        break;
                    case 1:
                        deltaX = 10;
                        deltaY = -20;
                        opacity = 0.8;
                        scale = 1.1;
                        rotation = -10;
                        duration = 1.5;
                        break;
                    case 2:
                        deltaX = -10;
                        deltaY = 20;
                        opacity = 1;
                        scale = 0.9;
                        rotation = 5;
                        duration = 1.2;
                        break;
                    case 3:
                        deltaY = -30;
                        opacity = 0.6;
                        scale = 1.2;
                        rotation = -20;
                        duration = 1.8;
                        break;
                    case 4:
                        deltaY = 10;
                        opacity = 0.8;
                        duration = 1.6;
                        break;
                }
                // 应用动画
                gsap.fromTo(this, {x: 0, y: 0, opacity: 1, scale: 1, rotation: 0}, {
                    x: deltaX,
                    y: deltaY,
                    opacity: opacity,
                    scale: scale,
                    rotation: rotation,
                    duration: duration,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power1.inOut'
                });
            });


            imgList6.each(function (index) {
                // 根据索引来定义不同的动画参数
                let deltaX, deltaY, opacity, scale, rotation, duration;
                switch (index) {
                    case 0:
                        deltaX = -10;
                        duration = 1;
                        rotation = 5;
                        break;
                    case 1:
                        deltaY = -20;
                        opacity = 0.8;
                        scale = 1.1;
                        duration = 1.5;
                        break;
                }
                // 应用动画
                gsap.fromTo(this, {x: 0, y: 0, opacity: 1, scale: 1, rotation: 0}, {
                    x: deltaX,
                    y: deltaY,
                    opacity: opacity,
                    scale: scale,
                    rotation: rotation,
                    duration: duration,
                    repeat: -1,
                    yoyo: true,
                    ease: 'power1.inOut'
                });
            });

            function div4onetime() {
                $('.div4 p').each(function () {
                    gsap.from(this, {
                        duration: 2,
                        y: 100,
                        opacity: 0,
                        ease: "power1.out"
                    });
                });
                $('.div4 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseInt($(this).text()), // 假定xxx是目标值
                                roundProps: "val",
                                onUpdate: () => {
                                    document.querySelector(".div4 b").textContent = counter.val;
                                }
                            });
                        }
                    });
                });
            }

            function div5onetime() {
                $('.div5 p').each(function () {
                    gsap.from(this, {
                        duration: 2,
                        rotationZ: 30,
                        opacity: 0,
                        ease: "power1.out"
                    });
                });
                $('.div5 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseInt($(this).text()), // 假定xxx是目标值
                                roundProps: "val",
                                onUpdate: () => {
                                    document.querySelector(".div5 b").textContent = counter.val;
                                }
                            });
                        }
                    });
                });
            }

            function div6onetime() {
                $('.div6 p').each(function () {
                    gsap.from(this, {
                        duration: 2,
                        x: -40,
                        opacity: 0,
                        ease: "power1.out"
                    });
                });
                $('.div6 b').each(function () {
                    gsap.from(this, {
                        onStart: () => {
                            // 使用GSAP的插件或自定义函数实现计数器效果
                            let counter = {val: 0};
                            gsap.to(counter, {
                                duration: 2,
                                val: parseFloat($(this).text()), // 假定xxx是目标值
                                onUpdate: () => {
                                    // 格式化为两位小数
                                    $(this).text(counter.val.toFixed(2));
                                }
                            });
                        }
                    });
                });
            }
        });
    </script>
{% endblock %}