{% extends 'individual/base.html' %}
{% block extra_css %}
    <style>

        .header .container {
            border-bottom: 0.12rem solid var(--border-color);

        }

        .individual-create {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding: 7.5rem 3rem 4rem;
            gap: 0.8rem;
            background: var(--panel2-color);
        }

        .individual-create-module {
            display: flex;
            flex-direction: column;
            border-radius: 0.6rem;
            background: var(--panel-color);
            box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
            5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
            43px 35px 80px rgba(0, 0, 0, 0.07);
        }

        .title-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-bottom: 0.2rem solid var(--border-color);
        }

        .icons {
            width: 2rem;
            margin-right: 1.5rem;
        }

        .form-container {
            padding: 1rem 2rem;
        }

        .pico label.no-pico-label {
            display: flex;
            align-items: center;
        }

        .pico input[type="number"] {
            width: 12rem;
            margin-left: 1rem;
        }

        .order-attributes {
            display: flex;
            flex-direction: row;
            gap: 0.6rem;
            align-items: center;
            flex-wrap: wrap;
        }

        .order-choose {
            display: flex;
            align-items: center;
            gap: 5rem;
        }

        .dropdown {
            width: 25rem;
        }

        #temType {
            width: 100%;
        }

        .dropdown li a {
            display: flex;
            flex-direction: row;
        }

        .dropdown li a i {
            display: inline;
            margin-left: 1rem;
            margin-right: 1.5rem;
            font-size: 1.2rem;
        }

        .dropdown li:hover i,
        .dropdown li:hover span {
            color: var(--primary-color);
        }

        .pico .no-pico-label input[type="text"] {
            width: 10rem;
            margin-left: 1rem;
        }

        .pico label.no-pico-label i {
            font-size: 1.5em;
        }

        .pico label.no-pico-label span {
            margin-left: 0.5rem;
        }

        .pico label.no-pico-label:hover i, .pico label.no-pico-label:hover span {
            color: var(--primary-color);
        }

        .pico input[type="number"].attr {
            width: 6rem;
        }

        #location-container {
            width: 90%;
        }

        #location-map {
            width: 40rem;
            height: 30rem;
            margin-bottom: 2rem;
            border-radius: 0.5rem;
        }

        .jiangjiechuanglimoban {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            padding-bottom: 0.4rem;
            border-bottom: 0.15rem solid var(--border-color);
        }

        .jiangjiechuanglimoban p {
            font-size: 0.9rem;
        }

        .jiangjiechuanglimoban p b {
            font-size: 1.1rem;
            font-family: Ubuntu, serif;
        }

        .chuangjianmoban {
            display: grid;
            grid-template-columns: 4fr 4.5fr 1.5fr;
            gap: 0.6rem;
            margin-top: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 4rem;
        }

        .quyu1 {
            display: flex;
            flex-direction: column;
            padding: 0.4rem;
            border: 0.06rem solid var(--sky3);
            border-radius: 0.6rem;
        }

        .quyu2 {
            padding: 0.4rem;
            border: 0.06rem solid var(--sky3);
            border-radius: 0.6rem;
            overflow-y: auto;
        }

        .input-attr {
            display: inline-block; /* 使输入框以行内块级元素显示 */
            width: 4rem; /* 设置固定宽度 */
            padding: 0.1rem 0.1rem; /* 内边距 */
            margin: 0.2rem 0.4rem; /* 顶部和底部外边距，水平方向无外边距 */
            border: 0.06rem solid var(--border-color); /* 边框 */
            border-radius: 0.3rem; /* 圆角 */
            box-shadow: 0 0.12rem 0.24rem rgba(0, 0, 0, 0.1); /* 轻微的阴影，增加立体感 */
            transition: all 0.3s; /* 平滑过渡效果 */
        }

        .input-attr:focus {
            border-color: var(--luotianyi5); /* 聚焦时的边框颜色 */
            box-shadow: 0 0 0.2rem rgba(91, 155, 213, 0.5); /* 聚焦时的阴影，提高边框亮度和视觉效果 */
            outline: none; /* 去除默认的聚焦轮廓 */
        }

        #addAttr {
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            border-radius: 50%;
            transition: transform 300ms ease;
            transform-origin: center;
        }

        .plus-icon {
            width: 3rem;
            height: 3rem;
            stroke: var(--luotianyi1);
            fill: none;
            transition: all 300ms ease;
        }

        #addAttr:hover .plus-icon {
            transform: rotate(90deg);
            fill: var(--luotianyi4);
        }

        #addAttr:active .plus-icon {
            stroke: var(--luotianyi3);
            fill: var(--luotianyi2);
        }

        .circle {
            transition: stroke-width 300ms ease;
            stroke-width: 1.5;
        }

        .plus-horizontal, .plus-vertical {
            transition: stroke-width 300ms ease;
            stroke-width: 1.5;
        }

        .quyu3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.4rem;
            border: 0.06rem solid var(--sky3);
            border-radius: 0.6rem;
        }

        .quyu3 #createTem {
            margin: auto;
        }

        .icon-gouxuan {
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--doing1);
        }

        #createTem .icon-gouxuan {
            color: var(--doing1);
            font-size: 4rem;
        }

        .icon-shanchu {
            cursor: pointer;
            font-size: 1.5rem;
            color: var(--tododelete);
        }

        .icon-gouxuan:hover .icon-shanchu:hover {
            font-size: 2rem;
            transition: all 0.3s ease;
        }

    </style>
{% endblock %}
{% block extra_js %}
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key={{ a3 }}' async defer></script>
{% endblock %}
{% block title %}
    indi-create
{% endblock %}
{% block content %}
    {% include 'switch2.html' %}
    {% include 'aichat.html' %}
    {% include 'header2.html' %}
    <section class="individual-create">
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/icon/order.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Create Order") }}</h2>
            </div>
            <div class="form-container">
                <form class="pico" id="orderForm" method="post">
                    <label for="order-name">{{ _("Order name:") }}
                        <input type="text" id="order-name" name="order-name" required>
                    </label>
                    <div class="order-choose">
                        <details class="pico dropdown" data-value="">
                            <summary>{{ _("Please choose one waste type: ") }}</summary>
                            <ul>
                                {% for waste in wastes %}
                                    <li data-value="{{ waste }}">
                                        <a href="#">
                                            <i class="iconfont icon-{{ waste.name }}"></i>
                                            <span>{{ waste|enum_to_string }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </details>
                        <label class="number-input no-pico-label" for="order-weight">{{ _("Weight: ") }}
                            <input type="number" id="order-weight" name="order-weight" required min="0"
                                   oninput="enforce1(this)">
                            <span>kg</span>
                        </label>
                    </div>
                    {{ _("Attributes: (percentage)") }}
                    <div class="order-attributes">
                        <label class="number-input no-pico-label order-attribute" for="order-a1">
                            <input type="number" class="attr" id="order-a1" name="order-a1" required data-attr="CO2"
                                   min="0" max="100" oninput="enforce2(this)">
                            <span>CO2</span>
                        </label>
                    </div>
                    <label for="order-comment">{{ _("Order comment:") }}
                        <textarea rows="2" cols="50" id="order-comment" name="order-comment"></textarea>
                    </label>
                    <div id="location-container">
                        <label for="order-address">{{ _("Your address:") }}
                            <input type="text" id="order-address" name="order-address">
                        </label>
                    </div>
                    <div id="location-map" style="margin-left: auto; margin-right: auto"></div>
                    <input type="button" id="createOrderBtn" class="outline" value="{{ _("Create") }}"></input>
                </form>
            </div>
        </div>
        <div class="individual-create-module">
            <div class="title-top">
                <img src="../../static/image/icon/order.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Templates") }}</h2>
            </div>
            <div class="jiangjiechuanglimoban">
                <p>You can choose one type of <b>waste</b>, set one <b>template name</b>, then add many
                    different <b>attributes</b> to create one <b>template</b>.
                </p>
                <p>Middle area's button is to create a text, you need to type in, like CO2, SO4, if you want to
                    add a new attribution, please fill all text, or right-click to delete.
                    <br>You can select one template to create one order</p>
            </div>
            <div class="chuangjianmoban">
                <div class="quyu1 pico">
                    <input type="text" id="temName" placeholder="please input name" required>
                    <details class="pico dropdown" data-value="" id="temType">
                        <summary>{{ _("choose one type: ") }}</summary>
                        <ul>
                            {% for waste in wastes %}
                                <li data-value="{{ waste }}">
                                    <a href="#">
                                        <i class="iconfont icon-{{ waste.name }}"></i>
                                        <span>{{ waste|enum_to_string }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </details>
                </div>
                <div class="quyu2">
                    <button title="Add New" id="addAttr">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="plus-icon">
                            <circle cx="12" cy="12" r="10" class="circle"></circle>
                            <path d="M8 12H16" class="plus-horizontal"></path>
                            <path d="M12 16V8" class="plus-vertical"></path>
                        </svg>
                    </button>

                </div>
                <div class="quyu3">
                    <button id="createTem"><i class="iconfont icon-gouxuan"></i></button>
                </div>
            </div>
            <div class="tables" style="box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
43px 35px 80px rgba(0, 0, 0, 0.07); padding: 10px; border-radius: 10px; margin-top: 8rem; margin-left: 0.6rem;margin-right: 0.6rem;">
                <div>
                    <table class="table row-border stripe order-column compact" id="view-templates"
                           style="width: 100%; ">
                        <thead>
                        <tr>
                            <th scope="col" class="no-sort">{{ _("Name") }}</th>
                            <th scope="col" class="underline">
                                {{ _("W-Type") }}
                            </th>
                            <th scope="col" class="underline">
                                {{ _("Attrs.") }}
                            </th>
                            <th scope="col" class="no-sort">
                                {{ _("Opts") }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for templates in all_templates %}
                            <tr>
                                <td>{{ templates.wasteName }}</td>
                                <td>{{ templates.wasteType }}</td>
                                <td>{{ templates.attribution }}</td>
                                <td>
                                    <i class="iconfont icon-gouxuan use-tem"></i>
                                    <i class="iconfont icon-shanchu delete-tem"
                                       data-id="{{ templates.TID }}"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <i class="iconfont icon-top"></i>
    </a>
    {% include 'footer2.html' %}
    <script>

        function loadMapScenario() {
            let initialLocation;
            let currentZoom = 14; // 存储当前缩放级别
            let map = new Microsoft.Maps.Map(document.getElementById('location-map'), {
                credentials: '{{ a3 }}',
                zoom: currentZoom,
                showMapTypeSelector: false, // Hide map type selector
                disableZooming: false,       // Disable zooming
                showZoomButtons: false      // Hide zoom buttons
            });
            let loc; // 用于存储当前或选择的位置
            // 加载AutoSuggest和Search模块
            Microsoft.Maps.loadModule(['Microsoft.Maps.AutoSuggest', 'Microsoft.Maps.Search'], function () {
                let manager = new Microsoft.Maps.AutosuggestManager({map: map});
                manager.attachAutosuggest('#order-address', '#location-container', selectedSuggestion);
                let searchManager = new Microsoft.Maps.Search.SearchManager(map);

                // 定义选中建议后的行为
                function selectedSuggestion(suggestionResult) {
                    loc = suggestionResult.location;
                    updateMapLocation(loc, map.getZoom());
                }

                // 获取当前位置并更新地图
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude);
                    loc = new Microsoft.Maps.Location(position.coords.latitude, position.coords.longitude);
                    updateMapLocation(loc, map.getZoom(), true); // 初始定位
                });

                function updateMapLocation(location, zoomLevel, initial = false) {
                    map.entities.clear();
                    map.setView({location: location, zoom: zoomLevel});
                    let pushpin = new Microsoft.Maps.Pushpin(location);
                    map.entities.push(pushpin);
                    // 逆地理编码获取地址，并确保搜索结果为当前视图中心
                    searchManager.reverseGeocode({
                        location: location,
                        callback: function (result) {
                            if (result.name) {
                                document.getElementById('order-address').value = result.name;
                                if (!initial) {
                                    // 确保搜索框中的结果更新为当前位置
                                    map.setView({center: location, zoom: zoomLevel});
                                }
                            }
                        }
                    });
                    currentZoom = zoomLevel;
                }

                // 点击地图获取新位置时，不重新设定视图中心
                Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
                    if (e.location) {
                        updateMapLocation(e.location, map.getZoom(), true);
                    }
                });

                // “定位到我”按钮逻辑，确保返回初始位置时视图中心和缩放级别一致
                $('#LocateMeButton').click(function (e) {
                    updateMapLocation(initialLocation, map.getZoom(), true);
                });


            });
        }

        window.onload = loadMapScenario;
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/individual/index';
        });

        window.addEventListener('beforeunload', function (event) {
            console.log('页面关闭，清理不需要的缓存');
        });

        function enforce1(input) {
            const min = 0;
            const v = input.value;
            if (v < min) {
                input.value = min;
            }
        }

        function enforce2(input) {
            const min = 0;
            const max = 100;
            const v = input.value;
            if (v < min) {
                input.value = min;
            } else if (v > max) {
                input.value = max;
            }
        }

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });

            $("#createOrderBtn").click(function (e) {
                e.preventDefault();
                const orderName = $("#order-name").val();
                const weight = $("#order-weight").val();
                const type = $('.dropdown').data('value');
                const comment = $("#order-comment").val();
                const address = $('#order-address').val();
                let attribution = '';
                document.querySelectorAll('.order-attribute').forEach(function (item) {
                    const attrName = $(item).find('input').data('attr');
                    const attrValue = $(item).find('input').val();
                    attribution += attrName + ':' + attrValue + '%' + ' ';
                });
                if (orderName === "" || weight === "" || type === "" || attribution === "") {
                    Swal.fire({
                        text: "Please input all required fields except comments.",
                        icon: "question",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                }
                const orderInfo = {
                    orderName: orderName,
                    weight: weight,
                    wasteType: type,
                    attribution: attribution,
                    comment: comment,
                    address: address
                };
                $.ajax({
                    url: "/individual/createorder",
                    type: "POST",
                    data: JSON.stringify(orderInfo),
                    contentType: "application/json;charset=UTF-8",
                    success: function (response) {
                        if (response.message === "successful") {
                            Swal.fire({
                                toast: true,
                                text: "create successful",
                                icon: "success",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                position: 'top-start',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                            $("#order-name").val('');
                            $("#order-weight").val('');
                            $("#order-comment").val('');
                            document.querySelectorAll('.order-attribute').forEach(function (item) {
                                $(item).find('input').val('');
                            });
                        } else {
                            Swal.fire({
                                text: response.message,
                                icon: "error",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                timer: 3000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        }
                    }
                });
            });
            $('.dropdown li').click(function () {
                const spanText = $(this).find('span').text();
                const details = $(this).closest('.dropdown');
                details.find('summary').text(spanText);
                details.data('value', spanText);
            });


            $('#addAttr').click(function () {
                // 检查最后一个输入框是否已填写
                let lastInput = $('.quyu2 input').last();
                if (lastInput.length !== 0 && lastInput.val().trim() === '') {
                    Swal.fire({
                        toast: true,
                        text: "Please fill all texts.",
                        icon: "error",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                } else {
                    let newInput = $('<input type="text" class="input-attr">');
                    $('.quyu2').append(newInput);
                    setTimeout(function () {
                        newInput.focus();
                    }, 100); // 使
                }
            });
            $('.quyu2').on('contextmenu', '.input-attr', function (event) {
                event.preventDefault(); // 阻止默认的右键菜单
                $(this).remove(); // 删除当前被右键点击的输入框
                return false; // 防止进一步的事件冒泡或默认行为
            });

            const view_templates = $('#view-templates').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [6, 12, 24],
                pageLength: 6,
                responsive: true,
                autoWidth: true,
                columnDefs: [
                    {targets: [0, 1, 2, 3], className: 'dt-head-center'},
                    {targets: [0, 1, 2], className: 'dt-body-left'},
                    {targets: [3], className: 'dt-body-center'},
                    {targets: 'no-sort', orderable: false}
                ],
            });

            $('#createTem').click(function () {
                let isValid = true;

                // 检查下拉框是否已选择（假设下拉框的选择存储在 data-value 属性中）
                if ($('#temType').data('value') === '') {
                    isValid = false;
                    console.log(1)
                }

                // 检查地址输入框是否为空
                if ($('#temName').val() === '') {
                    isValid = false;
                    console.log(2)

                }

                // 检查quyu2中的所有输入框是否为空
                $('.quyu2 input[type="text"]').each(function () {
                    if ($(this).val() === '') {
                        isValid = false;
                        console.log(3)
                    }

                });

                if (!isValid) {
                    Swal.fire({
                        toast: true,
                        text: "Please fill all information.",
                        icon: "error",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                } else {
                    let temName = $('#temName').val();
                    let temType = $('#temType').data('value');
                    let temAttr = '';
                    $('.quyu2 input[type="text"]').each(function () {
                        temAttr += $(this).val() + ' ';
                    });

                    let temInfo = {
                        waste_name: temName,
                        wasteType: temType,
                        attribution: temAttr
                    };

                    $.ajax({
                        url: "{{ url_for('utils.createTemplate') }}",
                        type: "POST",
                        data: JSON.stringify(temInfo),
                        contentType: "application/json;charset=UTF-8",
                        success: function (response) {
                            if (response.message === "successful") {
                                Swal.fire({
                                    toast: true,
                                    text: "create successful",
                                    icon: "success",
                                    closeOnClickOutside: true,
                                    closeOnEsc: true,
                                    position: 'top-end',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    background: swalcolor,
                                });
                                const newR = view_templates.row.add([
                                    temName, temType, temAttr,
                                    `<i class="iconfont icon-gouxuan use-tem"></i>
                                    <i class="iconfont icon-shanchu delete-tem" data-id="${response.TID}"></i>`
                                ]).draw(false).node();
                            } else {
                                Swal.fire({
                                    text: response.message,
                                    icon: "error",
                                    closeOnClickOutside: true,
                                    closeOnEsc: true,
                                    timer: 3000,
                                    timerProgressBar: true,
                                    background: swalcolor,
                                });
                            }
                        }
                    });

                }
            });


            $(document).on('click', '.delete-tem', function () {
                let TID = $(this).data('id');
                let self = this; // Save the reference to the button

                Swal.fire({
                    title: "{{ _('Are you sure to delete this template?') }}",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: "{{ _('Yes!') }}",
                    cancelButtonText: "{{ _('No') }}",
                    background: swalcolor,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        console.log(TID)
                        // 用户点击了确认按钮
                        $.ajax({
                            url: '/deleteTemplate/' + encodeURIComponent(TID),
                            type: 'DELETE',
                            success: function (res) {
                                if (res.message === 'successful') {
                                    Swal.fire({
                                        title: "{{ _('Delete successful') }}",
                                        icon: "success",
                                        toast: true,
                                        position: 'top-end',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        closeOnClickOutside: true,
                                        closeOnEsc: true,
                                        background: swalcolor,
                                    });
                                    view_templates.row($(self).closest('tr')).remove().draw(false);
                                } else {
                                    Swal.fire({
                                        title: "{{ _('Delete failed') }}",
                                        icon: "error",
                                        toast: true,
                                        position: 'top-end',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        closeOnClickOutside: true,
                                        closeOnEsc: true,
                                        background: swalcolor,
                                    });
                                }
                            },
                            error: function (err) {
                                Swal.fire({
                                    title: "{{ _('Delete failed') }}",
                                    icon: "error",
                                    toast: true,
                                    position: 'top-end',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    closeOnClickOutside: true,
                                    closeOnEsc: true,
                                    background: swalcolor,
                                });
                            }
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        // 用户点击了取消按钮或关闭了对话框
                        Swal.fire({
                            title: "{{ _('Deletion cancelled') }}",
                            text: "{{ _('Your template is safe') }}",
                            icon: "info",
                            background: swalcolor,
                        });
                    }
                });
            });


            $(document).on('click', '.use-tem', function () {
                let row = $(this).closest('tr');
                let orderName = row.find('td').eq(0).text();  // 第一列的值
                let wasteType = row.find('td').eq(1).text();  // 第二列的值
                let attrs = row.find('td').eq(2).text().trim().split(' ');  // 第三列的值，按空格分割

                Swal.fire({
                    title: "{{ _('Are you sure to use this template?') }}",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: "{{ _('Yes!') }}",
                    cancelButtonText: "{{ _('No') }}",
                    background: swalcolor,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $('#order-name').val(orderName);  // 设置订单名
                        $('.order-choose .dropdown').attr('data-value', wasteType); // 设置废物类型值
                        $('.order-choose summary').text(`${wasteType}`); // 更新摘要显示选择的废物类型

                        $('.order-attributes').empty();
                        attrs.forEach(function (attr, index) {
                            let label = $(`<label class="number-input no-pico-label order-attribute" for="order-a${index + 1}">
                        <input type="number" class="attr" id="order-a${index + 1}" name="order-a${index + 1}" required data-attr="${attr}" min="0" max="100" oninput="enforce2(this)">
                        <span>${attr}</span>
                      </label>`);
                            $('.order-attributes').append(label);
                        });
                        Swal.fire({
                            title: "{{ _('Apply successfully') }}",
                            icon: "success",
                            toast: true,
                            position: 'top-end',
                            timer: 2000,
                            timerProgressBar: true,
                            closeOnClickOutside: true,
                            closeOnEsc: true,
                            background: swalcolor,
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        // 用户点击了取消按钮或关闭了对话框
                        Swal.fire({
                            title: "{{ _('Use cancelled') }}",
                            text: "{{ _('Your template is safe') }}",
                            icon: "info",
                            background: swalcolor,
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}