{% extends 'individual/base.html' %}
{% block title %}
    individual
{% endblock %}
{% block content %}
    {% include 'header2.html' %}
    {% include 'content.html' %}
    {% include 'footer2.html' %}
    <script>
        $('.header__logo').click(function (e) {
            e.preventDefault();
            window.location.href = '/individual/index';
        });
        $(document).ready(function () {

        });
        // Debounce function to limit the rate at which a function is executed
        function debounce(func, wait, immediate) {
            let timeout;
            return function () {
                let context = this, args = arguments;
                let later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                let callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        const scrollbox = {
            container: document.querySelector(".scrollbox_container"),
            cards: [...document.querySelectorAll(".scrollbox_container_card")],
            trucks: [...document.querySelectorAll(".scc_truck")],
            citys: [...document.querySelectorAll(".scc_city")],
            trigger_distance: 0,
            border_distance: 0,
            distance: 0,
            resize() {
                let _scrollbox = document.querySelector(".scrollbox");
                _scrollbox.style.height = `${this.container.offsetWidth}px`;
                this.trigger_distance = _scrollbox.offsetTop;
                this.border_distance = _scrollbox.offsetTop + _scrollbox.offsetHeight - innerHeight;
            },
            move() {
                if (scrollY >= this.trigger_distance && scrollY <= this.border_distance) {
                    this.distance = scrollY - this.trigger_distance;
                    this.container.style.transform = `translateY(${this.distance}px)`;
                    let distance_x = (this.distance + 50) / (this.border_distance - this.trigger_distance) * (this.container.offsetWidth - innerWidth);
                    for (let i = 0; i < this.cards.length; i++) {
                        this.cards[i].style.transform = `translateX(${-distance_x}px)`;
                        this.trucks[i].style.transform = `translateX(${distance_x * 1.6}px)`;
                        this.citys[i].style.transform = `translateX(${distance_x * 0.8}px)`;
                    }
                }
            }
        };
        scrollbox.resize();
        window.addEventListener("resize", debounce(() => {
            scrollbox.resize();
            remInPixels = parseFloat(getComputedStyle(document.documentElement).fontSize);
        }, 250)); // Execute at most once every 250ms
        window.addEventListener("scroll", () => {
            requestAnimationFrame(() => {
                scrollbox.move();
            });
        });

        const photobox = {
            container: document.querySelector(".photos"),
            img_data: [],
            container_width: 0,
            container_height: 0,
            photo_width: 0,
            photo_height: 0,
            if_movable: false,
            mouse_x: 0,
            mouse_y: 0,
            standard_width: 1440,
            scale_nums: 1,
            init() {
                this.resize();
                window.addEventListener("resize", () => {
                    this.resize();
                });
                this.container.addEventListener("mousedown", (event) => {
                    this.if_movable = true;
                    this.mouse_x = event.clientX;
                    this.mouse_y = event.clientY;
                });
                this.container.addEventListener("mouseup", () => {
                    this.if_movable = false;
                });
                this.container.addEventListener("mouseleave", () => {
                    this.if_movable = false;
                });
                this.container.addEventListener("mousemove", (event) => {
                    this.move(event.clientX, event.clientY);
                });
            },
            resize() {
                let imgs = [...document.querySelectorAll(".photos_line_photo")];
                this.container_width = this.container.offsetWidth;
                this.container_height = this.container.offsetHeight;
                this.photo_width = imgs[0].offsetWidth;
                this.photo_height = imgs[0].offsetHeight;
                this.scale_nums = document.body.offsetWidth / this.standard_width;
                this.container.style.transform = `scale(${this.scale_nums})`;
                gsap.to(imgs, {
                    transform: `translate(0,0)`,
                    duration: 0,
                    ease: 'power4.out'
                });
                this.img_data = [];
                imgs.forEach(img => {
                    this.img_data.push({
                        node: img,
                        x: img.offsetLeft,
                        y: img.offsetTop,
                        mov_x: 0,
                        mov_y: 0,
                        ani: 0
                    });
                });
            },
            move(x, y) {
                if (!this.if_movable) return 0;
                let distance_x = (x - this.mouse_x) / this.scale_nums;
                let distance_y = (y - this.mouse_y) / this.scale_nums;
                this.img_data.forEach((img) => {
                    let duration = 1;
                    img.mov_x += distance_x;
                    if (img.x + img.mov_x > this.container_width) {
                        img.mov_x -= this.container_width;
                        duration = 0;
                    }
                    if (img.x + img.mov_x < -this.photo_width) {
                        img.mov_x += this.container_width;
                        duration = 0;
                    }
                    img.mov_y += distance_y;
                    if (img.y + img.mov_y > this.container_height) {
                        img.mov_y -= this.container_height;
                        duration = 0;
                    }
                    if (img.y + img.mov_y < -this.photo_height) {
                        img.mov_y += this.container_height;
                        duration = 0;
                    }
                    if (img.ani) img.ani.kill();
                    img.ani = gsap.to(img.node, {
                        transform: `translate(${img.mov_x}px,${img.mov_y}px)`,
                        duration: duration,
                        ease: 'power4.out'
                    });
                });
                this.mouse_x = x;
                this.mouse_y = y;
            }
        };
        photobox.init();
    </script>
{% endblock %}