{% extends "individual/index.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/todo.css">
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/todo.js"></script>
{% endblock %}
{% block title %}Individual Kanban{% endblock %}
{% block mainBody %}
    <section class="dashboard">
        {% include "top.html" %}
        <div class="todoContainer">
            <div class="functions">
                <button id="create">create</button>
            </div>
            <div class="boxes1">
                <div class="todo box1">
                    <h1>To Do</h1>
                    <div class="droppable" id="todo"></div>
                </div>
                <div class="doing box1">
                    <h1>Doing</h1>
                    <div class="droppable" id="doing"></div>
                </div>
                <div class="done box1">
                    <h1>Done</h1>
                    <div class="droppable" id="done"></div>
                </div>
            </div>
            <div class="event-modal" id="event-modal">
                <div class="modal-content">
                    <span class="close-button" id="close-modal">&times;</span>
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" id="inputTitle" placeholder="Title"/>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea id="inputDescription" placeholder="Description"></textarea>
                    </div>
                    <button id="submit">Create</button>
                </div>
            </div>
            <!-- 详情模态框 -->
            <div class="detail-modal" id="detail-modal">
                <div class="modal-content">
                    <span class="close-button" id="close-detail-modal">&times;</span>
                    <h2 id="detail-title"></h2>
                    <p id="detail-description"></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

