@font-face {
  font-family: "iconfont"; /* Project id 4488647 */
  src: url('iconfont.woff2?t=1711880119540') format('woff2'),
       url('iconfont.woff?t=1711880119540') format('woff'),
       url('iconfont.ttf?t=1711880119540') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinicon_huabanfuben:before {
  content: "\e646";
}

.icon-shuju:before {
  content: "\e639";
}

.icon-tuxiang:before {
  content: "\e63c";
}

.icon-shujuzhanshi3:before {
  content: "\e650";
}

.icon-shujuzhanshi:before {
  content: "\e652";
}

.icon-wenjiantianjia:before {
  content: "\e659";
}

.icon-daochu:before {
  content: "\e662";
}

.icon-lianjie:before {
  content: "\e665";
}

.icon-shengchan:before {
  content: "\e69f";
}

.icon-a-012_huoche:before {
  content: "\e63a";
}

.icon-a-012_yuyueshijian:before {
  content: "\e63b";
}

.icon-Setting:before {
  content: "\e7d8";
}

.icon-a-robothands:before {
  content: "\e7e3";
}

.icon-wurenji:before {
  content: "\e7e5";
}

.icon-chuju:before {
  content: "\e6dd";
}

.icon-dianqi:before {
  content: "\e6de";
}

.icon-chongwushenghuo:before {
  content: "\e6df";
}

.icon-fajiguandao:before {
  content: "\e6e0";
}

.icon-dianxiandianlan:before {
  content: "\e6e1";
}

.icon-donglichuandong:before {
  content: "\e6e2";
}

.icon-diannaobangong:before {
  content: "\e6e3";
}

.icon-fushineiyi:before {
  content: "\e6e4";
}

.icon-gerenfanghu:before {
  content: "\e6e5";
}

.icon-gongyepin:before {
  content: "\e6e6";
}

.icon-dongligongju:before {
  content: "\e6e7";
}

.icon-gongju:before {
  content: "\e6e8";
}

.icon-gongweishebei:before {
  content: "\e6e9";
}

.icon-jiafang:before {
  content: "\e6ea";
}

.icon-jiaju:before {
  content: "\e6eb";
}

.icon-huaxueshiji:before {
  content: "\e6ec";
}

.icon-jiayongdianqi:before {
  content: "\e6ed";
}

.icon-jianzhuhangye:before {
  content: "\e6ee";
}

.icon-hanjie:before {
  content: "\e6ef";
}

.icon-jiazhuangjiancai:before {
  content: "\e6f0";
}

.icon-gerenhuli:before {
  content: "\e6f1";
}

.icon-jiajuriyong:before {
  content: "\e6f2";
}

.icon-nongchantourupin:before {
  content: "\e6f3";
}

.icon-qingjieyongpin:before {
  content: "\e6f4";
}

