@font-face {
  font-family: "iconfont"; /* Project id 4488647 */
  src: url('iconfont.woff2?t=1713757787636') format('woff2'),
       url('iconfont.woff?t=1713757787636') format('woff'),
       url('iconfont.ttf?t=1713757787636') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e6d3";
}

.icon-guanbi:before {
  content: "\e60f";
}

.icon-jiqiren:before {
  content: "\e70e";
}

.icon-gouxuan:before {
  content: "\e60a";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-chakan:before {
  content: "\e604";
}

.icon-datu:before {
  content: "\e607";
}

.icon-shanchu:before {
  content: "\e608";
}

.icon-chulizhong:before {
  content: "\e681";
}

.icon-yiqueren:before {
  content: "\e60e";
}

.icon-yiqueren1:before {
  content: "\e712";
}

.icon-wancheng-yiwancheng:before {
  content: "\e7b7";
}

.icon-weiqueren:before {
  content: "\e6cc";
}

.icon-HYDRAULIC_OIL:before {
  content: "\e6f9";
}

.icon-WASTE_EXPERIMENTAL_EQUIPMENT:before {
  content: "\e6fb";
}

.icon-LUBRICANT_WASTE:before {
  content: "\e6fc";
}

.icon-qingxifangxiu:before {
  content: "\e6fd";
}

.icon-LABORATORY:before {
  content: "\e6fe";
}

.icon-wujinjian:before {
  content: "\e6ff";
}

.icon-MAINTENANCE:before {
  content: "\e700";
}

.icon-COMPOSITE_MATERIAL_CUTTING_WASTE:before {
  content: "\e701";
}

.icon-zhuye:before {
  content: "\e605";
}

.icon-EQUIPMENT_MANUFACTURING:before {
  content: "\e628";
}

.icon-COMPOSITE_MATERIAL:before {
  content: "\e60b";
}

.icon-DATA_CENTER:before {
  content: "\e612";
}

.icon-METALLURGY:before {
  content: "\e609";
}

.icon-NEW_ENERGY:before {
  content: "\e60c";
}

.icon-dingsun:before {
  content: "\e6fa";
}

.icon-AUTOMATION_SYSTEM:before {
  content: "\e64d";
}

.icon-yunshiyanshi:before {
  content: "\e606";
}

.icon-HEAVY_METAL_WASTEWATER:before {
  content: "\e61f";
}

.icon-EXHAUST_GAS:before {
  content: "\e63d";
}

.icon-WASTE_PAINT:before {
  content: "\e85a";
}

.icon-DUST:before {
  content: "\e600";
}

.icon-HOUSEHOLD_WASTE:before {
  content: "\e631";
}

.icon-WASTE_PAPER:before {
  content: "\e635";
}

.icon-youhailaji-xudianchi:before {
  content: "\e63e";
}

.icon-METAL_CHIPS:before {
  content: "\e63f";
}

.icon-PLASTIC:before {
  content: "\e640";
}

.icon-fuhecailiaofenlei:before {
  content: "\e625";
}

.icon-HAZARDOUS_CHEMICALS:before {
  content: "\e663";
}

.icon-FUEL_RESIDUES:before {
  content: "\e67d";
}

.icon-CUTTING_FLUID:before {
  content: "\e641";
}

.icon-runhuayou:before {
  content: "\ef45";
}

.icon-yeyayou:before {
  content: "\e642";
}

.icon-MINERAL_RESIDUE:before {
  content: "\ee12";
}

.icon-shanchuyuansu:before {
  content: "\e669";
}

.icon-CATALYZER:before {
  content: "\e62b";
}

.icon-CHEMICALS:before {
  content: "\e601";
}

.icon-WASTE_HEAT:before {
  content: "\e62d";
}

.icon-daibanshixiang:before {
  content: "\ec4e";
}

.icon-shuju1:before {
  content: "\e603";
}

.icon-lishibiaodan:before {
  content: "\e711";
}

.icon-wenjianxiugai:before {
  content: "\e71c";
}

.icon-wenjiantianjia1:before {
  content: "\e71d";
}

.icon-yuanquan_huaban1:before {
  content: "\e66c";
}

.icon-zhixian_huaban1:before {
  content: "\e66d";
}

.icon-xiangpi_huaban1:before {
  content: "\e67b";
}

.icon-board_circle:before {
  content: "\e83c";
}

.icon-board_square:before {
  content: "\e83d";
}

.icon-board_triangle:before {
  content: "\e83e";
}

.icon-pencil-full:before {
  content: "\ea14";
}

.icon-rubber-full:before {
  content: "\ea15";
}

.icon-huahua:before {
  content: "\e626";
}

.icon-xinicon_huabanfuben:before {
  content: "\e646";
}

.icon-shuju:before {
  content: "\e639";
}

.icon-tuxiang:before {
  content: "\e63c";
}

.icon-shujuzhanshi3:before {
  content: "\e650";
}

.icon-shujuzhanshi:before {
  content: "\e652";
}

.icon-wenjiantianjia:before {
  content: "\e659";
}

.icon-daochu:before {
  content: "\e662";
}

.icon-lianjie:before {
  content: "\e665";
}

.icon-DISCARDED_ELECTRONIC_COMPONENTS:before {
  content: "\e69f";
}

.icon-a-012_huoche:before {
  content: "\e63a";
}

.icon-a-012_yuyueshijian:before {
  content: "\e63b";
}

.icon-Setting:before {
  content: "\e7d8";
}

.icon-a-robothands:before {
  content: "\e7e3";
}

.icon-wurenji:before {
  content: "\e7e5";
}

.icon-chuju:before {
  content: "\e6dd";
}

.icon-dianqi:before {
  content: "\e6de";
}

.icon-chongwushenghuo:before {
  content: "\e6df";
}

.icon-fajiguandao:before {
  content: "\e6e0";
}

.icon-dianxiandianlan:before {
  content: "\e6e1";
}

.icon-donglichuandong:before {
  content: "\e6e2";
}

.icon-OFFICE:before {
  content: "\e6e3";
}

.icon-fushineiyi:before {
  content: "\e6e4";
}

.icon-gerenfanghu:before {
  content: "\e6e5";
}

.icon-gongyepin:before {
  content: "\e6e6";
}

.icon-dongligongju:before {
  content: "\e6e7";
}

.icon-gongju:before {
  content: "\e6e8";
}

.icon-gongweishebei:before {
  content: "\e6e9";
}

.icon-jiafang:before {
  content: "\e6ea";
}

.icon-jiaju:before {
  content: "\e6eb";
}

.icon-CHEMICAL_PROPELLANTS:before {
  content: "\e6ec";
}

.icon-jiayongdianqi:before {
  content: "\e6ed";
}

.icon-jianzhuhangye:before {
  content: "\e6ee";
}

.icon-hanjie:before {
  content: "\e6ef";
}

.icon-jiazhuangjiancai:before {
  content: "\e6f0";
}

.icon-gerenhuli:before {
  content: "\e6f1";
}

.icon-jiajuriyong:before {
  content: "\e6f2";
}

.icon-nongchantourupin:before {
  content: "\e6f3";
}

.icon-qingjieyongpin:before {
  content: "\e6f4";
}

