* {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus:active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: var(--panel-color)
}

input, button, textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-orange);
}


.h1,
.h2,
.h3 {
    font-family: var(--ff-oswald);
    line-height: 1.2;
    font-weight: var(--fw-600);
}

.h1 {
    font-size: var(--fs-3);
    text-transform: uppercase;
}

.h2,
.h3 {
    color: var(--prussian-blue);
}

.h2 {
    font-size: var(--fs-4);
}

.h3 {
    font-size: var(--fs-7);
}

.img-holder {
    background-color: var(--light-gray);
    aspect-ratio: var(--width) / var(--height);
    border-radius: 0.6rem;

}

.img-cover {
    width: 24rem;
    height: 40rem;
    object-fit: cover;
    z-index: 3;
    border-radius: 0.6rem;
}

.section-subtitle, .section-subtitle1 {
    color: var(--dark-orange);
    text-transform: uppercase;
    font-size: var(--fs-6);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-600);
    letter-spacing: 0.2rem;
    margin-block-end: 0.67rem;
}


.section-text, .section-text1 {
    line-height: 1.4;
}

dialog {
    position: fixed;
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左边50% */
    transform: translate(-50%, -50%);
    /* 用于确保对话框准确居中 *
        /* 移除边框 */
    border: none;
    border-radius: 0.67rem; /* 圆角边框 */
    padding: 1.33rem; /* 内边距 */
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.1); /* 阴影效果 */
    width: 30dvw; /* 宽度自适应内容 */
    height: 85dvh;
}

/* 对话框背景模糊 */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0.67rem);
}

body {
    font-family: 'Inter', sans-serif;
}

.card-shadow {
    box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.022),
    0 0 1rem rgba(0, 0, 0, 0.03),
    0 0 5.3rem rgba(0, 0, 0, 0.06);
}

.grid-list {
    display: grid;
    gap: 2rem;
}

.btn-link {
    color: var(--dark-orange);
    font-size: 1.1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    overflow: hidden;
}

.btn-link > * {
    transform: translateX(-1.4rem);
    transition: var(--transition);
}

.btn-link:is(:hover) > * {
    transform: translateX(0);
}

/* ===================================== */

body {
    min-height: 100dvh;
    max-width: 100dvw;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #525556;
}


/* ===================================== */
*::-webkit-scrollbar-thumb {
    border-radius: 0.67rem; /* 滚动条滑块圆角 */
    box-shadow: inset 0 0 0.33rem rgba(215, 198, 198, 0.422); /* 滚动条滑块阴影效果 */
}

*::-webkit-scrollbar {
    width: 0.4rem; /* 滚动条宽度 */
    height: 0.4rem; /* 滚动条高度 */
}

*::-webkit-scrollbar-thumb {
    background-color: #918b8b; /* 滚动条滑块颜色 */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条背景颜色 */
}

/* ===================================== */

.container {
    min-width: 100dvw;
    margin: 0 2rem 0 auto;
    padding: 0 0.33rem;
}

.section {
    padding-top: 8rem;
}

.section2 {
    background: var(--panel2-color);
    padding: 2rem 6rem;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url('../image/bgr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    height: 100dvh;
    overflow: hidden;
    margin-bottom: 5.33rem;
}

:root[data-theme="dark"] .wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* 半透明黑色遮罩 */
    z-index: 1;
}

.main {
    min-height: 100%;
    flex: 1 1 auto;
    margin-top: 12rem;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}


.swal-custom1 {
    color: var(--dark-orange); /* 红色文字 */
}

.swal-image {
    height: 23.4rem;
    width: 20rem;
    border-radius: 0.8rem;
}

.swal-custom2 {
    color: var(--panel2-color);
}

/* ===================================== */

.header {
    height: 4rem;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 10000;
}

.container.active {
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(1.1rem);
    -webkit-backdrop-filter: blur(1.1rem);
    border: 0 solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0 0.4rem 1rem 0;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0 0.4rem 1rem 0;
}

.home {
    padding-top: 7rem;
}

/* ===================================== */

.header__inner {
    display: flex;
    align-items: center;
    justify-content: end;
}


/* ===================================== */

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 0.2rem solid var(--border-color);
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0.67rem;
    padding: 0.33rem;
}

.user-info span:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.user-info span:last-child {
    font-size: 1rem;
    font-weight: 300;
}


.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-left: 2rem;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    color: #525456;
    font-size: 1.33rem;
    position: relative;
}

.menu__link::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0.2rem;
    background-color: #525456;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.menu__link:hover {
    color: #313436;
}

.menu__link:hover::after {
    width: 80%;
}

.header__logo {
    margin-left: 3.33rem;
}

.logo__img {
    max-width: 6.67rem;
}

.underline {
    cursor: pointer;
    background: linear-gradient(to right, var(--land1), var(--sky1)) no-repeat right bottom;
    background-size: 0 0.133rem;
    transition: background-size .6s;
}

.underline:hover {
    background-size: 100% 0.133rem;
    background-position-x: left;
}

.icon-dark {
    filter: invert(1) hue-rotate(180deg);
}

/* ===================================== */


.home__inner {
    max-width: 31.25rem;
    text-align: center;
    margin-left: auto;
    margin-right: 4rem;
}

.home__subtitle {
    font-weight: 600;
    color: var(--admin-thead);
    font-size: 2rem;
    margin-bottom: 0.67rem;
}

.home__title {
    font-size: 4.2rem;
    font-weight: 700;
    color: #2f3536;
}

.home__descr {
    font-family: 'ReeyRegular', serif;
    font-size: 2.4rem;
    color: var(--admin-botton-hover);
    margin-top: -0.33rem;
    margin-bottom: 2rem;
}

.home__text {
    color: #2f3536;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 2.67rem;
}


.hero-shape {
    position: absolute;
    animation: move 2s ease-in-out infinite alternate;
    width: 4.64rem;
}

.shape1 {
    top: 6rem;
    right: 2rem;
}

.shape2 {
    bottom: 4rem;
    right: 35rem;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1.33rem);
    }
}

/* ================================ */

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.about-banner {
    position: relative;
    box-shadow: var(--shadow-2);
    max-width: 26.67rem;
    margin-block-end: 4rem;
}

:root[data-theme="dark"] .about-banner {
    box-shadow: var(--shadow-3);
}

.about-us .abs-img-1 {
    position: absolute;
    bottom: 2.67rem;
    width: 15rem;
    height: 11rem;
    right: -2rem;
    animation: move 2s ease-in-out infinite alternate;
    z-index: 2;
    border-radius: 0.4rem;
}

.about-details {
    width: 40rem;
    text-align: right;
    margin-right: 1rem;
    padding-right: 1rem;
}

.about-list {
    margin-top: 2.67rem;
    margin-block-end: 2.67rem;
}

.about-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: fit-content;
}

.about-text {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.about-icon i {
    min-width: 1rem;
    font-size: 1.2rem;
    color: var(--dark-orange);
}

.about-item:not(:last-child) {
    margin-block-end: 0.67rem;
}

/* ================================ */

.service-list {
    grid-template-columns: repeat(3, 1fr);
}

.service-card {
    background-color: var(--white);
    padding: 2rem;
    border: 1.3rem solid var(--cultured-3);
    transition: var(--transition);
    border-radius: 0.6rem;
    line-height: 1.6rem;
}

.service-card:is(:hover) {
    border-color: var(--dark-orange);
}

.service-card .card-icon {
    margin-block-end: 2rem;
    width: fit-content;
    height: fit-content;
}

.service-card .span {
    display: inline-block;
    color: var(--dark-orange);
    font-size: var(--fs-5);
    margin-inline-end: 1rem;
}

.service-card a .span {
    font-size: 1rem;
}


.service-card .card-text {
    margin-block: 0.7rem 1.3rem;
}

.card-details {
    display: none;
}

/* ================================ */

.flow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.flow-info p, .flow-info img {
    pointer-events: none;
    user-select: none;
}

.flow-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.scrollbox {
    justify-content: start;
    align-items: start;
    width: 100%;
    overflow: hidden;
}

.scrollbox_container {
    justify-content: start;
    height: 100dvh;
    flex-shrink: 0;
}

.scrollbox_container_card {
    position: relative;
    width: 45dvw;
    height: 70dvh;
    background-color: var(--panel2-color);
    border-radius: 5rem;
    margin-left: 2rem;
    flex-shrink: 0;
    overflow: hidden;
}

.scrollbox_container_card p {
    font-family: sans-serif;
    font-size: 3rem;
    color: #171717;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 1;
}

.scc_city {
    position: absolute;
    bottom: 0;
    height: 100%;
    opacity: 0.7;
}

.scc_truck {
    position: absolute;
    bottom: 0;
    height: 6rem;
}

.scc_city1,
.scc_truck1 {
    left: 0;
}

.scc_city2,
.scc_truck2 {
    left: calc(-100% + -2rem);
}

.scc_city3,
.scc_truck3 {
    left: calc(-200% + -4rem);
}

.scc_city4,
.scc_truck4 {
    left: calc(-300% + -6rem);
}

/* ================================ */
.feature-intro {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.feature-list {
    grid-template-columns: repeat(3, 1fr);
}

.feature-list2 {
    grid-template-columns: repeat(4, 1fr);
}

.feature-card {
    position: relative;
    padding: 2rem;
    text-align: center;
    border: 0.07rem solid var(--alice-blue);
    transition: var(--transition);
    border-radius: 0.8rem;
    margin-top: 1rem;
}

.feature-card:is(:hover, :focus-within) {
    box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.122),
    0 0 1rem rgba(0, 0, 0, 0.13),
    0 0 5.3rem rgba(0, 0, 0, 0.16);
}

.feature-card::before {
    content: var(--card-number);
    color: var(--cultured-1);
    font-family: var(--ff-oswald);
    font-size: 6rem;
    font-weight: var(--fw-700);
    line-height: 1;
    transition: var(--transition);
}

.feature-card::before {
    position: absolute;
    top: -3rem;
    left: 1.4rem;
}

.feature-card:is(:hover, :focus-within)::before {
    color: var(--dark-orange);
}

.feature-card .card-icon {
    background-color: var(--alice-blue);
    width: 10rem;
    height: 10rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-inline: auto;
    margin-block-end: 2rem;
}

.feature-card .card-text {
    margin-block: 1.4rem 2.8rem;
}

.feature-card .card-btn {
    color: var(--prussian-blue);
    font-size: 1.7rem;
    border: 0.14rem solid var(--prussian-blue);
    max-width: max-content;
    margin-inline: auto;
    padding: 0.67rem 1.1rem;
}


/* ================================ */

.p-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    border-radius: 0.8rem;
}

.p-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.photos {
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.photos_line {
    height: 20rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
}

.photos_line_photo {
    display: flex;
    height: 100%;
    width: 16rem;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 2rem;
    border-radius: 0.8rem;
}

.photos_line_photo:hover {
    box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.022),
    0 0 1rem rgba(0, 0, 0, 0.03),
    0 0 5.3rem rgba(0, 0, 0, 0.06);
}

.photos_line_photo p {
    display: none;
}


.photos_line:nth-child(1) .photos_line_photo:nth-child(1) {
    background-image: url('../image/wpic/w1.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(2) {
    background-image: url('../image/wpic/w2.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(3) {
    background-image: url('../image/wpic/w3.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(4) {
    background-image: url('../image/wpic/w4.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(5) {
    background-image: url('../image/wpic/w5.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(6) {
    background-image: url('../image/wpic/w6.jpg');
}

.photos_line:nth-child(1) .photos_line_photo:nth-child(7) {
    background-image: url('../image/wpic/w7.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(1) {
    background-image: url('../image/wpic/w8.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(2) {
    background-image: url('../image/wpic/w9.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(3) {
    background-image: url('../image/wpic/w10.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(4) {
    background-image: url('../image/wpic/w11.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(5) {
    background-image: url('../image/wpic/w12.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(6) {
    background-image: url('../image/wpic/w13.jpg');
}

.photos_line:nth-child(2) .photos_line_photo:nth-child(7) {
    background-image: url('../image/wpic/w14.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(1) {
    background-image: url('../image/wpic/w15.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(2) {
    background-image: url('../image/wpic/w16.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(3) {
    background-image: url('../image/wpic/w17.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(4) {
    background-image: url('../image/wpic/w18.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(5) {
    background-image: url('../image/wpic/w19.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(6) {
    background-image: url('../image/wpic/w20.jpg');
}

.photos_line:nth-child(3) .photos_line_photo:nth-child(7) {
    background-image: url('../image/wpic/w21.jpg');
}


/* ================================ */


.footer {
    background-color: var(--plutinum);
    color: var(--prussian-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 5rem;
}

.footer-top {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: self-end;
    border-bottom: 0.07rem solid var(--prussian-blue);
    padding-bottom: 0.5rem;
}

.footer .logo {
    color: var(--prussian-blue);
    font-weight: var(--fw-800);
    font-size: 2.3rem;
}

.footer-text {
    margin-block: 0.7rem 2rem;
    line-height: 1.6rem;
    padding: 0.2rem;
    font-size: 0.9rem;
}

.social-list {
    display: flex;
    gap: 1.2rem;
}

.social-link img {
    width: 1.6rem;
    height: 1.6rem;
}

.footer-list li {
    line-height: 1.4rem;
    margin-bottom: 0.7rem;
}

.footer-list-title {
    font-size: var(--fs-10);
    max-width: max-content;
    padding-block-end: 0.7rem;
    border-block-end: 0.2rem solid var(--dark-orange);
    margin-block-end: 1.4rem;
}

.footer-link {
    padding-block: 1.2rem;
    font-family: Ubuntu, sans-serif;
}

.footer-bottom {
    padding-block: 1.8rem;
    font-size: 0.8rem;
    color: var(--indigo-dye);
}

/* ================================ */

.back-top-btn {
    position: fixed;
    bottom: 4.67rem;
    right: 2.33rem;
    background-color: var(--eerie-black);
    color: var(--white);
    font-size: 1.33rem;
    padding: 0.67rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    border-radius: 0.5rem;
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-0.67rem);
}

/* ================================ */

@media (max-width: 925px) {
    body.lock {
        overflow: hidden;
    }

    .wrapper {
        position: relative;
    }

    .wrapper::before {
        content: '';
        background-color: #ffffff83;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }


    .header {
        z-index: 50;
    }

    .header__logo {
        position: relative;
        z-index: 5;
        margin-left: 0;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 2.4rem;
        height: 1.67rem;
        z-index: 5;
    }

    .header__burger::before,
    .header__burger::after,
    .header__burger span {
        content: "";
        position: absolute;
        height: 0.2rem;
        background-color: #525456;
        width: 100%;
        transition: all 0.4s ease-in-out;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        top: 0.73rem;
        transition: all 0.4s ease-in-out;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 0.73rem;
        background-color: #525456;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 0.73rem;
        background-color: #525456;
    }

    .header__burger.active span {
        transform: scale(0);
    }


    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        right: -100%;
        background-color: #a8aaacf8;
        padding: 10rem 1rem 0 0;
        overflow: auto;
        transition: all 0.3s ease-in-out;
        z-index: 5;
    }

    .menu.active {
        right: 0;
    }

    .menu__item {
        margin-bottom: 2.67rem;
    }

    .menu__link {
        font-size: 2rem;
        color: #3f4e44;
    }

    .menu__list {
        display: block;
        text-align: right;
    }


    .home__inner {
        position: relative;
        z-index: 5;
        display: block;
        margin: 0 auto;
    }

    .home__descr {
        color: #627e66;
    }

    .home__social {
        text-align: center;
    }

    .service-list, .feature-list, .feature-list2, .footer-top {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 525px) {
    .home__title {
        font-size: calc(3.33rem + (80 - 50) * ((100rem - 21rem) / (500 - 320)));;
    }

    .home__descr {
        font-size: calc(2rem + (45 - 30) * ((100rem - 21rem) / (500 - 320)));;
    }

    .home__text {
        font-size: calc(1rem + (20 - 14) * ((100rem - 21rem) / (500 - 320)));;
    }

    .service-list, .feature-list, .feature-list2, .footer-top {
        grid-template-columns: repeat(1, 1fr);
    }
}