* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条滑块圆角 */
    box-shadow: inset 0 0 5px rgba(215, 198, 198, 0.422); /* 滚动条滑块阴影效果 */
}

*::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px; /* 滚动条高度 */
}

*::-webkit-scrollbar-thumb {
    background-color: #918b8b; /* 滚动条滑块颜色 */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条背景颜色 */
}


body {
    min-height: 100vh;
    max-width: 100vw;
    /*background-color: var(--primary-color);*/
}

a {
    text-decoration: none;
}

/*侧边导航栏所有内容*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    overflow-y: auto;
    overflow-x: hidden;
    transition: var(--tran-05);
}

nav.close {
    width: 75px;
    transition: var(--tran-05);
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-img {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-img img {
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-text {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
}

/*控制图标的大小的，em表示相对于父元素的字体大小*/
.icon-nav {
    width: 1.5em;
}

nav .menu-items {
    position: relative;
    margin-top: 40px;
    height: calc(85%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.menu-items img {
    margin-right: 25px;
    margin-left: 5px;
}

.menu-items a .link-name {
    color: var(--black-light-color);
    font-size: 16px;
    font-weight: 550;
    transition: var(--tran-05);
}

.nav-links a:hover .link-name {
    color: var(--primary-color);
}

.nav-links a:hover:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: -7px;
}


.logout-mod {
    border-top: 2px solid var(--border-color);
}

.logout-mod li {
    border-radius: 5px;
}

.logout-mod li:hover {
    background: #78bafa;
}

.icon-menu {
    width: 2.5em;
    cursor: pointer;
}

.icon-search {
    width: 1.5em;
}

.icon-user {
    width: 3em;
}

nav.close .logo-text, nav.close .link-name, nav.close .switch-text {
    opacity: 0;
    pointer-events: none;
}

.dashboard {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--panel-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    'top'
    'content';
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

nav.close ~ .dashboard {
    left: 75px;
    width: calc(100% - 75px);
    transition: var(--tran-05);
}


.dashboard .top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    background-color: var(--panel-color);
    align-items: center;
    transition: var(--tran-05);
    border-bottom: 1px solid var(--border-color);
    /*box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);*/
}


.search-box label {
    display: flex;
    flex-direction: row;
}

.search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.search-box label {
    width: 100%;
    height: 100%;
}

.search-box label input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--t-color);
    outline: none;
}

.search-box label .icon-search {
    position: absolute;
    left: 10px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

}

.dashboard .content {
    grid-area: content;
}

/*内容的位置*/
.content .content1-title, .content .content2-title {
    margin: 10px 0 30px 0;
}

.content .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: var(--skin4);
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1000px) {
    nav {
        width: 75px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo-text, nav .link-name, nav .switch-text {
        opacity: 0;
        pointer-events: none;
    }

    .dashboard {
        left: 75px;
        width: calc(100% - 75px);
    }

    nav.close .logo-text, nav.close .link-name, nav.close .switch-text {
        opacity: 1;
        pointer-events: auto;
    }

    nav.close ~ .dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }
}

@media screen and (max-width: 780px) {
    .content .boxes {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .tables {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 30px;
    }

    .content {
        overflow-x: auto;
    }
}

@media screen and (max-width: 560px) {
    .content .boxes {
        grid-template-columns: 1fr;
        gap: 10px;
    }

}



