* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条滑块圆角 */
    box-shadow: inset 0 0 5px rgba(215, 198, 198, 0.422); /* 滚动条滑块阴影效果 */
}

*::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
    height: 6px; /* 滚动条高度 */
}

*::-webkit-scrollbar-thumb {
    background-color: #918b8b; /* 滚动条滑块颜色 */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 滚动条背景颜色 */
}


body {
    min-height: 100dvh;
    max-width: 100dvw;
    /*background-color: var(--primary-color);*/
}

a {
    text-decoration: none;
}

dialog {
    position: fixed; /* 使用固定定位 */
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左边50% */
    transform: translate(-50%, -50%);
    /* 用于确保对话框准确居中 *
        /* 移除边框 */
    border: none;
    border-radius: 10px; /* 圆角边框 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    width: 30dvw; /* 宽度自适应内容 */
    height: 85dvh;
}

/* 对话框背景模糊 */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

/*侧边导航栏所有内容*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    overflow-y: auto;
    overflow-x: hidden;
    transition: var(--tran-05);
}

i {
    min-width: 40px;
    font-weight: 550;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-right: 20px;
}

nav.close {
    width: 75px;
    transition: var(--tran-05);
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-img {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-img img {
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-text {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-05);
}

/*控制图标的大小的，em表示相对于父元素的字体大小*/
.icon-nav {
    width: 1.5em;
}

nav .menu-items {
    position: relative;
    margin-top: 40px;
    height: calc(85%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

.current-page {
    background:  linear-gradient(to right, var(--sky4), var(--skin1)) no-repeat center bottom !important;
    background-size: 95% 3px !important;
}

nav a {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.menu-items img {
    margin-right: 25px;
    margin-left: 5px;
}

.menu-items a .link-name {
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 550;
    transition: var(--tran-05);
}

/*控制图标的大小的，必须父子情况一致才能修改*/
.menu-items a i {
    font-size: 30px;
}

.nav-links a:hover .link-name, .nav-links a:hover .iconfont {
    color: var(--primary-color);
}

.nav-links a:hover:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    left: -7px;
}


.logout-mod {
    border-top: 2px solid var(--border-color);
}

.logout-mod li {
    border-radius: 5px;
}

.logout-mod li:hover {
    background: #78bafa;
}

.icon-menu {
    width: 2.5em;
    cursor: pointer;
}


.icon-user {
    width: 3em;
}

nav.close .logo-text, nav.close .link-name, nav.close .switch-text {
    opacity: 0;
    pointer-events: none;
}

.icon-search {
    width: 1.5em;
}

.dashboard {
    position: relative;
    left: 250px;
    width: calc(100vw - 250px);
    background-color: var(--panel-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    'top'
    'content';
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
}

nav.close ~ .dashboard {
    left: 75px;
    width: calc(100vw - 75px);
    transition: var(--tran-05);
}


.dashboard .top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    background-color: var(--panel-color);
    align-items: center;
    transition: var(--tran-05);
    border-bottom: 1px solid var(--border-color);
    /*box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);*/
}


.search-box label {
    display: flex;
    flex-direction: row;
}

.search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.search-box label {
    width: 100%;
    height: 100%;
}

.search-box label input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--t-color);
    outline: none;
}

.search-box label .icon-search {
    position: absolute;
    left: 10px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

}


.title-top {
    display: flex;
    align-items: center;
}

h2 {
    display: inline;
    margin-left: 20px;
}

.iconheader {
    /* 设置头像图标样式 */
    width: 30px;
    height: 30px;
    line-height: 30px; /* 使图标垂直居中 */
    font-size: 24px !important; /* 可以根据图标的实际大小进行调整 */
    margin: 0;
}


.loader-container {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    z-index: 10000;
    background-color: var(--loader1);
    transition: all 1s ease; /* 添加all属性以便在变化时平滑过渡 */
    will-change: width, height, top, left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;
}

.loader_cube {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: 0.6s ease;
}

.loader_cube--glowing {
    z-index: 10002;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.loader_cube--color {
    z-index: 10001;
    filter: blur(2px);
    background: linear-gradient(135deg, #1afbf0, #da00ff);
    animation: loadtwo 1s ease infinite;
}

@keyframes loadtwo {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: 160;
    }
    100% {
        transform: rotate(360deg);
        stroke-dashoffset: -160;
    }
}

.loader2 {
    width: 70.4px;
    height: 70.4px;
    --clr: rgb(247, 197, 159);
    --clr-alpha: rgb(247, 197, 159, .1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
}

.loader2 > div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
}

.loader2 div:nth-of-type(1) {
    transform: translateZ(-35.2px) rotateY(180deg);
}

.loader2 div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.loader2 div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.loader2 div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.loader2 div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.loader2 div:nth-of-type(6) {
    transform: translateZ(35.2px);
}

@keyframes spinner {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

.loader-container-out {
    transition: height 1s ease, width 1s ease, opacity 1.6s ease-in-out;
    width: 150px; /* 开始时宽度为0 */
    height: 50px;
    opacity: 0; /* 开始时完全不可见 */
    overflow: hidden; /* 防止内容超出宽度 */
}

.loader-container-out .loader, .loader-container-out .loader2, .loader-container-out .loader3 {
    opacity: 0;
}

@media screen and (max-width: 1000px) {
    nav {
        width: 75px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo-text, nav .link-name, nav .switch-text {
        opacity: 0;
        pointer-events: none;
    }

    .dashboard {
        left: 75px;
        width: calc(100vw - 75px);
    }

    nav.close .logo-text, nav.close .link-name, nav.close .switch-text {
        opacity: 1;
        pointer-events: auto;
    }

    nav.close ~ .dashboard {
        left: 250px;
        width: calc(100vw - 250px);
    }
}
