body{
    min-height: 100vh;
    background-color: var(--meun);
}
.icon-dark {
    filter: invert(1) hue-rotate(180deg);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--background_base_nav);
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-name #logo_name {
    font-size: 22px;
    font-weight: 500;
    color:var();
    margin-left: 14px;
}

nav .logo_image{
    min-width: 45px;
}

nav .logo_image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .menu-items{
    background-color: var(--background_meun_nav);
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}
.menu-items li a{
    align-items: center;
    height: 50px;
    display: flex;
    text-decoration: none;
    position: relative;
}
.menu-items .mode{
    display: flex;
    align-items: center;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--background_meun_nav);
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    background-color: var(--background_meun_nav);
}

.switch{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--meun);
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    left: -7px;
    border-radius: 50%;
    color: var(--meun_nav_text_light);
}
/*.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--i_light);
}*/
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--meun_nav_text_light)
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--meun_nav_text_light);
    margin-left: 14px;
}

nav .logo_image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo_image img{
    min-width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-icons {
    height: 30px;
    font-size: 24px;
    width: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--login-focus);
}

.nav-links li a:hover .nav-icons,
.nav-links li a:hover .link-name{
    color: var(--sky2);
}

