
.dashboard .content {
    grid-area: content;
}

/*内容的位置*/
.content .content1-title, .content .content2-title {
    margin: 10px 0 30px 0;
}

.content .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: var(--skin4);
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 780px) {
    .content .boxes {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .tables {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 30px;
    }

    .content {
        overflow-x: auto;
    }
}

@media screen and (max-width: 560px) {
    .content .boxes {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
