@font-face {
    font-family: HanaleiFill;
    src: url('./font/HanaleiFill-Regular.ttf');
}

@font-face {
    font-family: Merriweather;
    src: url('./font/Merriweather-Regular.ttf');
}

@font-face {
    font-family: Roboto Slab;
    src: url('./font/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('./font/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: ModernAntiqua;
    src: url('./font/ModernAntiqua-Regular.ttf');
}

@font-face {
    font-family: LibreBaskerville;
    src: url('./font/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: ReeyRegular;
    src: url('./font/ReeyRegular.ttf');
}

@font-face {
    font-family: GloriaHallelujah;
    src: url('./font/GloriaHallelujah.ttf');
}
@font-face {
    font-family: IndieFlower;
    src: url('./font/IndieFlower.ttf');
}

@font-face {
    font-family: KirangHaerang-Regular;
    src: url('./font/KirangHaerang-Regular.ttf');
}

@font-face {
    font-family: Lobster-Regular;
    src: url('./font/Lobster-Regular.ttf');
}

@font-face {
    font-family: Merienda-Regular;
    src: url('./font/Merienda-Regular.ttf');
}

@font-face {
    font-family: Monoton-Regular;
    src: url('./font/Monoton-Regular.ttf');
}

@font-face {
    font-family: RobotoMono-Regular;
    src: url('./font/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: RuslanDisplay;
    src: url('./font/RuslanDisplay.ttf');
}
@font-face {
    font-family: Sunflower-Medium;
    src: url('./font/Sunflower-Medium.ttf');
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url('./font/ShadowsIntoLight.ttf');
}
@font-face {
    font-family: Signika-Regular;
    src: url('./font/Signika-Regular.ttf');
}