#languageSwitch {
    position: fixed; /* 使用 fixed 而不是 absolute 以固定位置于视口 */
    left: 4px; /* 距离屏幕左边的距离 */
    bottom: 90px; /* 距离屏幕底部的距离 */
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    z-index: 100;
}

#themeSwitch {
    position: fixed; /* 使用 fixed 而不是 absolute 以固定位置于视口 */
    left: 4px; /* 距离屏幕左边的距离 */
    bottom: 55px; /* 距离屏幕底部的距离 */
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    z-index: 100;
}

/* Hide default HTML checkbox */
#themeSwitch input, #languageSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#languageSwitch .slider {
    --background: linear-gradient(to right, rgba(21, 10, 31, 0.71), #2c2638);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
}

/* The slider */
#themeSwitch .slider {
    --background: linear-gradient(to right, #090613ef, #18151f);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
}


#languageSwitch .slider:before {
    will-change: transform;
    position: absolute;
    content: "E";
    color: var(--sky1);
    font-family: ModernAntiqua, sans-serif;
    font-size: 0.9em;
    height: 1em;
    width: 1em;
    left: 15%;
    bottom: 20%;
    transition: transform 0.5s, box-shadow 0.5s;
    animation: fadeIn 0.6s;
}

#themeSwitch .slider:before {
    will-change: transform;
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 10%;
    bottom: 18%;
    border-radius: 50%;
    box-shadow: inset 15px -4px 0 15px #f8ea27;
    background: var(--background);
    transition: transform 0.5s, box-shadow 0.5s;
}

#themeSwitch input:checked + .slider {
    background-color: #000;
}

#languageSwitch input:checked + .slider:before {
    transform: translateX(100%);
    content: "中";
    font-family: Modern Antiqua, sans-serif;
    color: var(--todoback);
    font-size: 1em;
    animation: fadeIn 0.6s;

}

#themeSwitch input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 8px -4px 0 0 #f8f8f4;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
