{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/create_order.css">
    <link rel="stylesheet" href="../../static/css/swiper.css">
    <link rel="stylesheet" href="../../static/css/utils/swiper-bundle.min.css"/>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/swiper-bundle.min.js"></script>
    <script src="../../static/js/swiper.js"></script>
{% endblock %}
{% block title %}Create Order{% endblock %}

{% block mainBody %}
    <dialog id="createDepartment" class="pico">
        <article>
            <header>
                <h4>{{ _("Please create a department") }}</h4>
            </header>
            <form method="dialog">
                <label class="no-pico-label"><input type="radio" name="departmentType" value="METALLURGY" required>
                    <i class="iconfont icon-caikuangyejin"></i>
                    <span>{{ _("Metallurgy") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType"
                                                    value="EQUIPMENT_MANUFACTURING">
                    <i class="iconfont icon-shebeiweihuguanli"></i>
                    <span>{{ _("Equipment Manufacturing") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="COMPOSITE_MATERIAL">
                    <i class="iconfont icon-duoyanghuacailiao"></i>
                    <span>{{ _("Composite Material") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="NEW_ENERGY">
                    <i class="iconfont icon-xinnengyuan"></i>
                    <span>{{ _("New Energy") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="AUTOMATION_SYSTEM">
                    <i class="iconfont icon-gongyezidonghua"></i>
                    <span>{{ _("Automation System") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="MAINTENANCE">
                    <i class="iconfont icon-shebeiweihuguanli"></i>
                    <span>{{ _("Equipment Maintenance") }}</span>
                </label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="LABORATORY">
                    <i class="iconfont icon-shiyanshiyiqi"></i>
                    <span>{{ _("Laboratory") }}</span></label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="DATA_CENTER">
                    <i class="iconfont icon-yiqiyibiao"></i>
                    <span>{{ _("Data Center") }}</span></label>
                <label class="no-pico-label"><input type="radio" name="departmentType" value="OFFICE">
                    <i class="iconfont icon-diannaobangong"></i>
                    <span>{{ _("Office") }}</span></label>
                <label for="departmentName">{{ _("Department name:") }}
                    <input type="text" id="departmentName" name="departmentName" required>
                </label>
                <label for="departmentAddress">{{ _("Department address:") }}
                    <textarea rows="4" cols="50" id="departmentAddress" name="departmentAddress"></textarea>
                </label>
                <button type="button" id="createDepartmentBtn">{{ _("Create") }}</button>
            </form>
        </article>
    </dialog>
    <section class="dashboard">
        {% include "top.html" %}
        {% if department %}
            <div class="content">
                <div class="details">
                    <div class="details-top">
                        <img src="../../static/image/icon/intro1.svg" alt="home" class="icons icon-nav" title="Scene">
                        <h2>{{ _("Introduction") }}</h2>
                    </div>
                    <p>{{ _("Hi, the ") }} {{ departmentType|enum_to_string }}{{ _(" Manager, welcome.") }} <br>
                        {% for waste in wastes %}
                            <b>{{ waste|enum_to_string }}, </b>
                        {% endfor %}
                        {{ _("You can choose these types to handle. ") }}<br>
                        {{ _("you need to select one of the waste types and set the required weight, attributes, and comments. ") }}
                    </p>
                </div>
                <div class="create-order">
                    <div class="order-form">
                        <div class="title-top">
                            <img src="../../static/image/icon/order.svg" alt="home" class="icons icon-nav"
                                 title="Scene">
                            <h2>{{ _("Create Order") }}</h2>
                        </div>
                        <form class="pico" id="orderForm" method="post" action="/department/createorder">
                            <label for="order-name">{{ _("Order name:") }}
                                <input type="text" id="order-name" name="order-name" required>
                            </label>
                            <div class="order-choose">
                                <details class="pico dropdown" data-value="">
                                    <summary>{{ _("Please choose: ") }}</summary>
                                    <ul>
                                        {% for waste in wastes %}
                                            <li data-value="{{ waste }}">
                                                <a href="#">
                                                    <i class="iconfont icon-{{ waste.name }}"></i>
                                                    <span>{{ waste|enum_to_string }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </details>
                                <label class="number-input no-pico-label" for="order-weight">{{ _("Weight: ") }}
                                    <input type="number" id="order-weight" name="order-weight" required>
                                    <span>kg</span>
                                </label>
                            </div>
                            {{ _("Attributes:") }}
                            <div class="order-attributes">
                                <label class="number-input no-pico-label order-attribute" for="order-a1">
                                    <input type="text" id="order-a1" name="order-a1" required data-attr="CO2">
                                    <span>CO2</span>
                                </label>
                                <label class="number-input no-pico-label order-attribute" for="order-a2">
                                    <input type="text" id="order-a2" name="order-a2" required data-attr="J">
                                    <span>J</span>
                                </label>
                                <label class="number-input no-pico-label order-attribute" for="order-a3">
                                    <input type="text" id="order-a3" name="order-a3" required data-attr="SO2">
                                    <span>SO2</span>
                                </label>
                                <label class="number-input no-pico-label order-attribute" for="order-a4">
                                    <input type="text" id="order-a4" name="order-a4" required data-attr="SO4">
                                    <span>SO4</span>
                                </label>
                                <label class="number-input no-pico-label order-attribute" for="order-a5">
                                    <input type="text" id="order-a5" name="order-a5" required data-attr="SO4">
                                    <span>SO4</span>
                                </label>
                                <label class="number-input no-pico-label order-attribute" for="order-a6">
                                    <input type="text" id="order-a6" name="order-a6" required data-attr="SO4">
                                    <span>SO4</span>
                                </label>
                            </div>
                            <label for="order-comment">{{ _("Order comment:") }}
                                <textarea rows="3" cols="50" id="order-comment" name="order-comment"></textarea>
                            </label>
                            <input type="button" id="createOrderBtn" class="outline" value="{{ _("Create") }}"></input>
                        </form>
                    </div>
                    <div class="order-cards">
                        <div class="title-top">
                            <img src="../../static/image/icon/description.svg" alt="home" class="icons icon-nav"
                                 title="Scene">
                            <h2>{{ _("Description") }}</h2>
                        </div>
                        {% include "swiper.html" %}
                        <!-- Slider main container -->
                    </div>
                </div>
            </div>
        {% endif %}

    </section>

    <script>
        const departmentDialog = document.getElementById("createDepartment");
        {% if not department %}
            departmentDialog.showModal(); // 如果用户没有部门，则展示对话框
        {% endif %}

        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });
            $("#createDepartmentBtn").click(function (e) {
                e.preventDefault();
                const departmentType = $("input[name='departmentType']:checked").val();
                const departmentName = $("#departmentName").val();
                const departmentAddress = $("#departmentAddress").val();
                if (departmentType === undefined || departmentName === "") {
                    Swal.fire({
                        text: "Please select a department type and enter a department name.",
                        icon: "info",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                }
                const departmentInfo = {
                    departmentType: departmentType,
                    departmentName: departmentName,
                    departmentAddress: departmentAddress
                };
                $.ajax({
                    url: "/department/setdepartment",
                    type: "POST",
                    data: JSON.stringify(departmentInfo),
                    contentType: "application/json;charset=UTF-8",
                    success: function (response) {
                        if (response.message === "successful") {
                            Swal.fire({
                                toast: true,
                                text: "create successful",
                                icon: "success",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                position: 'top-end',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor
                            });
                            window.location.href = "/department/create";
                        } else {
                            Swal.fire({
                                text: response.message,
                                icon: "error",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                timer: 3000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        }
                    }
                });
            });

            $("#createOrderBtn").click(function (e) {
                e.preventDefault();
                const did = $('.user-department').data('did');
                const orderName = $("#order-name").val();
                const weight = $("#order-weight").val();
                const type = $('.dropdown').data('value');
                const comment = $("#order-comment").val();
                let attribution = '';
                document.querySelectorAll('.order-attribute').forEach(function (item) {
                    const attrName = $(item).find('input').data('attr');
                    const attrValue = $(item).find('input').val();
                    attribution += attrValue + attrName + ' ';
                });
                if (orderName === "" || weight === "" || type === "" || attribution === "") {
                    Swal.fire({
                        text: "Please input all required fields except comments.",
                        icon: "question",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                }
                const orderInfo = {
                    departmentID: did,
                    orderName: orderName,
                    weight: weight,
                    wasteType: type,
                    attribution: attribution,
                    comment: comment
                };
                $.ajax({
                    url: "/department/register",
                    type: "POST",
                    data: JSON.stringify(orderInfo),
                    contentType: "application/json;charset=UTF-8",
                    success: function (response) {
                        if (response.message === "successful") {
                            Swal.fire({
                                toast: true,
                                text: "create successful",
                                icon: "success",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                position: 'top-end',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                            window.location.href = "/department/";
                        } else {
                            Swal.fire({
                                text: response.message,
                                icon: "error",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                timer: 3000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        }
                    }
                });
            });
            $('.dropdown li').click(function () {
                const spanText = $(this).find('span').text();
                const details = $(this).closest('.dropdown');
                details.find('summary').text(spanText);
                details.data('value', spanText);
            });
        });
    </script>
{% endblock %}