{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/create_order.css">
    <link rel="stylesheet" href="../../static/css/swiper.css">
    <link rel="stylesheet" href="../../static/css/utils/swiper-bundle.min.css"/>
{% endblock %}
{% block extra_js %}
    <script src="../../static/js/utils/swiper-bundle.min.js"></script>
    <script src="../../static/js/swiper.js"></script>
{% endblock %}
{% block title %}Create Order{% endblock %}

{% block mainBody %}
    <dialog id="createDepartment" class="pico">
        <h4>{{ _("Please create a department") }}</h4>
        <form method="dialog">
            <label class="no-pico-label"><input type="radio" name="departmentType" value="METALLURGY" required>
                <i class="iconfont icon-caikuangyejin"></i>
                <span>{{ _("Metallurgy") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType"
                                                value="EQUIPMENT_MANUFACTURING">
                <i class="iconfont icon-shengchan"></i>
                <span>{{ _("Equipment Manufacturing") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="COMPOSITE_MATERIAL">
                <i class="iconfont icon-duoyanghuacailiao"></i>
                <span>{{ _("Composite Material") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="NEW_ENERGY">
                <i class="iconfont icon-xinnengyuan"></i>
                <span>{{ _("New Energy") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="AUTOMATION_SYSTEM">
                <i class="iconfont icon-gongyezidonghua"></i>
                <span>{{ _("Automation System") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="MAINTENANCE">
                <i class="iconfont icon-shebeiweihuguanli"></i>
                <span>{{ _("Equipment Maintenance") }}</span>
            </label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="LABORATORY">
                <i class="iconfont icon-shiyanshiyiqi"></i>
                <span>{{ _("Laboratory") }}</span></label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="DATA_CENTER">
                <i class="iconfont icon-yiqiyibiao"></i>
                <span>{{ _("Data Center") }}</span></label>
            <label class="no-pico-label"><input type="radio" name="departmentType" value="OFFICE">
                <i class="iconfont icon-diannaobangong"></i>
                <span>{{ _("Office") }}</span></label>
            <label for="departmentName">{{ _("Department name:") }}
                <input type="text" id="departmentName" name="departmentName" required>
            </label>
            <label for="departmentAddress">{{ _("Department address:") }}
                <textarea rows="4" cols="50" id="departmentAddress" name="departmentAddress"></textarea>
            </label>
            <button type="button" id="createDepartmentBtn">{{ _("Create") }}</button>
        </form>
    </dialog>
    <section class="dashboard">
        {% include "top.html" %}
        {% if department %}
            <div class="content">
                <div class="details">
                    <h2>{{ _("Introduction") }}</h2>
                    <p>{{ _("Hi, the ") }} {{ departmentType }}{{ _(" Manager, welcome.") }} <br>
                        {% for key, value in wastes.items() %}
                            <b>{{ value }}, </b>
                        {% endfor %}
                        {{ _("You can choose these types to handle. ") }}<br>
                        {{ _("you need to select one of the waste types and set the required weight, attributes, and comments. ") }}
                    </p>
                </div>
                <div class="create-order">
                    <div class="order-form">
                        <h2>{{ _("Create Order") }}</h2>
                        <form class="pico" id="orderForm" method="post" action="/department/createorder">
                            <label for="order-name">{{ _("Order name:") }}
                                <input type="text" id="order-name" name="order-name" required>
                            </label>
                            <div class="order-choose">
                                <div class="custom-select" id="custom-select">
                                    <div class="selected-option">{{ _("Please choose: ") }}</div>
                                    <div class="options-container">
                                        {% for key, value in wastes.items() %}
                                            <div class="option-item" data-value="{{ key }}">
                                                <i class="iconfont icon-{{ key }}"></i>
                                                <span>{{ value }}</span></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <label class="number-input no-pico-label" for="order-weight">{{ _("Weight: ") }}
                                    <input type="number" id="order-weight" name="order-weight" required>
                                    <span>kg</span>
                                </label>
                            </div>

                            <label for="order-comment">{{ _("Order comment:") }}
                                <textarea rows="3" cols="50" id="order-comment" name="order-comment"></textarea>
                            </label>
                            <button type="button" id="createOrderBtn">{{ _("Create") }}</button>

                        </form>
                    </div>
                    <div class="order-cards">
                        <h2>{{ _("Description") }}</h2>
                        {% include "swiper.html" %}
                        <!-- Slider main container -->
                    </div>
                </div>
            </div>
        {% endif %}

    </section>

    <script>
        const departmentDialog = document.getElementById("createDepartment");
        {% if not department %}
            departmentDialog.showModal(); // 如果用户没有部门，则展示对话框
        {% endif %}

        $(document).ready(function () {
            $("#createDepartmentBtn").click(function (e) {
                e.preventDefault();
                const departmentType = $("input[name='departmentType']:checked").val();
                const departmentName = $("#departmentName").val();
                const departmentAddress = $("#departmentAddress").val();
                if (departmentType === undefined || departmentName === "") {
                    alert("Please select a department type and enter a department name.");
                }
                const departmentInfo = {
                    departmentType: departmentType,
                    departmentName: departmentName,
                    departmentAddress: departmentAddress
                };
                $.ajax({
                    url: "/department/setdepartment",
                    type: "POST",
                    data: JSON.stringify(departmentInfo),
                    contentType: "application/json;charset=UTF-8",
                    success: function (response) {
                        if (response.message === "successful") {
                            window.location.href = "/department/";
                        } else {
                            alert(response.message);
                        }
                    }
                });
            });
            $('.selected-option').click(function () {
                $('.options-container').toggleClass('show-options');
            });

            // 当某个选项被点击
            $('.option-item').click(function () {
                let selectedText = $(this).text();
                $('.selected-option').text(selectedText);
                $('.options-container').removeClass('show-options');
            });

            // 点击除下拉框外的地方隐藏选项
            $(document).click(function (e) {
                let target = e.target;
                if (!$(target).is('.selected-option') && !$(target).parents().is('.custom-select')) {
                    $('.options-container').removeClass('show-options');
                }
            });
        });
    </script>
{% endblock %}