{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/edit_order.css">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}Edit Order{% endblock %}

{% block mainBody %}
    <dialog class="pico" id="edit-order-dialog">
        <article>
            <form method="dialog" class="form-edit">
                <label for="order-name">{{ _("Name:") }}
                    <input type="text" id="order-name" name="order-name" aria-label="Read-only input"
                           readonly></label>
                <label for="order-date">{{ _("Date:") }}
                    <input type="date" id="order-date" name="order-date" required></label>
                <label for="order-weight">{{ _("Weight:") }}
                    <input type="number" id="order-weight" name="order-weight" required></label>
                <label for="order-attribution">{{ _("Attribution:") }}
                    <input type="text" id="order-attribution" name="order-attribution" required></label>
                <label for="order-comment">{{ _("Comment:") }}
                    <textarea rows="3" cols="30" id="order-comment" name="order-comment"></textarea></label>
                <input type="hidden" id="order-id" name="order-id">
                <input type="hidden" id="order-type" name="order-type">
            </form>
            <footer style="display: flex; justify-content: flex-end;">
                <button id="cancel-edit" class="outline secondary"> {{ _("Cancel") }}</button>
                <button id="confirm-edit" class="outline" style="margin-left: 10px;">{{ _("Confirm") }}</button>
            </footer>
        </article>
    </dialog>
    <section class="dashboard">
        {% include "top.html" %}

        <div class="content">
            <div class="title-top">
                <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Tables") }}</h2>
            </div>
            <div class="tables">
                <div>
                    <table class="table row-border stripe order-column compact" id="edit-order-table"
                           style="width: 100%;">
                        <thead>
                        <tr>
                            <th scope="col" class="underline">
                                {{ _("OID") }}
                            </th>
                            <th scope="col" class="no-sort">{{ _("Name") }}</th>
                            <th scope="col" class="underline">
                                {{ _("Date") }}
                            </th>
                            <th scope="col" class="underline">
                                {{ _("Type") }}
                            </th>
                            <th scope="col" class="underline">
                                {{ _("Weight") }}
                            </th>
                            <th scope="col" class="no-sort">
                                {{ _("Operation") }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in all_orders %}
                            <tr>
                                <td>{{ order.OID }}</td>
                                <td> {{ order.orderName }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.wasteType|enum_to_string }}</td>
                                <td>{{ order.weight }}</td>
                                <td><i class="iconfont icon-chakan edit-order"
                                       data-id="{{ order.OID }}"
                                       data-comment="{{ order.comment }}"
                                       data-attribution="{{ order.attribution }}"></i>
                                    <i class="iconfont icon-shanchu delete-order"
                                       data-id="{{ order.OID }}"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            let edit_row;
            const dialog = document.querySelector('#edit-order-dialog');
            const editOrderTable = $('#edit-order-table').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [6, 12, 24],
                pageLength: 6,
                responsive: true,
                autoWidth: true,
                columnDefs: [
                    {targets: [0, 1, 2, 3, 4], className: 'dt-head-center'},
                    {targets: [1, 2, 3], className: 'dt-body-left'},
                    {targets: [0, 4], className: 'dt-body-center'},
                    {targets: 'no-sort', orderable: false}
                ],
            });

            $(document).on('click', '.delete-order', function () {
                let oid = $(this).data('id');
                let self = this; // Save the reference to the button
                if (window.confirm("{{ _('Are you sure to delete this order?') }}")) {
                    $.ajax({
                        url: `/department/delete_order/${oid}`,
                        type: 'DELETE',
                        success: function (res) {
                            if (res.message === 0) {
                                alert("{{ _('Delete success') }}");
                                editOrderTable.row($(self).closest('tr')).remove().draw();
                            } else {
                                alert("{{ _('Delete failed') }}");
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            alert("{{ _('Delete failed') }}");
                        }
                    });
                }
            });

            $(document).on('click', '.edit-order', function () {
                edit_row = $(this).closest('tr');
                const orderRow = $(this).closest('tr'); // Find the row containing the clicked icon
                const orderId = $(this).data('id');
                const orderComment = $(this).data('comment');
                const orderAttribute = $(this).data('attribution');
                const orderName = orderRow.find('td:nth-child(2)').text();
                const orderDate = orderRow.find('td:nth-child(3)').text();
                const orderType = orderRow.find('td:nth-child(4)').text();
                const orderWeight = orderRow.find('td:nth-child(5)').text();
                $('#order-id').val(orderId);
                $('#order-type').val(orderType);
                $('#order-name').val(orderName);
                $('#order-date').val(orderDate);
                $('#order-weight').val(orderWeight);
                $('#order-attribution').val(orderAttribute);
                $('#order-comment').val(orderComment);
                dialog.showModal();
            });

            $('#cancel-edit').click(function () {
                dialog.close();
            });

            $('#confirm-edit').click(function () {
                const oid = $('#order-id').val();
                const orderType = $('#order-type').val();
                const orderName = $('#order-name').val();
                const orderDate = $('#order-date').val();
                const orderWeight = $('#order-weight').val();
                const orderAttribute = $('#order-attribution').val();
                const orderComment = $('#order-comment').val();
                if (orderDate === '' || orderWeight === '') {
                    alert("{{ _('Please fill in all required fields') }}");
                    return;
                }
                const editData = {
                    orderName: orderName,
                    orderDate: orderDate,
                    orderWeight: orderWeight,
                    orderAttribute: orderAttribute,
                    orderComment: orderComment
                }
                $.ajax({
                    url: `/department/edit_order/${oid}`,
                    type: 'PUT',
                    data: JSON.stringify(editData),
                    contentType: 'application/json',
                    success: function (res) {
                        if (res.message === 0) {
                            alert("{{ _('Edit success') }}");
                            dialog.close();
                            const row = editOrderTable.row(edit_row);
                            row.data([
                                oid,
                                orderName,
                                orderDate,
                                orderType,
                                orderWeight,
                                '<i class="iconfont icon-chakan edit-order" data-id="' + oid + '" data-comment="' + orderComment
                                + '" data-attribution="' + orderAttribute + '"></i> ' +
                                '<i class="iconfont icon-shanchu delete-order" data-id="' + oid + '"></i>'
                            ]).draw();
                        } else {
                            alert("{{ _('Edit failed') }}");
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        alert("{{ _('Edit failed') }}");
                    }
                });
            });
        });
    </script>

{% endblock %}