{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/edit_order.css">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}Edit Order{% endblock %}

{% block mainBody %}
    <dialog class="pico" id="edit-order-dialog">
        <article>
            <form method="dialog" class="form-edit">
                <label for="order-name">{{ _("Name:") }}
                    <input type="text" id="order-name" name="order-name" aria-label="Read-only input"
                           readonly></label>
                <label for="order-date">{{ _("Date:") }}
                    <input type="date" id="order-date" name="order-date" required></label>
                <label for="order-weight">{{ _("Weight:") }}
                    <input type="number" id="order-weight" name="order-weight" required></label>
                <label for="order-attribution">{{ _("Attribution:") }}
                    <input type="text" id="order-attribution" name="order-attribution" required></label>
                <label for="order-comment">{{ _("Comment:") }}
                    <textarea rows="3" cols="30" id="order-comment" name="order-comment"></textarea></label>
                <input type="hidden" id="order-id" name="order-id">
                <input type="hidden" id="order-type" name="order-type">
            </form>
            <footer style="display: flex; justify-content: flex-end;">
                <button id="cancel-edit" class="outline secondary"> {{ _("Cancel") }}</button>
                <button id="confirm-edit" class="outline" style="margin-left: 10px;">{{ _("Confirm") }}</button>
            </footer>
        </article>
    </dialog>
    <section class="dashboard">
        {% include "top.html" %}

        <div class="content">
            <div class="title-top">
                <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                     title="Scene">
                <h2>{{ _("Tables") }}</h2>
            </div>
            <div class="tables" style="box-shadow: 1.5px 1.2px 5.3px rgba(0, 0, 0, 0.02),
5.5px 4.4px 17.9px rgba(0, 0, 0, 0.034),
43px 35px 80px rgba(0, 0, 0, 0.07); padding: 10px; border-radius: 10px;">
                <div>
                    <table class="table row-border stripe order-column compact" id="edit-order-table"
                           style="width: 100%; ">
                        <thead>
                        <tr>
                            <th scope="col" class="underline">
                                {{ _("OID") }}
                            </th>
                            <th scope="col" class="no-sort">{{ _("Name") }}</th>
                            <th scope="col" class="underline">
                                {{ _("Date") }}
                            </th>
                            <th scope="col" class="underline">
                                {{ _("Type") }}
                            </th>
                            <th scope="col" class="underline">
                                {{ _("Weight") }}
                            </th>
                            <th scope="col" class="no-sort">
                                {{ _("Operation") }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in all_orders %}
                            <tr>
                                <td>{{ order.OID }}</td>
                                <td> {{ order.orderName }}</td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.wasteType|enum_to_string }}</td>
                                <td>{{ order.weight }}</td>
                                <td><i class="iconfont icon-chakan edit-order"
                                       data-id="{{ order.OID }}"
                                       data-comment="{{ order.comment }}"
                                       data-attribution="{{ order.attribution }}"></i>
                                    <i class="iconfont icon-shanchu delete-order"
                                       data-id="{{ order.OID }}"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            let isDark = $('html').attr('data-theme') === 'dark';
            let swalcolor = '';
            const themeButton = $('#themeSwitch input');
            themeButton.change(function () {
                if (isDark) {
                    swalcolor = '#F0F9FF';
                } else {
                    swalcolor = '#353738';
                }
                isDark = !isDark
            });
            let edit_row;
            const dialog = document.querySelector('#edit-order-dialog');
            const editOrderTable = $('#edit-order-table').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [6, 12, 24],
                pageLength: 6,
                responsive: true,
                autoWidth: true,
                columnDefs: [
                    {targets: [0, 1, 2, 3, 4], className: 'dt-head-center'},
                    {targets: [1, 2, 3], className: 'dt-body-left'},
                    {targets: [0, 4], className: 'dt-body-center'},
                    {targets: 'no-sort', orderable: false}
                ],
                drawCallback: function (settings) {
                    let api = this.api();
                    let start = api.page.info().start; // 获取当前页的起始序号
                    api.column(0, {page: 'current'}).nodes().each(function (cell, i) {
                        cell.innerHTML = start + i + 1; // 更新当前页的每个序号
                    });
                },
            });

            $(document).on('click', '.delete-order', function () {
                let oid = $(this).data('id');
                let self = this; // Save the reference to the button

                Swal.fire({
                    title: "{{ _('Are you sure to delete this order?') }}",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: "{{ _('Yes!') }}",
                    cancelButtonText: "{{ _('No') }}",
                    background: swalcolor,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        // 用户点击了确认按钮
                        $.ajax({
                            url: `/department/delete_order/${oid}`,
                            type: 'DELETE',
                            success: function (res) {
                                if (res.message === 0) {
                                    Swal.fire({
                                        title: "{{ _('Delete successful') }}",
                                        icon: "success",
                                        toast: true,
                                        position: 'top-end',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        closeOnClickOutside: true,
                                        closeOnEsc: true,
                                        background: swalcolor,
                                    });
                                    editOrderTable.row($(self).closest('tr')).remove().draw(false);
                                } else {
                                    Swal.fire({
                                        title: "{{ _('Delete failed') }}",
                                        icon: "error",
                                        toast: true,
                                        position: 'top-end',
                                        timer: 2000,
                                        timerProgressBar: true,
                                        closeOnClickOutside: true,
                                        closeOnEsc: true,
                                        background: swalcolor,
                                    });
                                }
                            },
                            error: function (err) {
                                Swal.fire({
                                    title: "{{ _('Delete failed') }}",
                                    icon: "error",
                                    toast: true,
                                    position: 'top-end',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    closeOnClickOutside: true,
                                    closeOnEsc: true,
                                    background: swalcolor,
                                });
                            }
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        // 用户点击了取消按钮或关闭了对话框
                        Swal.fire({
                            title: "{{ _('Deletion cancelled') }}",
                            text: "{{ _('Your order is safe') }}",
                            icon: "info",
                            background: swalcolor,
                        });
                    }
                });
            });

            $(document).on('click', '.edit-order', function () {
                edit_row = $(this).closest('tr');
                const orderRow = $(this).closest('tr'); // Find the row containing the clicked icon
                const orderId = $(this).data('id');
                const orderComment = $(this).data('comment');
                const orderAttribute = $(this).data('attribution');
                const orderName = orderRow.find('td:nth-child(2)').text();
                const orderDate = orderRow.find('td:nth-child(3)').text();
                const orderType = orderRow.find('td:nth-child(4)').text();
                const orderWeight = orderRow.find('td:nth-child(5)').text();
                $('#order-id').val(orderId);
                $('#order-type').val(orderType);
                $('#order-name').val(orderName);
                $('#order-date').val(orderDate);
                $('#order-weight').val(orderWeight);
                $('#order-attribution').val(orderAttribute);
                $('#order-comment').val(orderComment);
                dialog.showModal();
            });

            $('#cancel-edit').click(function () {
                dialog.close();
            });

            $('#confirm-edit').click(function () {
                const oid = $('#order-id').val();
                const orderType = $('#order-type').val();
                const orderName = $('#order-name').val();
                const orderDate = $('#order-date').val();
                const orderWeight = $('#order-weight').val();
                const orderAttribute = $('#order-attribution').val();
                const orderComment = $('#order-comment').val();
                if (orderDate === '' || orderWeight === '') {
                    Swal.fire({
                        text: "{{ _('Please fill in all required fields') }}",
                        icon: "question",
                        closeOnClickOutside: true,
                        closeOnEsc: true,
                        position: 'top-end',
                        timer: 3000,
                        timerProgressBar: true,
                        background: swalcolor,
                    });
                    return;
                }
                const editData = {
                    orderName: orderName,
                    orderDate: orderDate,
                    orderWeight: orderWeight,
                    orderAttribute: orderAttribute,
                    orderComment: orderComment
                }
                $.ajax({
                    url: `/department/edit_order/${oid}`,
                    type: 'PUT',
                    data: JSON.stringify(editData),
                    contentType: 'application/json',
                    success: function (res) {
                        if (res.message === 0) {
                            Swal.fire({
                                text: "{{ _('Edit success') }}",
                                icon: "success",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                position: 'top-end',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                            dialog.close();
                            const row = editOrderTable.row(edit_row);
                            row.data([
                                oid,
                                orderName,
                                orderDate,
                                orderType,
                                orderWeight,
                                '<i class="iconfont icon-chakan edit-order" data-id="' + oid + '" data-comment="' + orderComment
                                + '" data-attribution="' + orderAttribute + '"></i> ' +
                                '<i class="iconfont icon-shanchu delete-order" data-id="' + oid + '"></i>'
                            ]).draw(false);
                        } else {
                            Swal.fire({
                                text: "{{ _('Edit failed') }}",
                                icon: "error",
                                closeOnClickOutside: true,
                                closeOnEsc: true,
                                position: 'top-end',
                                timer: 2000,
                                timerProgressBar: true,
                                background: swalcolor,
                            });
                        }
                    },
                    error: function (err) {
                        Swal.fire({
                            text: "{{ _('Edit failed') }}",
                            icon: "error",
                            closeOnClickOutside: true,
                            closeOnEsc: true,
                            position: 'top-end',
                            timer: 2000,
                            timerProgressBar: true,
                            background: swalcolor,
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}