{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/view_order.css">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}View Order{% endblock %}

{% block mainBody %}
    <section class="dashboard">
        {% include "top.html" %}
        <div class="content">
            <div class="content1">
                <div class="title-top">
                    <img src="../../static/image/icon/datasave.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Total statistics") }}</h2>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <img src="../../static/image/icon/unconfirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Unconfirmed") }}</b>
                        <span class="box-number">{{ unconfirmed_count }}</span>
                    </div>
                    <div class="box box2">
                        <img src="../../static/image/icon/confirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Confirmed") }}</b>
                        <span class="box-number">{{ confirmed_count }}</span>
                    </div>
                    <div class="box box3">
                        <img src="../../static/image/icon/diliver.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Processing") }}</b>
                        <span class="box-number">{{ processing_count }}</span>
                    </div>
                    <div class="box box4">
                        <img src="../../static/image/icon/qianbao.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Finished") }}</b>
                        <span class="box-number">{{ finished_count }}</span>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="title-top">
                    <div class="title-top-left">
                        <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                             title="Scene">
                        <h2>{{ _("Tables") }}</h2>
                    </div>
                    <div class="title-top-right">
                        <div>
                            <img src="../../static/image/icon/s1.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Unconfirmed") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s2.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Confirmed") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s3.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Processing") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s4.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Finished") }}</span></div>
                    </div>

                </div>
                <div class="tables">
                    <div>
                        <table class="table row-border stripe order-column compact" id="view-order-table"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col" class="no-sort">{{ _("Serial num") }}</th>
                                <th scope="col" class="no-sort">{{ _("Name") }}</th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Date") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Type") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Weight") }}
                                </th>
                                <th scope="col" class="underline sortable">
                                    {{ _("Status") }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in all_orders %}
                                <tr>
                                    <td></td>
                                    <td> {{ order.orderName }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.wasteType|enum_to_string }}</td>
                                    <td>{{ order.weight }}</td>
                                    {% if order.orderStatus.name == "UNCONFIRMED" %}
                                        <td><img src="../../static/image/icon/s1.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "CONFIRM" %}
                                        <td><img src="../../static/image/icon/s2.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "PROCESSING" %}
                                        <td><img src="../../static/image/icon/s3.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "FINISHED" %}
                                        <td><img src="../../static/image/icon/s4.svg" alt="home"
                                                 class="icons icon-nav "></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#view-order-table').DataTable({
                paging: true, // Enable pagination
                searching: true, // Enable search bar
                ordering: true, // Enable sorting
                info: true, // Show information about the table
                lengthMenu: [6, 12, 24], // Set the page length options
                pageLength: 6,
                responsive: true, // Enable responsive layout
                autoWidth: true,
                columnDefs: [
                    {
                        targets: [0, 1, 2, 3, 4, 5],
                        className: 'dt-head-center'
                    },
                    {
                        targets: [1, 2, 3, 4],
                        className: 'dt-body-left'
                    },
                    {
                        targets: [0, 5],
                        className: 'dt-body-center'
                    },
                    {
                        targets: 'no-sort',
                        orderable: false
                    },
                    {
                        targets: 0,
                        "render": function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }
                ],
            });

        });
    </script>
{% endblock %}