{% extends 'department/index.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="../../static/css/department/view_order.css">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block title %}View Order{% endblock %}

{% block mainBody %}
    <section class="dashboard">
        {% include "top.html" %}
        <div class="content">
            <div class="content1">
                <div class="title-top">
                    <img src="../../static/image/icon/datasave.svg" alt="home" class="icons icon-nav"
                         title="Scene">
                    <h2>{{ _("Total statistics") }}</h2>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <img src="../../static/image/icon/unconfirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Unconfirmed") }}</b>
                        <span class="box-number">{{ unconfirmed_count }}</span>
                    </div>
                    <div class="box box2">
                        <img src="../../static/image/icon/confirm.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Confirmed") }}</b>
                        <span class="box-number">{{ confirmed_count }}</span>
                    </div>
                    <div class="box box3">
                        <img src="../../static/image/icon/diliver.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Processing") }}</b>
                        <span class="box-number">{{ processing_count }}</span>
                    </div>
                    <div class="box box4">
                        <img src="../../static/image/icon/qianbao.svg" alt="home" class="icons icon-nav data-icon"
                             title="Scene">
                        <b class="box-text">{{ _("Finished") }}</b>
                        <span class="box-number">{{ finished_count }}</span>
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="title-top">
                    <div class="title-top-left">
                        <img src="../../static/image/icon/structure.svg" alt="home" class="icons icon-nav"
                             title="Scene">
                        <h2>{{ _("Tables") }}</h2>
                    </div>
                    <div class="title-top-right">
                        <div>
                            <img src="../../static/image/icon/s1.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Unconfirmed") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s2.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Confirmed") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s3.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Processing") }}</span></div>
                        <div>
                            <img src="../../static/image/icon/s4.svg" alt="home"
                                 class="icons icon-nav title-top-right-icon"
                                 title="Scene">
                            <span>{{ _("Finished") }}</span></div>
                    </div>

                </div>
                <div class="tables">
                    <div class="pico overflow-auto">
                        <table class="pico striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ _("Serial num") }}</th>
                                <th scope="col">{{ _("Name") }}</th>
                                <th scope="col" class="underline sortable" data-sort="date"
                                    data-order="{{ order }}">
                                    {{ _("Date") }}
                                    {% if sort_by == 'date' %}
                                        {% if order == 'asc' %}&uarr;{% else %}&darr;{% endif %}
                                    {% endif %}
                                </th>
                                <th scope="col" class="underline sortable" data-sort="type"
                                    data-order="{{ order }}">
                                    {{ _("Type") }}
                                    {% if sort_by == 'type' %}
                                        {% if order == 'asc' %}&uarr;{% else %}&darr;{% endif %}
                                    {% endif %}
                                </th>
                                <th scope="col" class="underline sortable" data-sort="weight"
                                    data-order="{{ order }}">
                                    {{ _("Weight") }}
                                    {% if sort_by == 'weight' %}
                                        {% if order == 'asc' %}&uarr;{% else %}&darr;{% endif %}
                                    {% endif %}
                                </th>
                                <th scope="col" class="underline sortable" data-sort="status"
                                    data-order="{{ order }}">
                                    {{ _("Status") }}
                                    {% if sort_by == 'status' %}
                                        {% if order == 'asc' %}&uarr;{% else %}&darr;{% endif %}
                                    {% endif %}
                                </th>
                            </tr>
                            </thead>
                            <tbody style="--starting-number:{{ per_page * (current_page - 1) }};">
                            {% for order in all_orders %}
                                <tr>
                                    <th class="numbers" scope="row"></th>
                                    <td> {{ order.orderName }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.wasteType|enum_to_string }}</td>
                                    <td>{{ order.weight }}</td>
                                    {% if order.orderStatus.name == "UNCONFIRMED" %}
                                        <td><img src="../../static/image/icon/s1.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "CONFIRM" %}
                                        <td><img src="../../static/image/icon/s2.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "PROCESSING" %}
                                        <td><img src="../../static/image/icon/s3.svg" alt="home"
                                                 class="icons icon-nav"></td>
                                    {% elif order.orderStatus.name == "FINISHED" %}
                                        <td><img src="../../static/image/icon/s4.svg" alt="home"
                                                 class="icons icon-nav "></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination" id="pagination-container">
                            {% if pagination.pages > 1 %}
                                <a class="page-switch page-a" data-page="1"
                                   data-url="{{ url_for('department.history', page=1, sort=sort_by, order=order) }}"
                                   href="#">&laquo;</a>
                                <a class="page-switch page-a" data-page="{{ pagination.prev_num }}"
                                   data-url="{{ url_for('department.history', page=pagination.prev_num, sort=sort_by, order=order) }}"
                                   href="#"
                                   {% if not pagination.has_prev %}class="disabled"{% endif %}>&lsaquo;</a>

                                <!-- Always display the first page -->
                                <a class="page-a" data-page="1"
                                   data-url="{{ url_for('department.history', page=1, sort=sort_by, order=order) }}"
                                   href="#"
                                   {% if 1 == pagination.page %}class="active"{% endif %}>1</a>
                                {% if pagination.page > 4 %}
                                    <span class="ellipsis">...</span>
                                {% endif %}

                                {% for page_num in range(pagination.page - 2, pagination.page + 3) %}
                                    {% if 1 < page_num < pagination.pages %}
                                        <a class="page-a" data-page="{{ page_num }}"
                                           data-url="{{ url_for('department.history', page=pagination.page_num, sort=sort_by, order=order) }}"
                                           href="#"
                                           {% if page_num == pagination.page %}class="active"{% endif %}>{{ page_num }}</a>
                                    {% endif %}
                                {% endfor %}

                                {% if pagination.page < pagination.pages - 3 %}
                                    <span class="ellipsis">...</span>
                                {% endif %}

                                <!-- Always display the last page -->
                                <a class="page-a" data-page="{{ pagination.pages }}"
                                   data-url="{{ url_for('department.history', page=pagination.pages, sort=sort_by, order=order) }}"
                                   href="#"
                                   {% if pagination.pages == pagination.page %}class="active"{% endif %}>{{ pagination.pages }}</a>

                                <a class="page-switch page-a"
                                   data-url="{{ url_for('department.history', page=pagination.next_num, sort=sort_by, order=order) }}"
                                   href="#"
                                   {% if not pagination.has_next %}class="disabled"{% endif %}>&rsaquo;</a>
                                <a class="page-switch page-a" data-page="{{ pagination.pages }}"
                                   data-url="{{ url_for('department.history', page=pagination.pages, sort=sort_by, order=order) }}"
                                   href="#">
                                    &raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script>
        $(document).ready(function () {
            $(".sortable").click(function () {
                let sortBy = $(this).data('sort');
                let currentOrder = $(this).data('order') || 'asc'; // 默认为asc
                let newOrder = currentOrder === 'asc' ? 'desc' : 'asc';
                window.location.href = `/department/history?sort=${sortBy}&order=${newOrder}`;
            });

            // 使用 jQuery 来处理分页链接的点击事件
            $(document).on('click', '.page-a', function (e) {
                e.preventDefault();  // 阻止链接的默认行为

                const page = $(this).attr('data-page');  // 假设每个分页链接都有一个 data-page 属性
                const sort = $('#current-sort').val();  // 当前排序字段
                const order = $('#current-order').val();  // 当前排序方向

                // 使用 AJAX 请求新的分页数据
                $.ajax({
                    url: '/department/edit',  // Flask路由
                    type: 'GET',
                    data: {
                        page: page,
                        sort: sort,
                        order: order
                    },
                    success: function (data) {
                        // 更新页面上的表格内容
                        // 假设后端返回的是完整的表格 HTML
                        $('#table-container').html(data);
                    }
                });
            });

        });
    </script>
{% endblock %}