<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/switch.css"/>
    <link rel="stylesheet" href="../static/css/progress_bar.css"/>
    <link rel="stylesheet" href="../static/css/context_menu.css"/>
    <link rel="stylesheet" href="../static/css/utils/hover-min.css"/>
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../static/css/pico.conditional.min.css"/>
    <link rel="stylesheet" href="../static/css/utils/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/utils/datatables.css">
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    <style>
        .underline {
            cursor: pointer;
            background: linear-gradient(to right, var(--land1), var(--sky1)) no-repeat right bottom;
            background-size: 0 2px;
            transition: background-size .6s;
        }

        .underline:hover {
            background-size: 100% 2px;
            background-position-x: left;
        }

        .icon-dark {
            filter: invert(1) hue-rotate(180deg);
        }

        details.dropdown li a {
            display: flex;
            flex-direction: row;
        }

        details.dropdown li a i {
            display: inline;
        }

        details.dropdown li:hover i,
        details.dropdown li:hover span {
            color: var(--primary-color);
        }
    </style>
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
        const aiUrl = "{{ url_for('utils.ai_assistant') }}";
    </script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/utils/sweetalert2.js"></script>
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/utils/nprogress.js"></script>
    <script src="../static/js/utils/datatables.min.js"></script>
    <script src="../static/js/utils/marked.min.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
{% include 'context_menu.html' %}

{% block navbar %}

{% endblock %}

{% block mainBody %}

{% endblock %}
{% include 'aichat.html' %}

<script>

    window.addEventListener('DOMContentLoaded', () => {
        NProgress.start();
    });
    window.addEventListener('load', () => {
        NProgress.done();
    });
    $(document).ready(function () {
        const decoder = new TextDecoder();
        const ai_chat_messages = document.getElementById('ai-chat-messages');
        const ai_chat_scroll = document.getElementById('ai-chat-scroll-btn');
        const ai_chat_container = document.getElementById('ai-chat-container');

        const m = new marked.Renderer();
        marked.use({
            renderer: m,
            gfm: true,
            breaks: false,
        });
        // 添加点击事件监听器
        $('#logoutButton').click(function (event) {
            // 阻止默认的链接点击行为
            event.preventDefault();
            // 弹出确认对话框
            const confirmLogout = confirm("are you sure to logout？");
            // 如果用户点击了确定按钮
            if (confirmLogout) {
                window.location.href = "{{ url_for('login.logout') }}";
            }
        });
        $(document).keydown(function (event) {
            if (event.which === 27) {
                const confirmLogout = confirm("are you sure to logout？");
                // 如果用户点击了确定按钮
                if (confirmLogout) {
                    window.location.href = "{{ url_for('login.logout') }}";
                }
            }
        });
        // 你现有的点击事件逻辑
        const nav = document.querySelector('nav');
        $('.sidebar-toggle').click(function () {
            nav.classList.toggle('close');

        });
        const MenuList = document.querySelector('.context-menu');
        const menuHeight = MenuList.offsetHeight - parseInt(getComputedStyle(MenuList)['paddingTop']) -
            parseInt(getComputedStyle(MenuList)['paddingBottom']);
        const menuWidth = MenuList.offsetWidth;
        MenuList.style.height = '0'

        document.addEventListener('contextmenu', (e) => {
            e.preventDefault();
            const {clientX, clientY} = e;
            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;
            let top = clientY;
            let left = clientX;
            if (clientY + menuHeight > windowHeight) {
                top = clientY - menuHeight;
            }
            if (clientX + menuWidth > windowWidth) {
                left = Math.max(clientX - menuWidth, 0); // 同样确保 left 不为负数
            }
            MenuList.style.height = menuHeight + 'px';
            MenuList.style.top = top + 'px';
            MenuList.style.left = left + 'px';
            MenuList.classList.add('is-active');
        });
        document.addEventListener('click', (e) => {
            MenuList.style.height = '0';
            MenuList.classList.remove('is-active');
        });

        document.getElementById('ai-chat-open-btn').onclick = function () {
            ai_chat_container.style.opacity = '1';
            ai_chat_container.style.visibility = 'visible';
            ai_chat_container.style.height = '800px';
        };

        document.getElementById('ai-chat-close-btn').onclick = function () {
            ai_chat_container.style.opacity = '0';
            ai_chat_container.style.visibility = 'hidden';
            ai_chat_container.style.height = '0';
            ai_chat_scroll.style.display = 'none'
        };

        ai_chat_scroll.onclick = function () {
            ai_chat_scroll.style.display = 'none';
            ai_chat_messages.scrollTop = ai_chat_messages.scrollHeight;
        };

        document.getElementById('ai-chat-send-btn').onclick = function () {
            sendMessage();
            console.log(marked.parse('I am using __markdown__.'));
        };
        // 新增部分：回车发送消息
        document.getElementById('ai-chat-user-input').addEventListener('keydown', function (event) {
            if (event.key === "Enter") {
                event.preventDefault();  // 防止表单默认提交
                sendMessage();  // 发送消息
                ai_chat_scroll.style.display = 'none';
            }
        });

        ai_chat_messages.addEventListener('scroll', function () {
            let isBottom = ai_chat_messages.scrollHeight - ai_chat_messages.scrollTop === ai_chat_messages.clientHeight;
            if (isBottom) {
                ai_chat_scroll.style.display = 'none';
            } else {
                ai_chat_scroll.style.display = 'block';
            }
        })

        function sendMessage() {
            let input = document.getElementById('ai-chat-user-input');
            if (input.value.trim() !== "") {
                let userBubble = createMessageBubble('user-message');
                userBubble.textContent = input.value;
                getAIResponse(input.value);
                input.value = "";
            } else {
                Swal.fire({
                    title: "the message can not be empty",
                    icon: "info",
                    closeOnClickOutside: true,
                    closeOnEsc: true,
                    timer: 3000,
                    timerProgressBar: true,
                });
            }
        }


        function createMessageBubble(className) {
            let messageContainer = document.createElement('div');
            messageContainer.classList.add('message-container');
            let messageDiv = document.createElement('div');
            let icon = document.createElement('i');
            messageDiv.classList.add('message-bubble', className);
            messageDiv.setAttribute('tabindex', '0');  // 设置 tabindex 属性
            messageDiv.addEventListener('click', function () {
                this.focus();  // 获取焦点
            });
            messageDiv.addEventListener('keydown', function (event) {
                if ((event.ctrlKey || event.metaKey) && event.key === 'a') {
                    event.preventDefault(); // 阻止默认的全选行为
                    let selection = window.getSelection(); // 获取当前的选择
                    let range = document.createRange(); // 创建一个范围
                    range.selectNodeContents(this); // 设置范围包括此元素的内容
                    selection.removeAllRanges(); // 清除当前的选择
                    selection.addRange(range); // 添加新的范围
                }
            });
            if (className === 'user-message') {
                icon.classList.add('iconfont', 'icon-wode', 'iconheader');
                messageContainer.appendChild(messageDiv)
                messageContainer.appendChild(icon)
            } else {
                icon.classList.add('iconfont', 'icon-jiqiren', 'iconheader');
                messageContainer.classList.add('ai');
                messageContainer.appendChild(icon)
                messageContainer.appendChild(messageDiv)
            }
            ai_chat_messages.appendChild(messageContainer);
            ai_chat_messages.scrollTop = ai_chat_messages.scrollHeight;
            return messageDiv;
        }

        async function getAIResponse(content) {
            const response = await fetch(aiUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({message: content}),
            });
            const reader = response.body.getReader();
            let aiBubble = createMessageBubble('ai-message');
            let totalText = ''; // 用于累积读取的文本
            while (true) {
                const {done, value} = await reader.read();
                totalText += decoder.decode(value);
                aiBubble.innerHTML = marked.parse(totalText);
                if (done) {
                    break;
                }
            }
        }

    });
</script>
</body>
</html>