<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/switch.css"/>
    <link rel="stylesheet" href="../static/css/progress_bar.css"/>
    <link rel="stylesheet" href="../static/css/context_menu.css"/>
    <link rel="stylesheet" href="../static/css/utils/hover-min.css"/>
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../static/css/pico.conditional.min.css"/>
    <link rel="stylesheet" href="../static/css/utils/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/utils/datatables.css">
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    <style>
        .underline {
            cursor: pointer;
            background: linear-gradient(to right, var(--land1), var(--sky1)) no-repeat right bottom;
            background-size: 0 2px;
            transition: background-size .6s;
        }

        .underline:hover {
            background-size: 100% 2px;
            background-position-x: left;
        }

        .icon-dark {
            filter: invert(1) hue-rotate(180deg);
        }
    </style>
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
    </script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/utils/nprogress.js"></script>
    <script src="../static/js/utils/datatables.min.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
{% include 'context_menu.html' %}

{% block navbar %}
{% endblock %}

{% block mainBody %}
{% endblock %}
<script>
    window.addEventListener('DOMContentLoaded', () => {
        NProgress.start();
    });
    window.addEventListener('load', () => {
        NProgress.done();
    });
    $(document).ready(function () {
        // 添加点击事件监听器
        $('#logoutButton').click(function (event) {
            // 阻止默认的链接点击行为
            event.preventDefault();
            // 弹出确认对话框
            const confirmLogout = confirm("are you sure to logout？");
            // 如果用户点击了确定按钮
            if (confirmLogout) {
                window.location.href = "{{ url_for('login.logout') }}";
            }
        });
        $(document).keydown(function (event) {
            if (event.which === 27) {
                const confirmLogout = confirm("are you sure to logout？");
                // 如果用户点击了确定按钮
                if (confirmLogout) {
                    window.location.href = "{{ url_for('login.logout') }}";
                }
            }
        });
        // 你现有的点击事件逻辑
        const nav = document.querySelector('nav');
        $('.sidebar-toggle').click(function () {
            nav.classList.toggle('close');

        });
        const MenuList = document.querySelector('.context-menu');
        const menuHeight = MenuList.offsetHeight - parseInt(getComputedStyle(MenuList)['paddingTop']) -
            parseInt(getComputedStyle(MenuList)['paddingBottom']);
        const menuWidth = MenuList.offsetWidth;
        MenuList.style.height = '0'

        document.addEventListener('contextmenu', (e) => {
            e.preventDefault();
            const {clientX, clientY} = e;
            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;
            let top = clientY;
            let left = clientX;
            if (clientY + menuHeight > windowHeight) {
                top = clientY - menuHeight;
            }
            if (clientX + menuWidth > windowWidth) {
                left = Math.max(clientX - menuWidth, 0); // 同样确保 left 不为负数
            }
            MenuList.style.height = menuHeight + 'px';
            MenuList.style.top = top + 'px';
            MenuList.style.left = left + 'px';
            MenuList.classList.add('is-active');
        });
        document.addEventListener('click', (e) => {
            MenuList.style.height = '0';
            MenuList.classList.remove('is-active');
        });
    });
</script>
</body>
</html>