<!DOCTYPE html>
{% set hasUser = True if user else False %}
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/css/base2.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/switch2.css"/>
    <link rel="stylesheet" href="../static/css/aicss.css"/>
    <link rel="stylesheet" href="../static/css/progress_bar.css"/>
    <link rel="stylesheet" href="../static/css/utils/hover-min.css"/>
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../static/css/pico.conditional.min.css"/>
    <link rel="stylesheet" href="../static/css/utils/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/utils/datatables.css">
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
        const aiUrl = "{{ url_for('utils.ai_assistant') }}";
    </script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/utils/sweetalert2.js"></script>
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/utils/nprogress.js"></script>
    <script src="../static/js/utils/datatables.min.js"></script>
    <script src="../static/js/utils/marked.min.js"></script>
    <script src="../static/js/utils/scrollreveal.min.js"></script>
    <script src="../static/js/utils/slick.min.js"></script>
    <script src="../static/js/utils/gsap.js"></script>
    <script src="../static/js/utils/scrolltrigger.min.js"></script>
    <script src="../static/js/aichat.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body data-hasuser="{% if user %}true{% else %}false{% endif %}" id="top">
{% include 'switch2.html' %}
{% include 'aichat.html' %}
{% include 'header.html' %}
<section class="wrapper" id="home">
    <main class="main">
        <section class="home">
            <div class="container">
                <div class="home__inner">
                    <div class="home__subtitle">Clash studio</div>
                    <h1 class="home__title">Waste Management</h1>
                    <div class="home__descr">Let's recycle and protect the environment</div>
                    <p class="home__text">We are committed to recycling waste, reducing carbon emissions and making the
                        planet a better place</p>
                </div>
            </div>
        </section>
    </main>
    <img src="../static/image/stripe.svg" alt="" class="hero-shape shape1" loading="lazy">
    <img src="../static/image/stripe.svg" alt="" class="hero-shape shape2" loading="lazy">
</section>
<section class="about-us section" id="about">
    <div class="about-details">
        <p class="section-subtitle">about us</p>
        <h2 class="h2 section-title">What are the goals and pursuits of our company</h2>
        <p class="section-text">We have our own equipment to deal with waste,
            and we want to make it available to the public to help everyone protect the environment</p>
        <ul class="about-list">

            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </p>
            </li>
        </ul>
    </div>
    <figure class="about-banner img-holder" style="--width: 24rem; --height: 40rem;">
        <img src="../static/image/esg.png" width="518" height="898" loading="lazy" alt=""
             class="img-cover">
        <img src="../static/image/jobs.png" width="260" height="170" loading="lazy" alt=""
             class="abs-img abs-img-1">
        <img src="../static/image/about-shape-2.png" width="500" height="500" loading="lazy" alt=""
             class="abs-img abs-img-2">
    </figure>
</section>

<section class="section2" id="service">
    <div class="intro-section">
        <p class="section-subtitle">services</p>
        <h2 class="h2 section-title" style="font-size: 6vh">Trusted For Our Services</h2>
        <p class="section-text" style="font-size: 2vh">akkajsdkajskjdaksjdkajdkasjkdasjdklajskldjakljd
            asjdkajdkjaskdjaksdjkajdklasjlkdjaklsjdlasd</p>
    </div>
    <ul class="service-list grid-list">
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/resource.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">01</span> Waste Deal
                </h3>
                <p class="card-text">
                    我们将处理你想处理的废弃物
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/structure.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">02</span> Tough Predict
                </h3>
                <p class="card-text">
                    根据你提供的订单我们会预测出最佳的处理方式和困难程度
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/conclusion.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">03</span> Concl. Exhibited
                </h3>
                <p class="card-text">
                    我们将展示处理结果以及对环境的好处
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/analyze.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">04</span> Hazard Analyze
                </h3>
                <p class="card-text">
                    废弃物的危害分析
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/info.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">05</span> AI Guide
                </h3>
                <p class="card-text">
                    我们的系统有属于自己的ai助手，帮助使用网站并学习相关内容
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/news.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">06</span> News Share
                </h3>
                <p class="card-text">
                    在网页最下方将提供一系列有用的环保网站链接以及新闻
                </p>
                <p class="card-details">Our aim is to optimize and improve your supply chain so that we can give you the
                    best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.
                    Our aim is to optimize and improve your supply chain so that we can give you the best service.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
    </ul>
</section>

<div class="fixed-text intro-section" id="flow" style="padding-top: 4rem">
    <p class="section-subtitle">working flow</p>
    <h2 class="h2 section-title" style="font-size: 6vh">The steps we will work</h2>
    <p class="section-text" style="font-size: 2vh">All waste will be handled according to the following procedures.
        Thank you for your
        contribution to protecting the environment</p>
</div>
<section class="flow-info">
    <div class="scrollbox flow-info-div">
        <div class="scrollbox_container flow-info-div">
            <div class="scrollbox_container_card flow-info-div">
                <p>card one</p>
                <img class="scc_city scc_city1" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck1" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <p>card two</p>
                <img class="scc_city scc_city2" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck2" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <p>card three</p>
                <img class="scc_city scc_city3" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck3" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <p>card four</p>
                <img class="scc_city scc_city4" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck4" src="../static/image/truck.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="section2" id="feature">
    <div class="feature-intro">
        <p class="section-subtitle">management</p>
        <h2 class="h2 section-title">Switch to pages to deal with waste</h2>
        <p class="section-text">You can view or manage your order and check how much you are contributing to the
            environment</p>
    </div>
    <ul class="feature-list grid-list">
        <li>
            <div class="feature-card" style="--card-number: '01'">
                <div class="card-icon">
                    <img src="./assets/images/feature-icon-1.png" width="72" height="91" alt="">
                </div>
                <h3 class="h3 card-title">Solutions and specialized</h3>
                <p class="card-text">
                    Our aim is to optimize and improve your supply chain so that we can give you the best service
                </p>
                <a href="#" class="card-btn" aria-label="Read more">
                    <ion-icon name="arrow-forward"></ion-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="feature-card" style="--card-number: '02'">
                <div class="card-icon">
                    <img src="./assets/images/feature-icon-2.png" width="94" height="94" alt="">
                </div>
                <h3 class="h3 card-title">Multiple warehouses</h3>
                <p class="card-text">
                    We provide multiple drop off and pickup locations so you don't have to worry. And you should not
                    face
                    any kind...
                </p>
                <a href="#" class="card-btn" aria-label="Read more">
                    <ion-icon name="arrow-forward"></ion-icon>
                </a>
            </div>
        </li>
        <li>
            <div class="feature-card" style="--card-number: '03'">
                <div class="card-icon">
                    <img src="./assets/images/feature-icon-3.png" width="93" height="93" alt="">
                </div>
                <h3 class="h3 card-title">Tracking made easy</h3>
                <p class="card-text">
                    A tracking number for the entire process. so that you can find the exact position. this process will
                    help you
                </p>
                <a href="#" class="card-btn" aria-label="Read more">
                    <ion-icon name="arrow-forward"></ion-icon>
                </a>
            </div>
        </li>
    </ul>
</section>
{% include 'footer.html' %}
<a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <i class="iconfont icon-top"></i>
</a>
{% block extra_thing %}{% endblock %}
<script>
    $(document).ready(function () {
        let isDark = $('html').attr('data-theme') === 'dark';
        let swalcolor = '';
        let hasUser = $('body').data('hasuser');
        const themeButton = $('#themeSwitch input');
        themeButton.change(function () {
            if (isDark) {
                swalcolor = '#F0F9FF';
            } else {
                swalcolor = '#353738';
            }
            isDark = !isDark
        });
        $('.need-user').click(function (event) {
            if (!hasUser) {
                event.preventDefault();
                Swal.fire({
                    position: 'top',
                    title: 'Please login to use functions!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    reverseButtons: true,
                    timer: 4000,
                    timerProgressBar: true,
                    background: swalcolor,
                }).then((result) => {
                    // 如果用户点击了确定按钮
                    if (result.isConfirmed) {
                        window.location.href = "{{ url_for('login.lpage') }}";
                    }
                });
            }
        });

        $('.header__burger').click(function (event) {
            $('.header__burger, .menu').toggleClass('active');
            $('body').toggleClass('lock');
            $('.menu').toggleClass('open');
        });

        $('.menu__link').click(function (event) {
            $('.header__burger, .menu').removeClass('active');
            $('body').removeClass('lock');
        });

        // 添加点击事件监听器
        $('#logoutButton').click(function (event) {
            // 阻止默认的链接点击行为
            event.preventDefault();
            // 使用 Swal 弹出确认对话框
            Swal.fire({
                position: 'top',
                title: 'Are you sure to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                timer: 4000,
                timerProgressBar: true,
                background: swalcolor,
            }).then((result) => {
                // 如果用户点击了确定按钮
                if (result.isConfirmed) {
                    sessionStorage.clear();
                    window.location.href = "{{ url_for('login.logout') }}";
                }
            });
        });
        $(document).keydown(function (event) {
            if (event.which === 27) {
                Swal.fire({
                    position: 'top',
                    title: 'Are you sure to logout?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    reverseButtons: true,
                    timer: 4000,
                    timerProgressBar: true,
                    background: swalcolor,
                }).then((result) => {
                    // 如果用户点击了确定按钮
                    if (result.isConfirmed) {
                        window.location.href = "{{ url_for('login.logout') }}";
                    }
                });
            }
        });

        $('.show-service').click(function (event) {
            event.preventDefault();
            let card = $(this).parent();
            let title = card.find('.card-title').text();
            let content = card.find('.card-details').text();
            if (hasUser) {
                Swal.fire({
                    title: title,
                    text: content,
                    icon: 'info',
                    background: swalcolor,
                });
            } else {
                Swal.fire({
                    title: title,
                    text: content,
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonText: 'Login',
                    cancelButtonText: 'Cancel',
                    background: swalcolor,
                    reverseButtons: true,
                }).then((result) => {
                    // 如果用户点击了确定按钮
                    if (result.isConfirmed) {
                        window.location.href = "{{ url_for('login.lpage') }}";
                    }
                });
            }
        });

    });
    const sr = ScrollReveal({
        origin: 'top',
        distance: '50px',
        duration: 2000,
        depay: 400,
        reset: true
    });
    sr.reveal(`.home__subtitle`, {origin: 'top'})
    sr.reveal(`.home__title`, {origin: 'left'})
    sr.reveal(`.home__descr`, {origin: 'right'})
    sr.reveal(`.home__text`, {origin: 'top'})
    sr.reveal(`.section-subtitle`, {origin: 'left'})
    sr.reveal(`.section-title`, {origin: 'right'})
    sr.reveal(`.section-text`, {origin: 'bottom'})


    // Debounce function to limit the rate at which a function is executed
    function debounce(func, wait, immediate) {
        let timeout;
        return function () {
            let context = this, args = arguments;
            let later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            let callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    }

    const scrollbox = {
        container: document.querySelector(".scrollbox_container"),
        cards: [...document.querySelectorAll(".scrollbox_container_card")],
        trucks: [...document.querySelectorAll(".scc_truck")],
        citys: [...document.querySelectorAll(".scc_city")],
        trigger_distance: 0,
        border_distance: 0,
        distance: 0,
        resize() {
            let _scrollbox = document.querySelector(".scrollbox");
            _scrollbox.style.height = `${this.container.offsetWidth}px`;
            this.trigger_distance = _scrollbox.offsetTop;
            this.border_distance = _scrollbox.offsetTop + _scrollbox.offsetHeight - innerHeight;
        },
        move() {
            if (scrollY >= this.trigger_distance && scrollY <= this.border_distance) {
                this.distance = scrollY - this.trigger_distance;
                this.container.style.transform = `translateY(${this.distance}px)`;
                let distance_x = (this.distance + 50) / (this.border_distance - this.trigger_distance) * (this.container.offsetWidth - innerWidth);
                for (let i = 0; i < this.cards.length; i++) {
                    this.cards[i].style.transform = `translateX(${-distance_x}px)`;
                    this.trucks[i].style.transform = `translateX(${distance_x * 1.6}px)`;
                    this.citys[i].style.transform = `translateX(${distance_x * 0.8}px)`;
                }
            }
        }
    };
    scrollbox.resize();
    window.addEventListener("resize", debounce(() => {
        scrollbox.resize();
    }, 250)); // Execute at most once every 250ms
    window.addEventListener("scroll", () => {
        requestAnimationFrame(() => {
            scrollbox.move();
        });
    });
    const header = document.querySelector("[data-header]");
    const backTopBtn = document.querySelector("[data-back-top-btn]");

    window.addEventListener("scroll", function () {
        if (window.scrollY >= 100) {
            header.classList.add("active");
            backTopBtn.classList.add("active");
        } else {
            header.classList.remove("active");
            backTopBtn.classList.remove("active");
        }
    });


</script>
</body>
</html>