<!DOCTYPE html>
{% set hasUser = True if user else False %}
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/css/base2.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/switch2.css"/>
    <link rel="stylesheet" href="../static/css/aicss.css"/>
    <link rel="stylesheet" href="../static/css/progress_bar.css"/>
    <link rel="stylesheet" href="../static/css/utils/hover-min.css"/>
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../static/css/pico.conditional.min.css"/>
    <link rel="stylesheet" href="../static/css/utils/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/utils/datatables.css">
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
        const aiUrl = "{{ url_for('utils.ai_assistant') }}";
    </script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/utils/sweetalert2.js"></script>
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/utils/nprogress.js"></script>
    <script src="../static/js/utils/datatables.min.js"></script>
    <script src="../static/js/utils/marked.min.js"></script>
    <script src="../static/js/utils/scrollreveal.min.js"></script>
    <script src="../static/js/utils/slick.min.js"></script>
    <script src="../static/js/utils/gsap.js"></script>
    <script src="../static/js/utils/sweetalert2.js"></script>
    <script src="../static/js/aichat.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body data-hasuser="{% if user %}true{% else %}false{% endif %}">
{% include 'switch2.html' %}
{% include 'aichat.html' %}
<section class="wrapper">
    {% include 'header.html' %}
    <main class="main">
        <section class="home">
            <div class="container">
                <div class="home__inner">
                    <div class="home__subtitle">Clash studio</div>
                    <h1 class="home__title">Waste Management</h1>
                    <div class="home__descr">Let's recycle and protect the environment</div>
                    <p class="home__text">We are committed to recycling waste, reducing carbon emissions and making the
                        planet a better place</p>
                </div>
            </div>
        </section>
    </main>
</section>

<section class="web-info">
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
    <h1>ajsdksajdkaskdasjdk</h1>
</section>

{% block extra_thing %}{% endblock %}
<script>
    $(document).ready(function () {
        let hasUser = $('body').data('hasuser');

        $('.need-user').click(function (event) {
            if (!hasUser) {
                event.preventDefault();
                Swal.fire({
                    position: 'top',
                    title: 'Please login to use functions!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    reverseButtons: true,
                    timer: 4000,
                    timerProgressBar: true,
                }).then((result) => {
                    // 如果用户点击了确定按钮
                    if (result.isConfirmed) {
                        sessionStorage.clear();
                        window.location.href = "{{ url_for('login.lpage') }}";
                    }
                });
            }
        });

        $('.header__burger').click(function (event) {
            $('.header__burger, .menu').toggleClass('active');
            $('body').toggleClass('lock');
            $('.menu').toggleClass('open');
        });

        $('.menu__link').click(function (event) {
            $('.header__burger, .menu').removeClass('active');
            $('body').removeClass('lock');
        });

        // 添加点击事件监听器
        $('#logoutButton').click(function (event) {
            // 阻止默认的链接点击行为
            event.preventDefault();
            // 使用 Swal 弹出确认对话框
            Swal.fire({
                position: 'top',
                title: 'Are you sure to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                timer: 4000,
                timerProgressBar: true,
            }).then((result) => {
                // 如果用户点击了确定按钮
                if (result.isConfirmed) {
                    sessionStorage.clear();
                    window.location.href = "{{ url_for('login.logout') }}";
                }
            });
        });
        $(document).keydown(function (event) {
            if (event.which === 27) {
                Swal.fire({
                    position: 'top',
                    title: 'Are you sure to logout?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    reverseButtons: true,
                    timer: 4000,
                    timerProgressBar: true,
                }).then((result) => {
                    // 如果用户点击了确定按钮
                    if (result.isConfirmed) {
                        window.location.href = "{{ url_for('login.logout') }}";
                    }
                });
            }
        });


    });
    const sr = ScrollReveal({
        origin: 'top',
        distance: '50px',
        duration: 2000,
        depay: 400,
        reset: true
    });
    sr.reveal(`.home__subtitle`, {origin: 'top'})
    sr.reveal(`.home__title`, {origin: 'left'})
    sr.reveal(`.home__descr`, {origin: 'right'})
    sr.reveal(`.home__text`, {origin: 'top'})
    sr.reveal(`.home__button`, {origin: 'bottom'})

</script>
</body>
</html>