<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/fonts.css"/>
    <link rel="stylesheet" href="../static/css/base2.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/switch.css"/>
    <link rel="stylesheet" href="../static/css/progress_bar.css"/>
    <link rel="stylesheet" href="../static/css/utils/hover-min.css"/>
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="../static/css/pico.conditional.min.css"/>
    <link rel="stylesheet" href="../static/css/utils/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/utils/datatables.css">
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Base2{% endblock %}</title>
    <script>
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
        const aiUrl = "{{ url_for('utils.ai_assistant') }}";
    </script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/utils/sweetalert2.js"></script>
    <script src="../static/js/switch.js"></script>
    <script src="../static/js/utils/nprogress.js"></script>
    <script src="../static/js/utils/datatables.min.js"></script>
    <script src="../static/js/utils/marked.min.js"></script>
    <script src="../static/js/utils/scrollreveal.min.js"></script>
    <script src="../static/js/utils/slick.min.js"></script>
    <script src="../static/js/utils/gsap.js"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
<section class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Service</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </nav>
                <a href="base2.html" class="header__logo">
                    <img src="../static/image/icon/skyline.png" alt="logo" class="logo__img">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="home">
            <div class="container">
                <div class="home__inner">
                    <div class="home__subtitle">Clash studio</div>
                    <h1 class="home__title">Waste Management</h1>
                    <div class="home__descr">Let's recycle and protect the environment</div>
                    <p class="home__text">We are committed to recycling waste, reducing carbon emissions and making the
                        planet a better place</p>
                    <div class="home__button">
                        <a href="#" class="home__link">Learn more</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>
<h1>ajsdksajdkaskdasjdk</h1>

<script>
    $(document).ready(function () {
        $('.header__burger').click(function (event) {
            $('.header__burger, .menu').toggleClass('active');
            $('body').toggleClass('lock');
            $('.menu').toggleClass('open');
        });

        $('.menu__link').click(function (event) {
            $('.header__burger, .menu').removeClass('active');
            $('body').removeClass('lock');
        });

    });
    const sr = ScrollReveal({
        origin: 'top',
        distance: '50px',
        duration: 2000,
        depay: 400,
        reset: true
    });
    sr.reveal(`.home__subtitle`, {origin: 'top'})
    sr.reveal(`.home__title`, {origin: 'left'})
    sr.reveal(`.home__descr`, {origin: 'right'})
    sr.reveal(`.home__text`, {origin: 'top'})
    sr.reveal(`.home__button`, {origin: 'bottom'})
</script>
</body>
</html>