<section class="context-menu">
    <ul class="context-menu-list">
        <li>
            <i class="iconfont icon-shujuzhanshi"></i>
            <span>Data</span>
        </li>
        <li>
            <i class="iconfont icon-wenjiantianjia"></i>
            <span>Add</span>
        </li>
        <li>
            <i class="iconfont icon-daochu"></i>
            <span>Pic</span>
        </li>
        <li>
            <i class="iconfont icon-lianjie"></i>
            <span>Share</span>
        </li>
        <li class="context-menu-divider"></li>
        <li class="context-menu-last">
            <i class="iconfont icon-gongyepin"></i>
            <span>Delete</span>
        </li>
    </ul>
</section>