<section class="context-menu">
    <ul class="context-menu-list">
        <li>
            <i class="iconfont icon-shujuzhanshi"></i>
            <span>{{ _("Data") }}</span>
        </li>
        <li>
            <i class="iconfont icon-wenjiantianjia"></i>
            <span>{{ _("Add") }}</span>
        </li>
        <li>
            <i class="iconfont icon-daochu"></i>
            <span>{{ _("Pic") }}</span>
        </li>
        <li>
            <i class="iconfont icon-lianjie"></i>
            <span>{{ _("Share") }}</span>
        </li>
        <li class="context-menu-divider"></li>
        <li class="context-menu-last">
            <i class="iconfont icon-gongyepin"></i>
            <span>{{ _("Delete") }}</span>
        </li>
    </ul>
</section>