{% include 'switch2.html' %}
{% include 'aichat.html' %}
<section class="wrapper" id="home">
    <main class="main">
        <section class="home">
            <div class="container">
                <div class="home__inner">
                    <div class="home__subtitle">Clash studio</div>
                    <h1 class="home__title">Waste Management</h1>
                    <div class="home__descr">Let's recycle and protect the environment</div>
                    <p class="home__text">We are committed to recycling waste, reducing carbon emissions and making the
                        planet a better place</p>
                </div>
            </div>
        </section>
    </main>
    <img src="../static/image/stripe.svg" alt="" class="hero-shape shape1" loading="lazy">
    <img src="../static/image/stripe.svg" alt="" class="hero-shape shape2" loading="lazy">
</section>
<section class="about-us section" id="about">
    <div class="about-details">
        <p class="section-subtitle">about us</p>
        <h2 class="h2 section-title">What are the goals and pursuits of our company</h2>
        <p class="section-text">We have our own equipment to deal with waste,
            and we want to make it available to the public to help everyone protect the environment</p>
        <ul class="about-list">

            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Deal with all kinds of harmful substances to reduce carbon emissions in society
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Provide a powerful waste treatment device, users can use a certain amount
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Reducing energy consumption and improving the efficiency of waste disposal through clear operational
                    processes improves one-stop solutions for customers.
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Maximize recycling and reuse of resources and reduce environmental impact through centralized waste
                    disposal.
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Dispose of waste in strict compliance with environmental protection regulations to safeguard the
                    work environment and public health.
                </p>
            </li>
            <li class="about-item">
                <div class="about-icon">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <p class="about-text">
                    Actively fulfilling social responsibility to achieve truly efficient and sound waste disposal
                    through projects and government oversight.
                </p>
            </li>
        </ul>
    </div>
    <figure class="about-banner img-holder" style="--width: 24rem; --height: 40rem;">
        <img src="../static/image/esg.png" width="518" height="898" loading="lazy" alt=""
             class="img-cover">
        <img src="../static/image/jobs.png" width="260" height="170" loading="lazy" alt=""
             class="abs-img abs-img-1">

    </figure>
</section>

<section class="section2" id="service">
    <div class="intro-section">
        <p class="section-subtitle">services</p>
        <h2 class="h2 section-title" style="font-size: 6vh">Trusted For Our Services</h2>
        <p class="section-text" style="font-size: 2vh">We will protect your data and the environment with a high degree
            of responsibility.</p>
    </div>
    <ul class="service-list grid-list">
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/resource.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">01</span> Waste Deal
                </h3>
                <p class="card-text">
                    We will dispose of the waste you want to dispose of, and submitted waste orders go through an
                    interlocking disposal process.
                </p>
                <p class="card-details">Waste orders submitted by customers will pass through two interlocking stages of
                    confirmation and disposal, depending on important attributes such as the sector from which they
                    come, the weight, the properties of the waste, and the percentage of the waste, and will eventually
                    be turned into non-hazardous goods and end up being recycled.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/structure.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">02</span> Tough Predict
                </h3>
                <p class="card-text">
                    Based on the properties of the waste in the order we will predict for you the best way to handle it
                    and the expected completion time.
                </p>
                <p class="card-details">Based on a detailed analysis of the attributes of the waste in your order -
                    including, but not limited to, its weight, rate, and type of waste - our administrators will develop
                    an optimal treatment plan for the waste - one that has undergone a rigorous Environmental Impact
                    Assessment to ensure minimal disruption to the ecosystem while maximizing recycling and reuse of
                    resources.
                    We will also provide you with an expected completion time, with the aim of creating a cost-effective
                    and environmentally friendly solution, while ensuring that the production process is not affected by
                    the accumulation of waste.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/conclusion.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">03</span> Concl. Exhibited
                </h3>
                <p class="card-text">
                    Presentation of the results of the treatment and the contribution of this initiative to the
                    environment, increasing your enthusiasm
                </p>
                <p class="card-details">Provide efficient results of waste disposal services, our page focuses on
                    presenting the positive impact of these results on environmental protection. Provide detailed
                    documentation and transparent reporting for each disposal task, including the type of waste,
                    treatment method, reuse or recycling rate, and final disposal method.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/analyze.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">04</span> Hazard Analyze
                </h3>
                <p class="card-text">
                    Analyze waste hazards and use interesting effects to show you how!
                </p>
                <p class="card-details">By analyzing waste hazards, we can also raise public awareness of the importance
                    of waste disposal and environmental protection.
                    As a waste management organization, we understand that improper waste disposal, including but not
                    limited to chemical, biological and physical hazards, poses a serious threat to the environment and
                    human health. Therefore, a careful assessment of the hazards of waste is conducted to ensure that
                    the most appropriate treatment measures are taken and to educate users on the importance of waste
                    disposal.
                </p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/info.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">05</span> AI Guide
                </h3>
                <p class="card-text">
                    Our system has a separate AI Assistant plugin that helps users use the site and learn relevant
                    specialized content.
                </p>
                <p class="card-details">We have introduced an advanced AI Assistant plug-in, which not only enhances the
                    interactivity of our website, but also provides a powerful platform for users to learn and grow -
                    the AI Assistant plug-in provides real-time online consultation and Q&A to help users quickly solve
                    any problems encountered in the course of using the website. At the same time AI Guide contains a
                    rich knowledge base covering a more comprehensive range of specialized knowledge in the waste
                    treatment industry.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
        <li>
            <div class="service-card">
                <div class="card-icon">
                    <img src="../static/image/icon/news.svg" loading="lazy" alt="Paper">
                </div>
                <h3 class="h3 card-title">
                    <span class="span">06</span> News Share
                </h3>
                <p class="card-text">
                    Offers a range of useful environmentally related news and recommended sites.
                </p>
                <p class="card-details">We are committed to promoting environmental awareness and sustainable
                    development. With these websites and resources not only provide us with valuable information, but
                    also help us and our clients to stay up-to-date with the latest developments in the field of
                    environmental protection, so that we can better serve the community and promote the development of
                    environmental protection. Through these channels, we are able to access industry information in a
                    timely manner and continuously improve the quality of our services, as well as educate and inspire
                    the public to work together for a greener and more sustainable world.</p>
                <a href="#" class="btn-link about-item show-service">
                    <div class="about-icon">
                        <i class="iconfont icon-youjiantou"></i>
                    </div>
                    <span class="span">View Detail</span>
                </a>
            </div>
        </li>
    </ul>
</section>

<div class="fixed-text intro-section" id="flow" style="padding-top: 4rem">
    <p class="section-subtitle">working flow</p>
    <h2 class="h2 section-title" style="font-size: 6vh">The steps we will work</h2>
    <p class="section-text" style="font-size: 2vh">All waste will be handled according to the following procedures.
        Thank you for your
        contribution to protecting the environment</p>
</div>
<section class="flow-info">
    <div class="scrollbox flow-info-div">
        <div class="scrollbox_container flow-info-div">
            <div class="scrollbox_container_card flow-info-div">
                <div>
                    <h1>Unconfirmed</h1>
                    <ul class="card-list">
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Orders for waste disposal are submitted with complete attribute
                                information, such as type, quantity, and source of the waste.
                            </p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">These details are crucial for determining the treatment method and
                                estimating costs.
                            </p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">After submission, orders await review by administrators to ensure all
                                necessary
                                information
                                is provided and complies with the standards and regulations of the waste management
                                center.
                            </p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Administrators may contact the submitter for additional details or
                                clarification if
                                needed.
                            </p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">This stage is the starting point of the process, ensuring that all
                                subsequent steps can
                                proceed smoothly.
                            </p>
                        </li>
                    </ul>
                </div>

                <img class="scc_city scc_city1" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck1" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <div>
                    <h1>Confirmed</h1>
                    <ul class="card-list">
                        <!-- CONFIRMED Stage -->
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Once an order is confirmed by administrators, it indicates acceptance
                                and readiness to begin processing the waste.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Waste materials are collected and transported according to a
                                predetermined schedule.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">During this stage, waste may be temporarily stored before further
                                processing.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Transport and storage must adhere to strict safety and environmental
                                protection standards to prevent pollution.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Simultaneously, the waste management center may start preparing
                                resources and equipment needed for processing, such as scheduling personnel and
                                equipment.</p>
                        </li>
                    </ul>
                </div>
                <img class="scc_city scc_city2" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck2" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <div>
                    <h1>Processing</h1>
                    <ul class="card-list">
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Upon arrival at the treatment facility, waste materials begin
                                specialized, targeted harmless treatment.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Treatment methods are selected based on the type and characteristics of
                                the waste, which may include physical, chemical, or biological technologies.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">The goal of this stage is to reduce or eliminate the hazardous nature
                                of the waste, transforming it into a form that is harmless or poses minimal harm to the
                                environment.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Treatment must strictly follow environmental protection regulations and
                                safety operation procedures to prevent secondary pollution.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">By-products such as energy recovery and metal recycling may be
                                generated during treatment, which can be used for further resource utilization.</p>
                        </li>

                    </ul>
                </div>
                <img class="scc_city scc_city3" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck3" src="../static/image/truck.svg" alt="">
            </div>
            <div class="scrollbox_container_card flow-info-div">
                <div>
                    <h1>Finished</h1>
                    <ul class="card-list">
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Once the waste materials have undergone harmless treatment, the process
                                moves to the finished stage.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">This signifies that the waste is no longer hazardous and can be safely
                                disposed of or utilized.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">Treated waste may be sent to landfills for final disposal or resourced
                                based on its characteristics.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">For example, metals and recyclable materials may be recovered and
                                reused, reducing the demand for new resources.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">The waste management center records and reports the treatment outcomes
                                to demonstrate that the waste has been properly treated according to regulations.</p>
                        </li>
                        <li class="card-item">
                            <i class="iconfont icon-youjiantou"></i>
                            <p class="card-text">The completion of this stage marks the end of an order and provides
                                valuable data and experience for the waste management center to improve future
                                processes.</p>
                        </li>
                    </ul>
                </div>
                <img class="scc_city scc_city4" src="../static/image/city.png" alt="">
                <img class="scc_truck scc_truck4" src="../static/image/truck.svg" alt="">
            </div>
        </div>
    </div>
</section>
{% if user %}
    {% set status = user.status|enum_to_string %}
    {% if status == 'Individual User' %}
        <div></div>
    {% else %}
        <div></div>
    {% endif %}
{% else %}
    <section class="section2" id="feature">
        <div class="feature-intro">
            <p class="section-subtitle">management</p>
            <h2 class="h2 section-title">Switch to pages to deal with waste</h2>
            <p class="section-text">You can view or manage your order and check how much you are contributing to the
                environment</p>
        </div>
        <ul class="feature-list grid-list">
            <li>
                <div class="feature-card" style="--card-number: '01'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic1.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">Creat order</h3>
                    <p class="card-text">
                        Users can create stand-alone waste orders, select waste sources and attributes, and simply
                        operate
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="feature-card" style="--card-number: '02'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic2.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">View contr.</h3>
                    <p class="card-text">
                        Users can see the trend of their treated waste from hazardous to non-hazardous and can fully
                        enlighten the public.
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="feature-card" style="--card-number: '03'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic7.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">Recognize waste</h3>
                    <p class="card-text">
                        Identify types of waste and improve the efficiency of waste disposal.
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>

            <li>
                <div class="feature-card" style="--card-number: '04'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic8.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">Projection time</h3>
                    <p class="card-text">
                        The government can see the weight and hazards of different wastes produced by our company at
                        different times.
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="feature-card" style="--card-number: '05'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic9.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">Projection weight</h3>
                    <p class="card-text">
                        The government can see the company's projections of the maximum waste content capacity that the
                        world in its current state can handle
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="feature-card" style="--card-number: '06'">
                    <div class="card-icon">
                        <img src="../static/image/alink/pic6.svg" alt="">
                    </div>
                    <h3 class="h3 card-title">Carbon neutral data</h3>
                    <p class="card-text">
                        Governments can see our company's contribution to protecting the environment and tracking our
                        carbon neutral footprint.
                    </p>
                    <a href="#" class="need-user" aria-label="Read more">
                        <img src="../static/image/jump.svg" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </section>
{% endif %}

<section class="waste-hazard section2" style="background: var(--panel-color)">
    <div class="intro-section">
        <p class="section-subtitle">hazard</p>
        <h2 class="h2 section-title" style="font-size: 6vh">Discussed For Waste</h2>
        <p class="section-text" style="font-size: 2vh">You can see the types of wastes we can handle and the
            corresponding hazards in the form of an infinite wheeling slide</p>
    </div>
    <div class="p-container">
        <div class="photos">
            <div class="photos_line">
                <div class="photos_line_photo">
                    <h4>{{ _("Heavy metal water") }}</h4>
                    <p>{{ _("Produced from metallurgical industry, electroplating factory, mine, etc.,
                    containing lead, cadmium, mercury and other heavy metals. If this kind of
                    wastewater is discharged directly without treatment, it will seriously pollute
                    the water source and endanger the ecological environment and human health.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Exhaust gas") }}</h4>
                    <p>{{ _("It mainly comes from the combustion of fuel in the industrial production process,
                    including sulfur dioxide, nitrogen oxides and other harmful gases. The emission
                    of waste gas not only leads to air pollution, but also may cause environmental
                    problems such as acid rain and greenhouse effect.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Mineral residue") }}</h4>
                    <p>{{ _("It is produced during mining and mineral processing, mainly including rock
                    fragments and mineral processing by-products. These residues, if not properly
                    disposed of, can take up large amounts of land and affect soil and water
                    quality.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Cutting fluid") }}</h4>
                    <p>{{ _("Used in metal working to reduce temperature and friction and extend tool life.
                    Contains mineral oil, emulsifier and other ingredients, if untreated directly
                    discharged, will pollute water and soil.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Metal chips") }}</h4>
                    <p>{{ _("The debris and chips produced during metal processing may contain metals such as
                    iron, copper, and aluminum. If the recycling is not proper, not only waste
                    resources, but also may cause environmental pollution.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Plastic waste") }}</h4>
                    <p>{{ _("Waste plastics produced in the manufacturing process of high-end mechanical
                    equipment, including parts packaging, protective film, etc. Plastics decompose
                    slowly, and improper disposal can lead to serious soil and water pollution.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Composite metal cutting waste") }}</h4>
                    <p>{{ _("Waste produced when cutting composite materials such as carbon fiber and glass
                    fiber. These wastes are difficult to degrade and can cause long-term pollution
                    to the environment if not handled properly.") }}</p>
                </div>
            </div>
            <div class="photos_line">
                <div class="photos_line_photo">
                    <h4>{{ _("Waste paint fluid") }}</h4>
                    <p>{{ _("Including expired paint, residual paint mist in the spraying process. Contains
                    organic solvents and heavy metals, causing pollution to water and soil, and is
                    also harmful to human health.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Dust") }}</h4>
                    <p>{{ _("Fine particles produced during material processing, cutting, grinding, etc.
                    Long-term exposure to dust is not only harmful to the environment, but also may
                    cause harm to the human respiratory system.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Chemicals things") }}</h4>
                    <p>{{ _("Waste chemicals produced in laboratories or chemical manufacturing processes,
                    including raw materials, by-products, etc. that have not been completed in the
                    reaction. If these chemicals are not handled properly, they may cause soil and
                    water pollution, fire, explosion and other safety accidents") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Catalyzer") }}</h4>
                    <p>{{ _("A substance that accelerates the rate of a chemical reaction without being
                    consumed. The catalyst after use may contain harmful substances and requires
                    special treatment to prevent environmental pollution.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Chemical propellants") }}</h4>
                    <p>{{ _("Chemicals used in rockets and missiles to generate thrust. These substances are
                    extremely corrosive and polluting to the environment and require rigorous
                    disposal and recycling procedures.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Fuel residues") }}</h4>
                    <p>{{ _("Waste generated during the production and use of new energy, such as biomass
                    energy and solar panel manufacturing. These residues, if not handled properly,
                    will pollute the environment") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Discarded electronic components") }}</h4>
                    <p>{{ _("Including discarded chips, circuit boards, displays and other electronic
                    equipment components. It contains heavy metals and harmful chemicals and poses a
                    serious threat to the environment.") }}</p>
                </div>
            </div>
            <div class="photos_line">
                <div class="photos_line_photo">
                    <h4>{{ _("Hydraulic oils") }}</h4>
                    <p>{{ _("Oils used to transmit power in machinery and equipment. If the hydraulic oil
                    after use is discharged directly without treatment, it will seriously pollute
                    water and soil.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Lubricant waste") }}</h4>
                    <p>{{ _("Waste lubricating oil produced during equipment maintenance, including oil, gear
                    oil, etc. These waste oils contain harmful substances and need to be
                    professionally treated for reuse or disposal.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Hazardous chemicals") }}</h4>
                    <p>{{ _("Hazardous chemicals used in laboratories, including corrosive, toxic, flammable
                    and explosive hazardous chemicals. These chemicals need to be stored, used and
                    disposed of in strict accordance with dangerous goods regulations.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Waste experimental equipment") }}</h4>
                    <p>{{ _("Including damaged experimental instruments, experimental consumables that have
                    been unable to be used. These wastes may contain harmful chemical residues and
                    require special treatment to prevent contamination.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Waste paper") }}</h4>
                    <p>{{ _("Waste paper generated in offices, schools, etc., including documents, newspapers,
                    magazines, etc. Waste paper is a recyclable resource, but if it is not handled
                    properly, it will cause resource waste and environmental pollution.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Household waste") }}</h4>
                    <p>{{ _("Waste from household daily life, including kitchen waste, plastic, paper, etc.
                    Different types of household waste need to be sorted to reduce the impact on the
                    environment.") }}</p>
                </div>
                <div class="photos_line_photo">
                    <h4>{{ _("Waste heat") }}</h4>
                    <p>{{ _("Waste heat generated during the operation of data centers, factories, etc. If not
                    recycled, this waste heat not only wastes energy, but also may cause local
                    environmental temperatures to rise, affecting the ecological balance.") }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <i class="iconfont icon-top"></i>
</a>
