<footer class="footer" id="footer">
    <div class="footer-top">
        <div class="footer-brand">
            <a href="#home" class="logo">Waste Management</a>
            <p class="footer-text">
                Waste disposal is open to the public free of charge, but the amount of processing requires users to pay
                a certain fee
            </p>
            <ul class="social-list">
                <li>
                    <a href="https://github.com/lzhhe/COMP3030J-Software-Engineering-Project2" class="social-link"
                       target="_blank" rel="noopener noreferrer">
                        <img src="../static/image/github.svg" alt="github">
                    </a>
                </li>
                <li>
                    <a href="mailto:Zx21372128@gmail.com" class="social-link" target="_blank" rel="noopener noreferrer">
                        <img src="../static/image/gmail.svg" alt="gmail">
                    </a>
                </li>
                <li>
                    <a href="https://space.bilibili.com/409889260" class="social-link" target="_blank" rel="noopener noreferrer">
                        <img src="../static/image/bilibili.svg" alt="bilibili">
                    </a>
                </li>
                <li>
                    <a href="https://www.csdn.net/" class="social-link" target="_blank" rel="noopener noreferrer">
                        <img src="../static/image/csdn.svg" alt="csdn">
                    </a>
                </li>
            </ul>
        </div>
        <ul class="footer-list">
            <li>
                <p class="footer-list-title">Quick Links</p>
            </li>
            <li>
                <a href="#about" class="footer-link">About</a>
            </li>
            <li>
                <a href="#service" class="footer-link">Service</a>
            </li>
            <li>
                <a href="#flow" class="footer-link">Flow</a>
            </li>
            <li>
                <a href="#feature" class="footer-link">Manage</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <p class="footer-list-title">Services</p>
            </li>
            <li>
                <a href="#" class="footer-link">功能1</a>
            </li>
            <li>
                <a href="#" class="footer-link">功能2</a>
            </li>
            <li>
                <a href="#" class="footer-link">功能3</a>
            </li>
            <li>
                <a href="#" class="footer-link">功能4</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <p class="footer-list-title">Community</p>
            </li>
            <li>
                <a href="https://sdgs.un.org/goals" class="footer-link" target="_blank"
                   rel="noopener noreferrer">SDGs</a>
            </li>
            <li>
                <a href="https://www.unep.org/zh-hans" class="footer-link" target="_blank" rel="noopener noreferrer">UNEP</a>
            </li>
            <li>
                <a href="https://www.greenpeace.org.cn/" class="footer-link" target="_blank" rel="noopener noreferrer">Green
                    Peace</a>
            </li>
            <li>
                <a href="https://www.fon.org.cn/" class="footer-link" target="_blank"
                   rel="noopener noreferrer">自然之友</a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p class="copyright">
            &copy; 2024 Waste Management. All Rights Reserved by <a href="#home" style="display: inline-block;">Clash
            group</a>
        </p>
    </div>
</footer>