<header class="header">
    <div class="container" data-header>
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/individual/index" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="/individual/create" class="menu__link">Create</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">aa</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">aa</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">aa</a>
                    </li>
                    <li class="menu__item">
                        <div class="information">
                            <div class="user-info">
                                <span>{{ user.username }}</span>
                                <span>{{ user.status | enum_to_string }}</span>
                            </div>
                            <a href="#" id="logoutButton">
                                <img src="../static/image/icon/exit.svg" alt="exit" style="width: 1.5em">
                            </a>
                        </div>

                    </li>
                </ul>
            </nav>
            <a href="/" class="header__logo">
                <img src="../static/image/icon/skyline.png" alt="logo" class="logo__img">
            </a>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>