<header class="header">
    <div class="container" data-header>
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#about" class="menu__link">{{ _("About") }}</a>
                    </li>
                    <li class="menu__item">
                        <a href="#service" class="menu__link">{{ _("Service") }}</a>
                    </li>
                    <li class="menu__item">
                        <a href="#flow" class="menu__link">{{ _("Flow") }}</a>
                    </li>
                    <li class="menu__item">
                        <a href="#feature" class="menu__link">{{ _("Manage") }}</a>
                    </li>
                    <li class="menu__item">
                        <a href="#footer" class="menu__link">{{ _("Contact") }}</a>
                    </li>
                    <li class="menu__item">
                        <a href="/lpage" class="menu__link"
                           style="font-weight: 600; padding: 10px;border-radius: 10px; border: 2px solid var(--border-color)">{{ _("LOGIN") }}</a>
                    </li>
                </ul>
            </nav>
            <a href="/" class="header__logo">
                <img src="../static/image/icon/skyline.png" alt="logo" class="logo__img">
            </a>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>