<!DOCTYPE html>
<html lang="{{ session.get('language', 'en') }}" data-theme="{{ session.get('theme', 'light') }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googlefonts.cn/css?family=Do+Hyeon|Libre+Baskerville|Merriweather|Modern+Antiqua|Roboto+Slab|Slabo+27px|Ubuntu"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login_style.css"/>
    <link rel="stylesheet" href="../static/css/colors.css"/>
    <link rel="stylesheet" href="../static/css/switch.css"/>
    {#    <link rel="stylesheet" href="../static/css/pico.conditional.min.css">#}
    <link rel="shortcut icon" href="../static/image/icon/skyline.png">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/switch.js"></script>
    <script>
        const loginUrl = "{{ url_for('login.log') }}";
        const registerUrl = "{{ url_for('login.register') }}";
        const forgetUrl = "{{ url_for('login.forget') }}";
        const departmentUrl = "{{ url_for('department.index') }}";
        const governmentUrl = "{{ url_for('government.index') }}";
        const individualUrl = "{{ url_for('individual.index') }}";
        const wasteUrl = "{{ url_for('waste.index') }}";
        const themeUrl = "{{ url_for('utils.switchTheme') }}";
        const langUrl = "{{ url_for('utils.switchLanguage') }}";
    </script>

    <title>{{ _("Login Page") }}</title>
</head>

<body>
<dialog id="myDialog">
    <h2>{{ _("Choose your identity") }}</h2>
    <form method="dialog">
        <p>
            <label>
                {{ _("Three types:") }}
                <select id="status">
                    <option value="default" disabled>{{ _("Choose…") }}</option>
                    <option value="DEPARTMENT_MANAGER">{{ _("Development") }}</option>
                    <option value="GOVERNMENT_MANAGER">{{ _("Government") }}</option>
                    <option value="INDIVIDUAL_USER">{{ _("Individual user") }}</option>
                </select>
            </label>
        </p>
        <div class="dialog-buttons">
            <button type="button" id="closeDialog">{{ _("Cancel") }}</button>
            <button type="submit" id="confirmBtn">{{ _("Confirm") }}</button>
        </div>
    </form>
</dialog>


<!-- Main login container -->
<div class="login_container" id="login_container">

    <!-- Registration form container -->
    <div class="form-container sign-up">
        <!-- 默认访问当前的路由 -->
        <!-- 可以url -->
        <!-- 可以直接路由名 -->
        <form id="registerForm" method="post">
            <h1>{{ _("Create Account") }}</h1>
            <div class="information"></div>
            <span style="text-align: center" class="remind">{{ _("by use your email for registering") }}<br>
            password needs [a-z], [A-Z], [0-9] and [@$!%*?&#]</span>

            <input type="text" placeholder={{ _("Username") }} id="signUpUsernameField" name="signUpUsernameField"/>
            <input type="email" placeholder={{ _("Email") }} id="signUpEmailField" name="signUpEmailField"/>

            <input
                    type="password"
                    placeholder={{ _("Password") }}
                            id="signUpPasswordField"
                    name="signUpPasswordField"
            />
            <button type="button" id="changeSignUpPassword" class="show">{{ _("Show Password") }}</button>
            <a href="#" class="findPassword" onclick=showDialog()>
                {{ _("Choose one identity?") }}
            </a>
            <button type="button" id="signUpSubmitField">{{ _("Register") }}</button>
            <h3 id="identity"></h3>
        </form>
    </div>

    <!-- Login form container -->
    <div class="form-container sign-in">
        <form id="loginForm" method="post">
            <h1>{{ _("Enter System") }}</h1>
            <div class="information"></div>
            <span class="remind">{{ _("by use your username and password") }}</span>
            <input type="text" placeholder={{ _("Username") }} id="signInUsernameField" name="signInUsernameField"/>

            <input
                    type="password"
                    placeholder={{ _("Password") }}
                            id="signInPasswordField"
                    name="signInPasswordField"
            />

            {#            {{ form.login_form.login_username(placeholder="Username",id="signInUsernameField") }}#}
            {#            {{ form.login_form.login_password(placeholder="Password",id="signInPasswordField") }}#}

            <button type="button" id="changeSignInPassword" class="show">{{ _("Show Password") }}</button>
            <a href="#" class="findPassword" onclick="document.getElementById('getPassword').style.display='block'">
                {{ _("Forget Your Password?") }}
            </a>
            <button type="button" id="signInSubmitField">{{ _("Login") }}</button>
        </form>
    </div>

    <!-- Change form panels (Register and Login switches) -->
    <div class="change-container">
        <div class="change">
            <div class="change-panel change-left">
                <h1>{{ _("Welcome Back!") }}</h1>
                <p>{{ _("Enter your personal details to use all site features") }}</p>
                <button class="hidden" id="login">{{ _("Switch to Login") }}</button>
                <div id="register-message">
                    <span>{{ _("Password must contain the following:") }}</span> <br>
                    <div id="length" class="invalid remind">{{ _("length from") }} <b>4</b> - <b>20</b></div>
                    <br>
                    <div id="letter" class="invalid remind">{{ _("A") }} <b>{{ _("lowercase") }}</b> {{ _("letter") }}
                    </div>
                    <br>
                    <div id="capital" class="invalid remind">{{ _("A") }} <b>{{ _("uppercase") }}</b> {{ _("letter") }}
                    </div>
                    <br>
                    <div id="number" class="invalid remind">{{ _("A") }} <b>{{ _("number") }}</b></div>
                    <br>
                    <div id="special" class="invalid remind">{{ _("A") }} <b>{{ _("special") }}</b> {{ _("letter") }}
                    </div>
                    <br>
                </div>
            </div>

            <div class="change-panel change-right">
                <h1>{{ _("Hello Friend!") }}</h1>
                <p>{{ _("Register with your personal details to use all site features") }}</p>
                <button class="hidden" id="register">{{ _("Switch to Register") }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Password reset modal -->
<div id="getPassword" class="modal">
    <form class="modal-content animate" method="post" id="findForm">
        <div class="imgcontainer">
                <span onclick="document.getElementById('getPassword').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
            <img src="../static/image/forgetHead.png" alt="头像" class="avatar"/>
        </div>
        <div class="find-container">
            <label for="find_uname"><b>{{ _("Username") }}</b></label>
            <input type="text" placeholder={{ _("Enter Username") }} id="find_uname" name="find_uname"/>

            {#            {{ form.find_form.find_username(placeholder="Enter Username" ,id="find_uname") }}#}
            <label for="find_email"><b>{{ _("Email") }}</b></label>
            <input type="email" placeholder={{ _("Enter Email") }} id="find_email" name="find_email"/>

            <label for="find_password"><b>{{ _("New password") }}</b></label>
            <input type="password" placeholder={{ _("Enter new password") }} id="find_password" name="find_password"/>

            {#            {{ form.find_form.find_email(placeholder="Enter Email",id="find_email") }}#}
            <button type="submit" id="findPassword">{{ _("Retrieve Password") }}</button>
        </div>
    </form>
</div>

{% include 'switch.html' %}

<script>
    const container = document.getElementById("login_container"),
        registerBtn = document.getElementById("register"),
        loginBtn = document.getElementById("login"),
        registerButton = document.getElementById("signUpSubmitField");
    const signUpUsernameField = document.getElementById("signUpUsernameField");
    const signUpEmailField = document.getElementById("signUpEmailField");
    const signUpPasswordField = document.getElementById("signUpPasswordField");
    const signInUsernameField = document.getElementById("signInUsernameField");
    const signInPasswordField = document.getElementById("signInPasswordField");
    const findUsernameField = document.getElementById("find_uname");
    const findEmailField = document.getElementById("find_email");
    const letter = document.getElementById("letter");
    const capital = document.getElementById("capital");
    const number = document.getElementById("number");
    const special = document.getElementById("special");
    const length = document.getElementById("length");
    let couldType = false;

    registerBtn.addEventListener("click", () => {
        clearFormFields();
        container.classList.add("active");
    });

    loginBtn.addEventListener("click", () => {
        clearFormFields();
        container.classList.remove("active");
    });

    function clearFormFields() {
        signUpUsernameField.value = "";
        signUpEmailField.value = "";
        signUpPasswordField.value = "";
        signInUsernameField.value = "";
        signInPasswordField.value = "";
        findUsernameField.value = "";
        findEmailField.value = "";
        letter.classList.remove("valid");
        letter.classList.add("invalid");
        capital.classList.remove("valid");
        capital.classList.add("invalid");
        number.classList.remove("valid");
        number.classList.add("invalid");
        special.classList.remove("valid");
        special.classList.add("invalid");
        length.classList.remove("valid");
        length.classList.add("invalid");
        couldType = false;
        registerButton.classList.add("notallow");
        registerButton.disabled = true;
    }

    const changeSignUpPassword = document.getElementById(
        "changeSignUpPassword"
    );
    const changeSignInPassword = document.getElementById(
        "changeSignInPassword"
    );

    changeSignUpPassword.addEventListener("click", function () {
        changePasswordVisibility(signUpPasswordField, changeSignUpPassword);
    });

    changeSignInPassword.addEventListener("click", function () {
        changePasswordVisibility(signInPasswordField, changeSignInPassword);
    });

    function changePasswordVisibility(passwordField, changeButton) {
        if (passwordField.type === "password") {
            passwordField.type = "text";
            changeButton.textContent = "Hide Password";
        } else {
            passwordField.type = "password";
            changeButton.textContent = "Show Password";
        }
    }

    const modal = document.getElementById("getPassword");

    // 当用户点击模态之外的任何地方时，关闭它
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };
    signUpPasswordField.onfocus = function () {
        document.getElementById("register-message").style.visibility = "visible";
    }

    // 当用户在密码字段外点击时，隐藏消息框
    signUpPasswordField.onblur = function () {
        document.getElementById("register-message").style.visibility = "hidden";
    }


    signUpPasswordField.onkeyup = function () {
        // 验证小写字母
        let lowerCaseLetters = /[a-z]/g;
        if (signUpPasswordField.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // 验证大写字母
        const upperCaseLetters = /[A-Z]/g;
        if (signUpPasswordField.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // 验证数字
        const numbers = /[0-9]/g;
        if (signUpPasswordField.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        const specialLetters = /[@$!%*?&#]/g;
        if (signUpPasswordField.value.match(specialLetters)) {
            special.classList.remove("invalid");
            special.classList.add("valid");
        } else {
            special.classList.remove("valid");
            special.classList.add("invalid");
        }

        const minLength = 4;
        const maxLength = 20;
        if (signUpPasswordField.value.length >= minLength && signUpPasswordField.value.length <= maxLength) {
            length.classList.remove("invalid");
            length.classList.add("valid");
            couldType = true;
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
            couldType = false;
        }
        if (couldType) {
            registerButton.classList.remove("notallow");
            registerButton.disabled = false;
        } else {
            registerButton.classList.add("notallow");
            registerButton.disabled = true;
        }
    }

    const dialog = document.getElementById('myDialog');
    const closeButton = document.getElementById('closeDialog');

    // 显示对话框
    function showDialog() {
        dialog.showModal(); // 或者 dialog.show() 根据你的需求
    }

    // 关闭对话框
    closeButton.addEventListener('click', () => {
        dialog.close();
    });

    const statusSelect = document.getElementById('status');
    const identityDiv = document.getElementById('identity');
    const confirmBtn = document.getElementById('confirmBtn');
    confirmBtn.addEventListener('click', () => {
        identityDiv.textContent = statusSelect.value;
    });


    // 假设有一个按钮用于打开对话框

    $(document).ready(function () {
        $('#signInSubmitField').click(function () {
            const username = $('#signInUsernameField').val();
            const password = $('#signInPasswordField').val();

            // 构造要发送的数据
            const loginData = {
                username: username,
                password: password
            };
            // 使用 jQuery 发送 AJAX POST 请求
            $.ajax({
                url: loginUrl,  // Flask 路由的 URL
                type: 'POST',
                contentType: 'application/json',  // 发送数据的格式
                data: JSON.stringify(loginData),  // 将 JavaScript 对象转换为字符串
                dataType: 'json',  // 预期的服务器响应的数据类型
                success: function (response) {
                    console.log(response);
                    // 根据响应处理逻辑，例如重定向或显示消息
                    if (response.message === 'Login successful') {
                        const target = response.target;
                        if (target === 'department') {
                            window.location.href = departmentUrl;  // 登录成功后的重定向
                        } else if (target === 'government') {
                            window.location.href = governmentUrl;  // 登录成功后的重定向
                        } else if (target === 'waste') {
                            window.location.href = wasteUrl;  // 登录成功后的重定向
                        } else {
                            window.location.href = individualUrl;  // 登录成功后的重定向
                        }
                    } else {
                        console.error(response.message);  // 显示错误消息
                        alert(response.message);  // 显示错误消息
                    }
                },
                error: function (xhr, status, error) {
                    // 处理错误情况
                    console.error("Error: " + status + " " + error);
                }
            });
        });

        $('#signUpSubmitField').click(function () {
            const username = $('#signUpUsernameField').val();
            const email = $('#signUpEmailField').val();
            const password = $('#signUpPasswordField').val();
            const status = $('#status').val();
            // 构造要发送的数据
            const registerData = {
                username: username,
                email: email,
                password: password,
                status: status
            };
            // 使用 jQuery 发送 AJAX POST 请求
            $.ajax({
                url: registerUrl,  // Flask 路由的 URL
                type: 'POST',
                contentType: 'application/json',  // 发送数据的格式
                data: JSON.stringify(registerData),  // 将 JavaScript 对象转换为字符串
                dataType: 'json',  // 预期的服务器响应的数据类型
                success: function (response) {
                    console.log(response);
                    // 根据响应处理逻辑，例如重定向或显示消息
                    if (response.message === 'successful') {
                        const target = response.target;
                        if (target === 'department') {
                            window.location.href = departmentUrl;  // 登录成功后的重定向
                        } else if (target === 'government') {
                            window.location.href = governmentUrl;  // 登录成功后的重定向
                        } else if (target === 'waste') {
                            window.location.href = wasteUrl;  // 登录成功后的重定向
                        } else {
                            window.location.href = individualUrl;  // 登录成功后的重定向
                        }
                    } else {
                        console.error(response.message);  // 显示错误消息
                        alert(response.message);  // 显示错误消息
                    }
                },
                error: function (xhr, status, error) {
                    // 处理错误情况
                    console.error("Error: " + status + " " + error);
                }
            });
        });
    });


</script>
</body>
</html>


