<div class="swiper" >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" >
        <!-- Slides -->
        <div class="swiper-slide"><h4>{{ _("Heavy metal water") }}</h4>
            <p>{{ _("Produced from metallurgical industry, electroplating factory, mine, etc.,
                    containing lead, cadmium, mercury and other heavy metals. If this kind of
                    wastewater is discharged directly without treatment, it will seriously pollute
                    the water source and endanger the ecological environment and human health.") }}</p>
        </div>
        <div class="swiper-slide"><h4>{{ _("Exhaust gas") }}</h4>
            <p>{{ _("It mainly comes from the combustion of fuel in the industrial production process,
                    including sulfur dioxide, nitrogen oxides and other harmful gases. The emission
                    of waste gas not only leads to air pollution, but also may cause environmental
                    problems such as acid rain and greenhouse effect.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Mineral residue") }}</h4>
            <p>{{ _("It is produced during mining and mineral processing, mainly including rock
                    fragments and mineral processing by-products. These residues, if not properly
                    disposed of, can take up large amounts of land and affect soil and water
                    quality.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Cutting fluid") }}</h4>
            <p>{{ _("Used in metal working to reduce temperature and friction and extend tool life.
                    Contains mineral oil, emulsifier and other ingredients, if untreated directly
                    discharged, will pollute water and soil.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Metal chips") }}</h4>
            <p>{{ _("The debris and chips produced during metal processing may contain metals such as
                    iron, copper, and aluminum. If the recycling is not proper, not only waste
                    resources, but also may cause environmental pollution.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Plastic waste") }}</h4>
            <p>{{ _("Waste plastics produced in the manufacturing process of high-end mechanical
                    equipment, including parts packaging, protective film, etc. Plastics decompose
                    slowly, and improper disposal can lead to serious soil and water pollution.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Composite metal cutting waste") }}</h4>
            <p>{{ _("Waste produced when cutting composite materials such as carbon fiber and glass
                    fiber. These wastes are difficult to degrade and can cause long-term pollution
                    to the environment if not handled properly.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Waste paint fluid") }}</h4>
            <p>{{ _("Including expired paint, residual paint mist in the spraying process. Contains
                    organic solvents and heavy metals, causing pollution to water and soil, and is
                    also harmful to human health.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Dust") }}</h4>
            <p>{{ _("Fine particles produced during material processing, cutting, grinding, etc.
                    Long-term exposure to dust is not only harmful to the environment, but also may
                    cause harm to the human respiratory system.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Chemicals things") }}</h4>
            <p>{{ _("Waste chemicals produced in laboratories or chemical manufacturing processes,
                    including raw materials, by-products, etc. that have not been completed in the
                    reaction. If these chemicals are not handled properly, they may cause soil and
                    water pollution, fire, explosion and other safety accidents") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Catalyzer") }}</h4>
            <p>{{ _("A substance that accelerates the rate of a chemical reaction without being
                    consumed. The catalyst after use may contain harmful substances and requires
                    special treatment to prevent environmental pollution.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Chemical propellants") }}</h4>
            <p>{{ _("Chemicals used in rockets and missiles to generate thrust. These substances are
                    extremely corrosive and polluting to the environment and require rigorous
                    disposal and recycling procedures.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Fuel residues") }}</h4>
            <p>{{ _("Waste generated during the production and use of new energy, such as biomass
                    energy and solar panel manufacturing. These residues, if not handled properly,
                    will pollute the environment") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Discarded electronic components") }}</h4>
            <p>{{ _("Including discarded chips, circuit boards, displays and other electronic
                    equipment components. It contains heavy metals and harmful chemicals and poses a
                    serious threat to the environment.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Hydraulic oils") }}</h4>
            <p>{{ _("Oils used to transmit power in machinery and equipment. If the hydraulic oil
                    after use is discharged directly without treatment, it will seriously pollute
                    water and soil.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Lubricant waste") }}</h4>
            <p>{{ _("Waste lubricating oil produced during equipment maintenance, including oil, gear
                    oil, etc. These waste oils contain harmful substances and need to be
                    professionally treated for reuse or disposal.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Hazardous chemicals") }}</h4>
            <p>{{ _("Hazardous chemicals used in laboratories, including corrosive, toxic, flammable
                    and explosive hazardous chemicals. These chemicals need to be stored, used and
                    disposed of in strict accordance with dangerous goods regulations.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Waste experimental equipment") }}</h4>
            <p>{{ _("Including damaged experimental instruments, experimental consumables that have
                    been unable to be used. These wastes may contain harmful chemical residues and
                    require special treatment to prevent contamination.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Waste paper") }}</h4>
            <p>{{ _("Waste paper generated in offices, schools, etc., including documents, newspapers,
                    magazines, etc. Waste paper is a recyclable resource, but if it is not handled
                    properly, it will cause resource waste and environmental pollution.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Household waste") }}</h4>
            <p>{{ _("Waste from household daily life, including kitchen waste, plastic, paper, etc.
                    Different types of household waste need to be sorted to reduce the impact on the
                    environment.") }}</p>
        </div>

        <div class="swiper-slide"><h4>{{ _("Waste heat") }}</h4>
            <p>{{ _("Waste heat generated during the operation of data centers, factories, etc. If not
                    recycled, this waste heat not only wastes energy, but also may cause local
                    environmental temperatures to rise, affecting the ecological balance.") }}</p>
        </div>
    </div>
    <div class="swiper-button-next">
    </div>
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-pagination"></div>
</div>
