<div class="top">
    <img src="../static/image/icon/menu.svg" alt="menu" class="icon-menu icons sidebar-toggle">
    <div class="search-box">
        <label>
            <img src="../static/image/icon/search.svg" alt="search" class="icons icon-search">
            <input type="text" placeholder="Search...">
        </label>
    </div>
    {% if user %}
        {% set status = user.status|enum_to_string %}
        {% if status == 'Waste Manager' %}
            <div class="pico" role="group">
                <button class="secondary" id="create-dept">Dept+</button>
                <button class="secondary" id="create-waste">Waste+</button>
            </div>
        {% endif %}
        <div class="user-box">
            <div class="user-info">
                <p class="user-name">{{ user.username }}</p>
                <p class="user-email">{{ user.email }}</p>
                {% if status == 'Department Manager' %}
                    <p class="user-department" data-did="{{ departmentDID }}">{{ department }}</p>
                {% endif %}
            </div>
        </div>


    {% endif %}
</div>